
mixin head

  head(data-theme='#{theme}', data-revision=revision)

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')

    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="theme-color" content="#ffffff")
    meta(name="title" property="og:title" content="")
    meta(name="description" content="")
    meta(name="robots" content="")

    meta(name="doe.security.public" content="yes")
    meta(name="doe.orgunit" content="Teaching and learning")
    meta(name="doe.category" content="")
    meta(name="doe.audience" content="")
    meta(name="doe.topic" content="")
    meta(name="doe.tags" content="")
    meta(name="doe.job" content="")
    meta(name="doe.subjob" content="")
    meta(name="doe.yearlevel" content="")
    
    meta(property="og:description" content="Home Page")
    meta(property="og:title" content="")
    meta(property="og:type" content="")
    meta(property="og:image" content="")
    meta(property="og:url" content="")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="")
      
    meta(name="dcterms.identifier" content="")
    meta(name="dcterms.creator" content="")
    meta(name="dcterms.publisher" content="")
    meta(name="dcterms.rights" content="")
    meta(name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00")
    meta(name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00")
    meta(name="dcterms.subject" content="")
    meta(name="dcterms.language" content="dcterms.RFC5646; en-AU")
    meta(name="dcterms.format" content="dcterms.IMT; jpeg")
    meta(name="dcterms.type" content="text")
    meta(name="dcterms.audience" scheme="" content="All")
    meta(name="dcterms.coverage" content="Australia")
    meta(name="dcterms.rights" content="")
    meta(name="dcterms.isPartOf" content="")
    meta(name="dcterms.hasPart" content="")
    meta(name="dcterms.relation" content="")

    meta(name="AGLSTERMS.accessibility" content="W3C")
    meta(name="AGLSTERMS.protectiveMarking" content="Unclassified")
    meta(name="AGLSTERMS.function" content="")
    meta(name="AGLSTERMS.accessibility" content="W3C")
    meta(name="AGLSTERMS.function" content="EDUCATION AND TRAINING")
    meta(name="AGLSTERMS.protectiveMarking" content="Unclassified")

    link(rel="schema.dcterms" href="https://purl.org/dc/terms/")
    link(rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/")
    link(rel="canonical" href="")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png")
    link(rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037")
        
    //-- base(href=baseUrl)

    link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
    link(rel='stylesheet', href='//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css')
    link(rel='stylesheet', href='//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:300,500,600')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css')
    link(rel='stylesheet', href='//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r='+revision,  media='screen')
    link(rel='stylesheet', href='//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r='+revision, media='print')
    
    link(rel='stylesheet', href='assets/css/site.css?r='+revision, media="screen")
    link(rel='stylesheet', href='assets/css/print.css?r='+revision, media="print")

    title #{pageName} | #{siteName}

    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
    <![endif]-->
