//--- Include your site level JS scripts here
script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js' type='text/javascript')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' type='text/javascript')
script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js' type='text/javascript')
script(src='//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' type='text/javascript' )
script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js' type='text/javascript')
