//--- VARIABLES
//---------------------------------------------------------

- var siteName        = "Section name"
- var corporateName   = "NSW Department of Education"
- var corporateNameShort = "NSW DoE"
- var theme           = "common"
- var siteConfigPath  = "config/"
- var baseUrl         = ""
