//--- INCLUDES
//---------------------------------------------------------

//--- foundation
include _foundation.pug

//-- patterns
include includes/document-history-content.pug
include includes/date-block.pug
include includes/edconnect-drawer.pug
//- include includes/education-banner.pug
include includes/edu-feedback-form.pug
include includes/edu-skiplinks-only-homepage.pug
include includes/erm-icon-label.pug
include includes/general-content.pug
include includes/general-erm-content.pug
include includes/highlight-panel.pug
include includes/highlight-panel-image-size.pug
include includes/highlight-panel-image-manipulation.pug
include includes/policy-content.pug
include includes/policy-disclaimer-print.pug
include includes/policy-landing-header.pug
include includes/policy-side-navigation.pug
include includes/private-primary-hub-header.pug
include includes/public-primary-hub-header.pug
include includes/secondary-hub-header.pug
include includes/staff-essentials-links.pug
include includes/tabbed-calendar.pug
include includes/edu-select-variation.pug
include includes/theme-demo-content.pug
include includes/theme-demo-content-grid-images.pug
include includes/theme-demo-content-grid-typography.pug
include includes/theme-demo-content-grid.pug
include includes/theme-demo-content-grid-colour-pallette.pug
include includes/edu_footer_partnership_variant_no_social_media.pug
include includes/edu-link-list-with-misc.pug
include includes/edu-rhs-links-social.pug
include includes/edu-news-hub's-article-variation.pug
include includes/mega-menu-variant-nosearch.pug
include includes/sws-local-mobile-nav-variant.pug
include includes/edu-global-footer.pug
include includes/edu-section-footer.pug
include includes/edu-school-calendar.pug
//- include includes/edu-banner.pug
include includes/edu-home-banner.pug
include includes/edu-highlight-panel-image.pug
include includes/edu-tools-panel.pug
include includes/overrides.pug
include includes/edu-provide-feedback-form.pug
include overides/_banner.pug
include includes/secretarys-update.pug
include includes/share-this.pug
include includes/edu-content-container.pug
include includes/edu-link-columns.pug
