mixin gel_drawer_tab_contents()
  | Ask for help
  span.gel-connect_icon.fas.fa-question-circle

mixin gel_drawer_panel_contents(has_script)
  h6
    | Contact EDConnect
  p 
    a.gel_education_link.contactPhone.gel-remove-external-link(href="tel:1300323232")
      | 1300 32 32 32
  p
    a.gel_education_link(href="https://servicemanagement.det.nsw.edu.au/kinetic/DisplayPage?name=Identify_Client&form=SelfService")
      | Send your query online
  p
    a.gel_education_link(href="https://detwww.det.nsw.edu.au/lists/directoratesaz/edconnect/index.htm")
      | What is EDConnect?
      
  if (has_script)
    <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdyJZZysGBudq8QXA4Vzlajl6Man4qCN_2BoHvCCL3o8JWz.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>


  button.btn.gel-button.gel-button-secondary.gel-button-small.drawer-close(type="button", data-gef-ariatoggler-closebutton)
    span.show-on-sr
      | Close
    span.fas.fa-times


mixin gel_education_drawer(has_script)

  - var id = "drawer" + Math.floor((Math.random() * 1000) + 1)

  aside.gel-drawer(aria-label="drawer" id= id+"tabContainer")
    div(role="tablist")
      a(href="#" + id, id= id+"tab" role="tab", aria-controls= id, aria-expanded="false")
        +gel_drawer_tab_contents

    div(id= id, role="tabpanel", aria-labelledby= id+"tab", aria-hidden="true", aria-label="tabpanel")
      +gel_drawer_panel_contents(has_script)
