//--- ************************ ---//
//--- BANNER ---//
//--- ************************ ---//

//- Banner image pattern.
//- There are two types: large with content + CTA &amp; small narrow image banner only.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {object} image_src - banner image width and height
  | //- @param {boolean} small_banner - True if small banner otherwise big banner
  | +edu_home_banner(image_src, small_banner)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin edu_home_banner(image_src, small_banner)

  - var additionalBannerClass =''

  if small_banner
    - var additionalBannerClass = 'gel-banner-container--small'
  
  aside.edu-banner-container.gel-banner-container(aria-label='banner')
    .home-banner-container.row
      .edu-banner
        .edu-banner-image-container
          img.edu-banner-image(src='assets/images/banner-school-01.jpg', alt='')
          .edu-banner-background-image  
        .edu-banner-textbox-container
          .edu-banner-textbox
            h1.edu-banner-header Welcome to the Department of education NSW
            p
              | The new school year just a couple of weeks away, make sure you're as prepared as can be for this years adventure. 
              br
              a.btn.gel-button.gel-button-primary.gel-button-small(href='#') Read more
            hr
            .edu-banner-search
              p Search public department content
              .edu-banner-search-form
                form#global-search-home-banner.gel-search.gel-search--body(action='https://education.nsw.gov.au/search', aria-hidden='false', aria-labelledby='global-search-banner-button')
                  fieldset
                    legend.show-on-sr Global Search

                    .gel-searchbox.gel-border.gel-large
                      .form-group
                        .input-group
                          input.form-control(type='text' placeholder='Enter your search...' name="q")
                          .input-group-append
                            button.btn.gel-button(type='submit', aria-label='Submit search', tabindex='0')
                              span.fas.fa-search            
