//--- *************** ---//
//--- EDU BOTTOM GLOBAL FOOTER ---//
//--- *************** ---//

//- A container that serves global footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
	| //- Added: 1.0.0
	| +education_global_footer
	| @param {int} colCount - number of columns (max 3)
	| @param {int} linkCount - number of links
	| @param {bool} isWhiteLogo - switch to white corporate logo
	| @param {bool} isCondensed - switch to condensed list


mixin usage
	pre
		code.language-jade
			+documentation


//--- MIXINS ---//
//---------------------------------------------------------


mixin education_global_footer
	div.uk-width-1-1.gel-global-footer
		div
			h1.show-on-sr
				| #{corporateName}

			div.uk-container.uk-container-center.edu-global-section

				div.uk-grid

					div.uk-width-medium-5-10.uk-width-large-4-10.gel-global-footer__logo
						div.gel-corporate-logo
							a.gel-corporate-logo__link(href="https://education.nsw.gov.au" title="NSW Department of Education")
								img.gel-corporate-logo__image(src="assets/images/doe-logo-white-retina.png" alt="NSW Department of Education logo")


					div.edu-other-sites-wrapper.uk-width-medium-5-10.uk-width-large-6-10

						nav.uk-grid
							h2.show-on-sr
								| Copyright, privacy and accessibility
							div.uk-width-medium-1-2.uk-width-large-1-2

								ul.gel-link-list.gel-linkgroups-items
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Accessibility
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Information access
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Privacy
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Copyright

							div.uk-width-medium-1-2.uk-width-large-1-2

								ul.gel-link-list.gel-linkgroups-items
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Policy library
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Department contacts
									li
										span.uk-icon-angle-right(aria-hidden="true")
										a(href="#") Our Ministers

		div.edu-footerimage-wrapper
			div.uk-width.edu-footerimage-container.edu-footer-bkgimage

	div.uk-container.uk-container-center.gel-copyright-print
		p
			| This information is current as at DD/MM/YYYY hr:min am/pm, AEDT. For the most up-to-date information, go to https://education.nsw.gov.au/XXXXX.
		p
			| &copy; State of New South Wales (Department of Education), 2018. For more information go to https://education.nsw.gov.au/about-us/rights-and-accountability/copyright.
