//--- ************************ ---//
//--- BANNER ---//
//--- ************************ ---//

//- Banner image pattern.
//- There are two types: large with content + CTA &amp; small narrow image banner only.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0 / Updated: 1.0.1
  | //- @param {object} image_src - banner image width and height
  | //- @param {boolean} small_banner - True if small banner otherwise big banner
  | +edu_banner(image_src, small_banner)

mixin usage
  pre
    code.language-jade
      +documentation


//--- OUTPUT ---//
//---------------------------------------------------------

mixin edu_banner(image_src, small_banner)

  - var additionalBannerClass =''

  if small_banner
    - var additionalBannerClass = 'gel-banner-container--small'

  aside.edu-banner-container(class=additionalBannerClass aria-label="banner")

    div.uk-container.uk-container-center
        div.edu-banner
          div.edu-banner-image-container
            img.edu-banner-image(src="assets/images/Optimised_Hero_6.jpg" alt="Photo for banner")
            div.edu-banner-background-image
            //div.edu-banner-shading

          div.edu-banner-textbox-container

            div.edu-banner-textbox
              h1.edu-banner-header
                | Welcome to the Department of education NSW
              p
                | The Secretary, NSW Department of Education, has a special message as the working year comes to a close.
                | <a href="" class="edu-chevron">Watch our 2018 highlights</a>

              hr

              div.edu-banner-search
                p
                  | Search the Department of Education topics

                div.edu-banner-search-form
                  form#global-search-home-banner.gel-search.uk-form.gel-search--body(action="https://education.nsw.gov.au/search", aria-hidden="false", aria-labelledby="global-search-banner-button")
                    fieldset
                      input(type="hidden", name="site", value="public_ce_dec_nsw_gov_au")
                      legend.show-on-sr Global Search
                      label(for="banner-search")
                        span.show-on-sr Enter your search
                      input#banner-search.uk-form-large(type="text", name="q", placeholder="Search", tabindex="0", maxlength="254")
                      button#global-search-banner-button(type="submit", aria-label="Submit search", tabindex="0")
                        span.show-on-sr Search
                        i.uk-icon-search


                div.edu-banner-search-links

                  a(href="#") school holidays
                    span(aria-hidden="true")
                  | #{' '}
                  a(href="#") school finder
                    span(aria-hidden="true")
                  | #{' '}
                  a(href="#") astp
                    span(aria-hidden="true")
                  | #{' '}
                  a(href="#") future focused learning
                    span(aria-hidden="true")
                  | #{' '}
                  a(href="#") selective schools
                    span(aria-hidden="true")
                  | #{' '}
                  a(href="#") aboriginal education policy
                    span(aria-hidden="true")
                  | #{' '}
