//--- *************** ---//
//--- EDU CONTENT CONTAINER ---//
//--- *************** ---//

- var name = "Content Container"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | The Content Container is an article section in the page that provides a detailed information about a topic. It may contain heading, image, paragraph, items list and managed in a WYSIWYG editor.

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +edu-content-container('background-alt1')


mixin output
  +edu-content-container('background-alt1')


//--- MIXINS ---//
//---------------------------------------------------------

//-- ETA-1320 | Content container with expanded nav inside 
mixin gel_content_container_v2(altValue)

  div(class=altValue).container
    article.gel-content-container
	
      +gel_expanded_nav(11, {hide_mobile_description: true})
