//--- ************************ ---//
//--- RHS social links
//--- ************************ ---//

//- Links containing social media icons

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +gel_select("Select element", 7)

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---//
//---------------------------------------------------------
mixin edu-rhs-links-social(title,count,classfromparent,subclassfromparent)

             div(class=classfromparent)
                div.uk-container
                  h3.gel-block__header.edu-block__header(class=subclassfromparent)
                    | #{title}
                  div.uk-grid
                    div.uk-width.edu-social-media-links
                      +edu-link-list-with-misc(count,0,1)
