

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +provide_feed_back_form

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---// //--- https://cms.uat.det.nsw.edu.au/education-new/feedback?linkasset_id=443021&page_id=421045 ---//

//---------------------------------------------------------
mixin provide_feed_back_form
  form#form_email_768007.gel-form-validate(enctype='multipart/form-data', action='/template-feedback-form-thankyou.html', method='post', novalidate='')
    input#SQ_FORM_768007_PAGE.form-control(type='hidden', name='SQ_FORM_768007_PAGE', value='1')
    input(type='hidden', name='form_email_768007_referral_url', value='https://education.nsw.gov.au/inside-the-department/communication-and-engagement')
    p
      | Use the form below to make a suggestion, give us a compliment or lodge a complaint. Use the comments box to include your feedback.
    p If you would like a copy from your feedback, please include your email address.
    p
      | Take me back to 
      a(href='https://education.nsw.gov.au/inside-the-department/communication-and-engagement') Communication and Engagement
    fieldset
      .gel-form-group
        label(for='q768022_q1') Type of feedback 
        select#q768022_q1.form-control(name='q768022:q1', data-msg-required='Please select a type of feedback.', data-rule-required='true', aria-required='true')
          option(value='', selected='selected') -- Please Select --
          option(value='Compliment') Compliment
          option(value='Suggestion') Suggestion
          option(value='Complaint') Complaint
      .gel-form-group  
        label(for='q768022_q2') Given name 
        input#q768022_q2.form-control(type='text', name='q768022:q2', value='', size='40', maxlength='300', data-rule-validtextnotags='true', data-msg-required='Please specify your given name', data-rule-required='true', aria-required='true')      
      .gel-form-group
        label(for='q768022_q3') Family name 
        input#q768022_q3.form-control(type='text', name='q768022:q3', value='', size='40', maxlength='300', data-rule-validtextnotags='true', data-msg-required='Please specify your family name', data-rule-required='true', aria-required='true')
      .gel-form-group
        label(for='q768022_q4') Email address
        input#q768022_q4.form-control(type='text', name='q768022:q4', value='', size='40', maxlength='300', data-rule-emailfull='true')
      .gel-form-group    
        label(for='q768022_q5') Your comment 
        textarea#q768022_q5.form-control(name='q768022:q5', cols='40', rows='5', onkeyup="if (this.value.length > 400) { this.value = this.value.substr(0,400); alert('This field can contain no more than 400 characters.'); this.focus()}", onblur="if (this.value.length > 400) { this.value = this.value.substr(0,400); alert('This field can contain no more than 400 characters.'); this.focus()}", data-rule-validtextnotags='true', data-msg-required='Please provide your feedback/comments.', data-rule-required='true', aria-required='true')
        p
          | Please provide additional comments
 
      input#form_email_768007_submit.btn.gel-button.gel-button-primary.gel-button-medium(type='submit', name='form_email_768007_submit', value='Submit')
