//--- *************** ---//
//--- EDU SECTION FOOTER ---//
//--- *************** ---//

//- A container that serves global footer content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | +edu_section_footer

mixin usage
  pre
    code.language-jade
      +documentation


//--- MIXINS ---//
//---------------------------------------------------------

mixin edu_section_footer

  //+gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
  aside.gel-section-footer.uk-width-1-1(aria-label="global section footer")

    div.uk-container.uk-container-center
      div.uk-grid.edu-section-footer


        div.uk-width-medium-4-10.uk-width-large-3-10

          ul.uk-list.edu-social-links
            li
              h3
                | Say Hello.
              div.edu-social-icons
                a(href="#" class="gel-remove-external-link" aria-label="NSW DoE profile on Facebook")
                  span(class="uk-icon-facebook" aria-hidden="true" aria-label="facebook icon")
                a(href="#" class="gel-remove-external-link" aria-label="NSW DoE profile on LinkedIn")
                  span(class="uk-icon-linkedin" aria-hidden="true" aria-label="LinkedIn icon")
                a(href="#" class="gel-remove-external-link" aria-label="NSW DoE profile on Twitter")
                  span(class="uk-icon-twitter" aria-hidden="true" aria-label="twitter icon")
                a(href="#" class="gel-remove-external-link" aria-label="NSW DoE profile on Instagram")
                  span(class="uk-icon-instagram" aria-hidden="true" aria-label="Instagram icon")


            li
              div.gel-acknowledgement
                p
                  | We acknowledge the homelands of all Aboriginal people and pay our respect to Country.

        div.uk-width-medium-1-10.uk-width-large-1-10
          |&nbsp;

        div.edu-other-sites.edu-other-sites-wrapper.uk-width-medium-5-10.uk-width-large-6-10

          h3
            | Other department websites

          nav.uk-grid
            div.uk-width-medium-1-2.uk-width-large-1-2

              ul.gel-link-list.gel-linkgroups-items
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") Aboriginal affairs
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") About us
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") Anti-bullying
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") Centre for education statistics and evaluation
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") DE International

            div.uk-width-medium-1-2.uk-width-large-1-2

              ul.gel-link-list.gel-linkgroups-items
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") External affairs and regulation
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") Healthy school canteens
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") Inside the department
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") School infrastructure NSW
                li
                  span.uk-icon-angle-right(aria-hidden="true")
                  a(href="#") teach.NSW
