//--- *************** ---//
//--- EDU LINK COLUMNS ---//
//--- *************** ---//

- var name = "Link Columns"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | Displays a set of links displayed into two columns with the content flowing in an "N" direction.

mixin usage
  h4 Using pug:
  pre
    code.language-pug
      | +gel_link_columns(num, columns, condensed, standalone)


mixin output
  +gel_link_columns(num, columns, condensed, standalone)


//--- MIXINS ---//
//---------------------------------------------------------

//-- ETA-1261 | gel-link-columns-standalone needs to be added on a stand-alone Link Column component
//-- so that the EDU styles wont impact link columns used inside EDU Section Footer for example.
mixin gel_link_columns(num, columns, condensed, standalone)
  - var componentType = ""
  
  if (standalone == true)
    - componentType = " gel-link-columns--standalone"
  
  div(class="gel-link-columns" + componentType)
	
    - var n  = 0
    - var classes = "gel-link-columns--" + columns + "col"

    if (condensed == true)
      - classes = classes + " gel-link-columns--condensed"

    ul(class="gel-link-list gel-link-columns__items " + classes)
      while n < num
        li
          +gel_link_columns_item()
          -n++
