//--- ************************ ---//
//--- SELECT ---//
//--- ************************ ---//

//- Select form element

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {string} label - label for select tag
  | //- @param {int} items - is the number of select options
  | +feed_back_form

mixin usage
  pre
    code.language-jade
      +documentation

//--- MIXINS ---// //--- https://cms.uat.det.nsw.edu.au/education-new/feedback?linkasset_id=443021&page_id=421045 ---//

//---------------------------------------------------------
mixin feed_back_form
 form#form_email_443525.gel-form-validate(enctype="multipart/form-data" action="/template-feedback-form-thankyou.html" method="post")
  input#SQ_FORM_443525_PAGE.sq-form-field(type="hidden" name="SQ_FORM_443525_PAGE" value="1")
  input(type="hidden" name="form_email_443525_referral_url" value="https://cms.uat.det.nsw.edu.au/education/early-childhood/_nocache")

  p
    | Take me back to
    a(href="https://cms.uat.det.nsw.edu.au/education/early-childhood")
      | Early Childhood Education
  p
    | Send us your feedback! Please fill out the form below and submit your feedback to us.
  p
    abbr.sq-form-required-field * marked fields are mandatory.
  fieldset

    .gel-form-group
      label.sq-form-question-title(for="q443527_q14")
        | Type of feedback
        abbr.sq-form-required-field(title="required" aria-hidden="true") *
      br
      select#q443527_q14.sq-form-field(name="q443527:q14" data-msg-required="Please select a type of feedback." data-rule-required="true" aria-required="true")
        option(value="" selected="selected") -- Please Select --
        option(value="positive") Positive
        option(value="suggestion") Suggestion
        option(value="complaint") Complaint
    .gel-form-group
      label.sq-form-question-title(for="q443527_q15")
        | Full name
        abbr.sq-form-required-field(title="required") *
      br
      input#q443527_q15.sq-form-field(type="text" name="q443527:q15" value="" size="40" maxlength="300" data-rule-validtextnotags="true" data-msg-required="Please specify your full name" data-rule-required="true" aria-required="true")
    .gel-form-group
      label.sq-form-question-title(for="q443527_q16") Email
      br
      input#q443527_q16.sq-form-field(type="email" name="q443527:q16" value="" size="43" maxlength="300" data-rule-emailfull="true")
    .gel-form-group
        label(for="date") Date of Incident:
        abbr.sq-form-required-field(title="required") *
        span.gel-smaller-text
          | (date&nbsp;format&nbsp;dd/mm/yyyy)
        br
        input#date(name="date" size="20" type="text" data-rule-australianDate="true" data-rule-required="true" data-msg-required="Please specify a valid date"  aria-required="true")
    .gel-form-group
      label.sq-form-question-title(for="q443527_q17")
        | Comments
        abbr.sq-form-required-field(title="required") *
      br
      textarea#q443527_q17.sq-form-field(name="q443527:q17" cols="41" rows="5" onkeyup="if (this.value.length > 300) { this.value = this.value.substr(0,300); alert('This field can contain no more than 300 characters.'); this.focus()}", onblur="if (this.value.length > 300) { this.value = this.value.substr(0,300); alert('This field can contain no more than 300 characters.'); this.focus()}" data-rule-validtextnotags="true" data-msg-required="Please provide your comments." data-rule-required="true"  aria-required="true" )
    .gel-form-group
      input#form_email_443525_submit.uk-margin-top.uk-button.gel-button.gel-button-small(type="submit" name="form_email_443525_submit" value="Submit")
