mixin edu_school_calendar

  div.edu-highlight-panels__panel.edu-highlight-panels__variation.edu-calendar
    div.edu-highlight-panels__image
      a(href="#" class="gel-remove-external-link")
        img(src="//placehold.it/800x600" alt="")

    div.gel-block__header.edu-block__header
      h3
        | School calendar
    div.edu-highlight-panels__content
      ul
        li.gel-school-holidays

          time
            strong
              | 1 Jan - 28 Jan:
          span.event-details
            | School Holidays

        li.gel-public-holiday

          time
            strong
              | 26 Jan:
          span.event-details
            | Australia day

        li.gel-special-event

          time
            strong
              | 29 Feb:
          span.event-details
            | School Development day

        li.gel-other

          time
            strong
              | 16 Feb:
          span.event-details
            | Default fontawesome

        li.gel-school-term

          time
            strong
              | 29 Jan and 12 Apr:
            span.event-details
              | Additional school holiday dates Western division


        li.gel-school-term-start

          time
            strong
              | 6 Feb:
            span.event-details
              | Term 1 2019 starts for students – Western division

      div.gel-smaller-text
        p
          | Check with your local school as some dates may change.

    div.edu-highlight-panels-bottominfo

      div.edu-highlight-panels-moreinfo

        a(href="#")
          span Full calendar
