mixin edu_tabbed_school_calendar

  div.uk-block.uk-block-default.edu-block.edu-block--alt1.edu-calendar
    div.edu-highlight-panels__image
      img(src="//placehold.it/800x600" alt="")
    div.uk-container
      h3.gel-block__header.edu-block__header
        | School calendar
      div.gel-tabs.edu-tabs.js-tabs(calendar-gel-tabs)
        ul.js-tablist(data-hx="h2")
          li.gel-tabs__group.js-tablist__item(role="presentation")
            a.js-tablist__link.tab-left(id="label_east_nsw", href="#east_nsw" tabindex="0", aria-selected="true", data-selected="1") Eastern NSW
            div.js-tabcontent(id="east_nsw", role="tabpanel", aria-hidden="false", aria-label="tabpanel")
              +edu_date_block
          li.gel-tabs__group.js-tablist__item(role="presentation")
            a.js-tablist__link.tab-right(id="label_west_nsw", href="#west_nsw") Western NSW
            div.js-tabcontent(id="west_nsw", role="tabpanel", aria-label="tabpanel")
              +edu_date_block
      div.edu-highlight-panels-bottominfo

        div.edu-highlight-panels-moreinfo

          a(href="https://education.nsw.gov.au/public-schools/going-to-a-public-school/calendars")
            span Full calendar
