//--- *************** ---//
//--- Skip Link ---//
//--- *************** ---//

//- A skip link container that contains the skip links that are visible on focus only. This is also visible to screen readers.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} showContent - adds skip to content link. Defaults to true
  | //- @param {boolean} showSearch - adds skip to search link. Defaults to true
  | +edu-skiplinks-only-homepage(true, true)

mixin usage
  pre
    code.language-jade
      +documentation


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin edu-skiplinks-only-homepage(showContent, showSearch)

  div.gel-skiplink-container
    div.gel-skiplink

      if showSearch == false &&  showContent == true
        a#top.gel-skiplink__link.skip-link-single(href="#content")
              | Skip to content
      else
       ul
        if showContent != false
          li
            a#top.gel-skiplink__link(href="#content")
              | Skip to content
        if showSearch != false
          li
            a.gel-skiplink__link(href="#banner-search")
              | Skip to search
