mixin edu_school_calendarv2

<div class="edu-highlight-panels">
  <div>
    <div class="edu-highlight-panels__panel edu-highlight-panels__panel--alt1">
      <h3 class="show-on-sr">Featured Page</h3>
      <div class="edu-highlight-panels__image"><img src="https://pre.education.nsw.gov.au/__data/assets/image/0008/391913/Placeholder-thumbnail.png" alt="">
        <h4>Learning across the curriculum
        </h4>
      </div>
      <div class="edu-highlight-panels__content"><a href="https://pre.education.nsw.gov.au/teaching-and-learning/curriculum/learning-across-the-curriculum/sustainability">Sustainability</a>
      <p>Environmental and zoo education centres are located across NSW to support the teaching and learning of sustainability. 
      </p>
    </div>
    </div>
  </div>
</div>
