mixin edu_education_banner(num)

  -var count = 0

  div.gel-education-banner.edu-education-banner.uk-visible-large

    div.uk-container.uk-container-center

      div.uk-grid

        div.uk-width-1-1

          div
            +gel_corporate_logo(true)

          p.gel-education-banner__lead
            | Welcome to

          h1.gel-education-banner__header
            | education.nsw.gov.au

          h2.show-on-sr
            | Search the Department

          form.gel-education-banner__search(action="//search.uat.det.nsw.edu.au/search" method="get" role="search")
            input(type="hidden" name="access" value="p")
            input(type="hidden" name="client" value="alex_dl_test")
            input(type="hidden" name="proxystylesheet" value="alex_dl_test")
            input(type="hidden" name="site" value="gel_full_search")

            div
              label.show-on-sr.uk-visible-large(for="banner-search")
                | Enter your search&hellip;
              input(id="banner-search" name="q" placeholder="Enter your search..." type="text" required maxlength="254")
              button(type="submit")
                | Submit
