//--- *************** ---//
//--- Icon and label    ---//
//--- *************** ---//

- var name = "ERM Icon and label"

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin description
  p
    | A repeating pattern which acts as a description with link(s) to other pages within the AI


mixin usage
  h4 Using pug:
  pre
    code.lanaguage-pug
      | @param {object}   options                           - options for the different variations of this pattern
      | @param {string}   options.id                        - unique id of the tab
      | @param {string}   options.icon_number               - svg image icon number
      | @param {string}   options.label_text                - Text for the label
      | @param {string}   options.icon_label_box_text       - Text for the onclick label box
      | @param {string}   options.extra_classes_single_box  - add extra class to position the box on single Icon and label items
      | @param {string}   options.extra_classes_bg_gray     - add extra classes to change the bg colour of the icon label box
  pre
    code.lanaguage-pug
      | +erm_icon_label({id, icon_number, label_text, icon_label_box_text, extra_classes})


mixin output
  +erm_icon_label({id, icon_number, label_text, icon_label_box_text, extra_classes})

//--- MIXINS ---//
//---------------------------------------------------------

mixin erm_icon_label_build(options)

  -var id = ""
  -var erm_icon_number = ""
  -var erm_label_text = ""
  -var erm_icon_label_box_text = ""
  -var classes = "erm-icon-label-box"
  -var classes_single_box =""
  -var classes_bg_gray =""


  if options.id
    -id = options.id

  if options.icon_number
    -erm_icon_number = options.icon_number

  if options.label_text
    -erm_label_text = options.label_text

  if options.icon_label_box_text
    -erm_icon_label_box_text = options.icon_label_box_text

  if options.extra_classes_single_box
    -classes_single_box = options.extra_classes_single_box

  if options.extra_classes_bg_gray
    -classes  += " " + options.extra_classes_bg_gray

  li.erm_icon_label__item
    a(href="#erm-label-panel-" + id id="erm-label-tab-" + id  role="tab"  aria-controls="erm-label-panel-" + id  aria-expanded="false"  aria-selected="false" tabindex="0")

      div(class=classes)
        div(class="erm-icon erm-icons-"+ erm_icon_number)
        div.erm-label
          | #{erm_label_text}

    div(tabindex="0" id="erm-label-panel-" + id  role="tabpanel"  aria-labelledby="erm-label-tab-" + id  aria-hidden="true" class=classes_single_box)

      p
        | !{erm_icon_label_box_text}

      button.uk-icon-close(data-erm-button-close-toggle type="button" role="button" aria-controls='erm-label-panel-' + id tabindex="0")
          span.show-on-sr
            | Close


//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin erm_icon_label(options)

  +erm_icon_label_build(options)

