mixin general_content
  h1.header-bold
    +lipsum(2, "words")

  +gel_lead

  h2.header-bold
    +lipsum(4, "words")

  p(id="anchor-3")
    +lipsum(3, "sentences")
    | :

  a(href="http://www.google.com")
    | External Link

  +gel_lists

  h2.header-bold
    +lipsum(3, "words")

  p
    +lipsum(5, "sentences")

  p
    +lipsum(1, "sentences")

  +gel_table(3,4)
  
  +gel_table(3,8)
  
  p
    +lipsum(1, "sentences")

  ol
    li
      +lipsum(1, "sentences")
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")
    li
      +lipsum(1, "sentences")
      ol
        li
          +lipsum(1, "sentences")
        li
          +lipsum(1, "sentences")

  h4.header-bold
    +lipsum(3, "words")

  h5.header-bold
    +lipsum(3, "words")

  p
    +lipsum(3, "sentences")

  h2.header-bold
    | Call out box

  +gel_call_out_box

  h2.header-bold
    | Show hide

  p
    +lipsum(3, "sentences")

    +gel_show_hide(3)

  br
    
  h2.header-bold
    | Iframe
  +gel_iframe("https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0", "Earth at Night", "", true, "16by9", true)
  br

  h2.header-bold
    | Blockquote
  +gel_blockquote
  
  h2.header-bold
    | Blockquote with Quotes
  +gel_blockquote(true)
  
  br
  
  h2.header-bold
    | Image with caption

  +gel_image_with_caption
  
  h2.header-bold
    | Image with caption Rounded
  
  +gel_image_with_caption("rounded")
  
  br

  h2.header-bold
    | Tabs

  +gel_tabs(4)

  h2.header-bold
    | Typography

  br

  .typography

    //- h1
    //-   | Header 1 Lorem ipsum dolor sit
    time.gef-article__date.uk-margin-small-top(datetime="15/12/25")
        | Date 25 December 2018

    h2
      | Header 2 Lorem ipsum dolor sit

    h3
      | Header 3 Lorem ipsum dolor sit

    h4
      | Header 4 Lorem ipsum dolor sit

    h5
      | Header 5 Lorem ipsum dolor sit

    h6
      | Header 6 Lorem ipsum dolor sit

    p
      | Paragraph, <strong>bolded content</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <em>emphasised content quis nostrud exercitation ullamco laboris</em> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="#">link sunt in culpa qui</a> officia deserunt mollit anim id est laborum.

    p
      +lipsum(5, "sentences")

  br
    
  h2.header-bold
    | Content Container

  +gel_content_container
  
  br  
        
  h2.header-bold
    | Content Container Alt 1

  +gel_content_container('background-alt1')
  
  br
      
  +gel_metadata
