mixin edu_highlight_panel_img_size(classes, img_size)

  -var panel_class = "edu-highlight-panels__panel " + classes
  div(class=panel_class)

    h3.show-on-sr
      | Featured Page

    div.edu-highlight-panels__image
      img(src="//placehold.it/"+img_size alt="")
      h4
        +lipsum(3, "words")

    div.edu-highlight-panels__content
      a(href="#")
        +lipsum(1, "sentences")
      p
        +lipsum(3, "sentences")
