mixin edu_highlight_panel-image-manipulation(classes,hide,count,subclass)

  -var panel_class = "edu-highlight-panels__panel " + classes
  div(class=panel_class)

    h3.show-on-sr
      | News item

    div.edu-highlight-panels__category
      if hide == "1"
        div.edu-highlight-panels__image
          img(src="//placehold.it/800x600" alt="")
      h4.gel-featured-teaser_highlight|Secretary's update
    div.edu-highlight-panels__content
      h3
        a(class="edu-highlight-panels__content-title" href="#")
          +lipsum(7, "words")
      time.gel-featured-teaser__date_variant(datetime="2015-12-25")
        | 25 December 2015
      div(class=subclass)
        p
          if count == "0" && hide != "1"
            +lipsum(3, "sentences")
          else if count == "1" && hide != "1"
            +lipsum(3, "sentences")
          else if hide =="1"
            +lipsum(3, "sentences")
          else
            +lipsum(0, "sentences")
