//--- *************** ---//
//--- GLOBAL HEADER ---//
//--- *************** ---//

//- A container that serves primary global header content.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
  | //- Added: 1.0.0
  | //- @param {boolean} alternate  - adds a alternate class for a display variance
  | //- @param {boolean} search     - adds a search show/hide
  | +mega_menu(false, true)


mixin usage
  pre
    code.language-jade
      +documentation

//--- VARAIBLES ---//
//---------------------------------------------------------
- var megaMenuItems = ['Working in early childhood education', 'Investigation, feedback and complaints', 'Going to a public school', 'Child protection', 'News', 'Strengthen teaching quality and school leadership', 'Student assessment', 'Attendance, behaviour and engagement', 'Whole school approach']
- var megaMenuItems3 = ['Home', 'About us', 'Benefits', 'Contact us']
- var megaMenuItemsLong = ['Early childhood education', 'Public schools', 'Teaching and learning', 'Student wellbeing', 'Our priorities', 'Policy library', 'About us']
- var menuItemsLevel4   = ['Policy library']
- var megaMenuSubItems_1 = ['Information for parents and carers ','Working in early childhood education', 'Investigation, feedback and complaints', 'Operating an early childhood education service ', 'Whats happening in the early childhood education sector ']
- var megaMenuSubItems_2 = ['Community languages schools ','Going to a public school', 'Selective high schools and opportunity classes', 'Assisted School Travel Program']
- var megaMenuSubItems_3 = ['Curriculum','Aboriginal education and communities', 'Professional learning', 'Student assessment', 'Disability,learning and support', 'School excellence and accountability']
- var megaMenuSubItems_4 = ['Counselling and psychology services','Attendance, behaviour and engagement', 'Child protection', 'Health and physical care ', 'Whole school approach']
- var megaMenuSubItems_5 = ['Work more effectively','Ensure quality early childhood education', 'Innovate for the future', 'Enhance student wellbeing', 'Improve student outcomes','Strengthen teaching quality and school leadership']
- var megaMenuSubItems_7 = ['Supplying to us','Jobs and opportunities', 'Our people and structure', 'Rights and accountability', 'Using school facilities','Strategies and reports']



//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin mega_menu_variant(num)

    // Component -Megamenu code fragment starts here
    .edu-mega-menu.uk-visible-large
      div.uk-container.uk-container-center.uk-grid
        div.uk-width-large-1-10
            div.gel-corporate-logo
              a.gel-corporate-logo__link(href="https://education.nsw.gov.au" title="NSW Department of Education")
                img.gel-corporate-logo__image(src="assets/images/doe-logo-white.png" alt="NSW Department of Education logo")

        div.uk-width-large-9-10.edu-mega-menu__menu-listing
          div.uk-container.uk-container-center.edu-meganav-container.edu-remove-external-link
            nav.uk-navbar
              div#menu_id
              ul.uk-navbar-nav.edu-mega-menu-title-bar
                +edu_megamenu_menulink_variant(num, megaMenuItemsLong)

    // Component - Megamenu code fragment ends here.uk-grid



//--- MIXINS ONE---//
//---------------------------------------------------------
mixin edu_megamenu_menulink_variant(n, menuItemsArray)

  - var x = 1

  while x <= n
    if x == 6
     li.uk-parent.edu-meganav-megalinks__li(class='edu-parent-menu')
        a.edu-meganav-megalinks.edu-meganav-megalinks__direct(href="#") Policy library
    else
      li.uk-parent.edu-meganav-megalinks__li(data-uk-dropdown="{justify:'#menu_id',delay: 0,mode:'click'}" class='edu-parent-menu')
        a.edu-meganav-megalinks(href="#" aria-haspopup="true" aria-expanded="false"  id='edu-link-desc-'+x )= menuItemsArray[x - 1]
        div.uk-dropdown-navbar.uk-dropdown.edu-dropdown-menu()
          div.edu-meganav-container.uk-container.uk-container-center.uk-position-relative
            div.uk-grid.uk-dropdown-grid.uk-margin-top
              h3(aria-hidden="false" aria-label=menuItemsArray[x - 1])
                a.edu-meganav-title(id="megalink"+x href="#" aria-hidden="false" aria-label=menuItemsArray[x - 1] )= menuItemsArray[x - 1]
              div.uk-width-1-1.edu-mega-nav-desc
                p.uk-width-1-2()
                  | Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.
                div.edu-mega-nav-desc__design
              +edu_megamenu_item(x,true)
    -x++

//--- MIXIN TWO ---//
//---------------------------------------------------------
mixin edu_megamenu_item(num, border)

  - var amount = num
  - var counter = 4

  if border
    - var classes = "list-columns  top-border uk-width-1-1 uk-nav uk-nav-navbar"
  else
    - var classes = "gel-toc uk-width-1-1 uk-nav uk-nav-navbar"

  ul(class=classes)
    if num == 1
      - menuItemsArray = megaMenuSubItems_1
    else if num === 2
      - menuItemsArray = megaMenuSubItems_2
    else if num === 3
      - menuItemsArray = megaMenuSubItems_3
    else if num === 4
      - menuItemsArray = megaMenuSubItems_4
    else if num === 5
      - menuItemsArray = megaMenuSubItems_5
    else
      - menuItemsArray = megaMenuSubItems_7

    each item in menuItemsArray
        li.edu-toc_item
          a(href="#")
           span(class="edu-mega-nav-text")= item
