//--- *************** ---//
//--- OVERRIDES ---//
//--- *************** ---//

//- This contains mixins that override/overload the current GEL mixins 
//- to make them more useful and customised for EDU purposes.  
//- Later on, if deemed necessary, this can be moved to the GEL space so that other Themes can use it as well.

//--- DOCUMENTATION ---//
//---------------------------------------------------------

mixin documentation
	| //- Added: 1.0.0
	| +global_footer()
	| @param {int} colCount - number of columns (max 3)
	| @param {int} linkCount - number of links
	| @param {bool} isBlackLogo - switch to black corporate logo
	| @param {bool} isCondensed - switch to condensed list


mixin usage
	pre
		code.language-jade
			+documentation


//--- MIXINS ---//
//---------------------------------------------------------
mixin global_footer(colCount, linkCount, isWhiteLogo, isCondensed) 
	div.gel-global-footer(aria-label="Global Footer")
		//-- +gel_acknowledgement

		h1.show-on-sr
			| #{corporateName}

		div.container.gel-remove-external-link
			div.row
				div.col-12.col-md-2.col-lg-4.gel-global-footer__logo
					+gel_corporate_logo(isWhiteLogo)
				div.col-12.col-md-10.col-lg-8.gel-global-footer__links
					+gel_link_columns(linkCount, colCount, isCondensed)
		+edu_footer_image


mixin gel_corporate_logo(reversed)
	if reversed
		-var url = "assets/images/doe-logo-black.png"
	else
		-var url = "assets/images/doe-logo-white.png"

	div.gel-corporate-logo
		a.gel-corporate-logo__link(href="https://education.nsw.gov.au", title=corporateName)
			img.gel-corporate-logo__image(src=url, alt=corporateName + ' logo')


mixin edu_footer_image
	div.edu-footerimage-wrapper
		div.edu-footerimage-container.edu-footer-bkgimage


mixin gel_section_footer
	footer
		div.gel-section-footer(aria-label="Section Footer")
			div.gel-section-footer__variation-1
				div.container
					div.row
						div.col-12.col-lg-4
							.row.section-footer-panel-header
								.col-md-6.col-lg-12
									+gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW DoE profile on ","Say Hello")
								.col-md-6.col-lg-12
									+gel_acknowledgement
						div.col-12.col-lg-8
							h3 Section Footer Links Title
							+gel_link_columns(12,2,true)
										
									
mixin gel_megamenu_component(num)
	nav.gel-meganav.navbar.navbar-expand-md.d-none.d-md-block
		div.container.gel-remove-external-link
			div.container-fluid.gel-meganav__main-menu
				div.row.navbar-header
					div.gel-meganav-logo.col-2.col-lg-1
						a.gel-meganav-logo__link(href="https://education.nsw.gov.au" title="NSW Department of Education")
							img.gel-meganav-logo__image(src="assets/images/doe-logo-blue.svg" alt="NSW Department of Education logo")
					div.gel-meganav-menulinks.col-10.col-lg-11 
						div.collapse.navbar-collapse(id="gel-meganav-collapse-1")
							ul.navbar-nav.mr-auto
								+gel-meganav_menulink(num, megaMenuItemsLong)
								

mixin gel_meganav_mobile
	nav#gel-mnav.gel-mobile-nav(role="dialog", aria-labelledby="gel-mobile-nav_header-lead-dialog")
		ul.gel-mobile-nav_list
			li.gel-mobile-nav_header
				span#gel-mobile-nav_header-lead-dialog(aria-hidden="true") Megamenu mobile nav
				a.gel-mobile-nav_header-logo-link(href='#', title='NSW Department of Education')
					img.gel-mobile-nav_header-logo-image(src="assets/images/doe-logo-blue.svg" alt="NSW Department of Education logo")
				p.gel-mobile-nav_header-lead Welcome to
				h1 education.nsw.gov.au      
			li.gel-mobile-nav_list-links
				a(href='#') Early childhood education
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>Early childhood education</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_1   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
			li.gel-mobile-nav_list-links
				a(href='/about') Public Schools
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>Public Schools</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_2   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
			li.gel-mobile-nav_list-links
				a(href='/about') Teaching and learning
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>Teaching and learning</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_3   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
			li.gel-mobile-nav_list-links
				a(href='/about') Student wellbeing
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>Student wellbeing</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_4   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
			li.gel-mobile-nav_list-links
				a(href='/about') Our priorities
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>Our priorities</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_5   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
			li.gel-mobile-nav_list-links.gel-mobile-nav_list-childless
				a(href='/about') Policy Library
					span(class="gel-mobile-nav_list-childless-icon" aria-hidden="true")
			li.gel-mobile-nav_list-links
				a(href='/about') About us
				ul
					<div class="hidden-xs gel-mobile-nav_list-links-intro">
						<a href="#">
							<h3>About us</h3>
						</a>
						<p>Two line description about the top level navigation label which will assist in obtaining context with a maximum character count of 150 characters.</p>
					</div>
					each item in mobileMenuSubItems_7   
						li.gel-mobile-nav_list-childless
							a(href='#')=item
