mixin policy_content

  p.lead
    +lipsum(5, "sentences")

  div.policy-list-items

    div
      ol
        li
          h2
            +lipsum(3, "words")

          ol
            li
              +lipsum(3, "sentences")

              ol
                li
                  +lipsum(2, "sentences")

                  ul
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")

            li
              +lipsum(1, "sentences")

              ul
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(1, "sentences")
                li
                  +lipsum(1, "sentences")
            li
              +lipsum(1, "sentences")

        li
          h2
            +lipsum(2, "words")

          ol
            li
              +lipsum(4, "words")

              ol
                li
                  +lipsum(2, "sentences")
                li
                  +lipsum(1, "sentences")

                  ul
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
                    li
                      +lipsum(1, "sentences")
            li
              +lipsum(4, "words")

        li
          h2
            +lipsum(5, "words")

          ul
            li
              +lipsum(1, "sentences")
            li
              +lipsum(1, "sentences")
            li
              +lipsum(1, "sentences")

          ol
            li
              +lipsum(5, "sentences")
            li
              +lipsum(1, "sentences")
              a(href="#")
                +lipsum(4, "words")

        li
          h2
            +lipsum(3, "words")

          ol
            li
              +lipsum(2, "sentences")

        li
          h2
            +lipsum(5, "words")

          ol
            li
              +lipsum(2, "sentences")
            li
              +lipsum(3, "sentences")

        li
          h2
            +lipsum(1, "words")

          ol
            li
              +lipsum(1, "sentences")
              |#{' '}(02) 92668517

