mixin gel_search_box1(location)

  - var randId = Math.floor((Math.random() * 50) + 1)
  - var id = 'search-box'
  - var searchButtonClass = ''

  if location == 'header'
    - var additionalClass = ' gel-search__toggle-target'
    - var id = 'global-search'
    - var searchButtonClass = 'show-on-sr'
  else
    - var additionalClass = ' gel-search--body'
    - var containerClasses = '.col-md-8.order-md-2'
    //- var checkBoxClass = ''

  div(class=containerClasses)

    form(id= id action="#" class="gel-search " + additionalClass aria-hidden="false" aria-labelledby="global-search-button")

      fieldset
        legend.show-on-sr Global Search
        label(for="txtSearch" + randId)
          span.show-on-sr Enter your search
        input(type="text" id="txtSearch" + randId name="q" placeholder="e.g. excursions, anti-bullying, procurement" tabindex="0" maxlength="254")
        input(type="hidden" name="site" value="secure_ce_intranet")
        input(type="hidden" name="access" value="s")

        button(type="submit" id="btnSearch" + randId aria-label="Submit search" tabindex="0")
          span.show-on-sr Search
          i

mixin policy_landing_header
  .row.policy-results-header
    .col-md-8.order-md-2.policy-landing-header-left
      div.policy-landing-main-heading
        hr
        h1
          +lipsum(10, "words")
      div.policy-search
        p.gel-search__helper
          | Search for policies, procedures or guidelines
        +gel_search_box1
    .col-md-4.order-md-1.gel-lhs.policy-rhs
      div(role="dialog").policy-enquires-popup-heading
       a(href='#' ).policy-landing-header-text--bold.policy-enquires-popup-heading
         | Have feedback or enquiry on policies?
      div.policy-landing-header-right
       div(aria-hidden="false" ).policy-enquires-main-content
         span(tabindex="-1").dialog-start.show-on-sr
           | Dialog start
         div(aria-hidden="false" ).policy-enquires-main-heading
           h2(aria-hidden="false" tabindex="0").policy-landing-header-text--bold
             span.policy-enquires-main-heading General policy enquires
         p.policy-landing-header-text
           | Schools and Community Senior
         p.policy-landing-header-text
            +lipsum(10, "words")
         p.policy-landing-header-text
           span.policy-landing-header-text
            | Email:
           a(href="#" tabindex="0").policy-landing-header-text
            | DECinfo@det.nsw.edu.au
         p.policy-landing-header-text--small
            +lipsum(20, "words")
         p.policy-landing-header-text--small
            +lipsum(5, "words")
         button.close-popup-icon( type="button" role="button" tabindex="0")
           span.show-on-sr Close
         span(tabindex="-1").dialog-end.show-on-sr
           | Dialog end
      div.gel-link-tag-basic
       a(href="#")
         +gel_link_tag('Log in for staff only content' , 'icon')
