mixin edu_private_header

  div(role="banner" class="gel-section-header edu-private-header")

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.gel-section-header__logo

            a(href='#')
              span
                | Inside the
              | department

            +gel_link_tag('STAFF ONLY' , 'icon')
