mixin edu_secondary_hub_header

  div.gel-education-banner.edu-public-header.edu-secondary-hub-header

    div.uk-container.uk-container-center

      div.uk-grid

        h1.uk-width-large-6-10
          span.gel-education-banner__header
            +lipsum(2, "words")

        h2.show-on-sr
          | Search within Teaching &amp; learning

        form.uk-width-large-4-10.gel-education-banner__search.edu-public-header__search.edu-secondary-hub-header__search(action="//search.uat.det.nsw.edu.au/search" method="get" id="search")
          input(type="hidden" name="access" value="p")
          input(type="hidden" name="client" value="alex_dl_test")
          input(type="hidden" name="proxystylesheet" value="alex_dl_test")
          input(type="hidden" name="site" value="gel_full_search")

          div
            label.show-on-sr.uk-visible-large(for="search")
              | Enter your search&hellip;
            input(id="search" name="q" placeholder="Enter your search..." type="text" required maxlength="254")
            button(type="submit")
              | Submit
