//--- *************** ---//
//--- Secretary Update ---//
//--- *************** ---//

//- This contains the actual script for Secretary Update  
//- which is currently being added in AEM Script component for Release 1


//--- MIXINS ---//
//---------------------------------------------------------
mixin edu_secretarys_update
  div.edu-secretarys-update.edu-block.edu-block--columned.edu-small-margin-bottom.gel-side-navigation-upper
    img(src="https://education.nsw.gov.au/content/dam/main-education/news/secretarys-update/secretary.jpg", width="800", height="600", alt="Mark Scott", title="Mark Scott Jan 2019")
    div.gel-container
      h3.gel-block__header.edu-block__header
        | About the Secretary
      p
        | Mark Scott is Secretary of the Department of Education. He has worked as a teacher, in public administration and as a journalist and media executive. He is committed to public education and learning environments where every child can flourish.
      ul.gel-social-icons-panel_links.social-media-listing.gel-remove-external-link
        li.gel-social-icons-panel_links-list
          a.gel-social-icons-panel_links-list-icon(href='https://twitter.com/mscott' aria-label='NSW DoE profile on twitter')
            span.gel-social-icons-panel_links-list-twitter(aria-hidden='true')
        li.gel-social-icons-panel_links-list
          a.gel-social-icons-panel_links-list-icon(href='https://www.facebook.com/mark.scottfeedback/' aria-label='NSW DoE profile on facebook')
            span.gel-social-icons-panel_links-list-facebook(aria-hidden='true')
