//--- *************** ---//
//--- Share This ---//
//--- *************** ---//

//- This contains the new design for EDU Share This component 


//--- MIXINS ---//
//---------------------------------------------------------
mixin gel_share_this(variation)

  -var alt_class = "gel-share-this"
  if (variation == "edu-design")
    -alt_class += " edu-share-this"

  div(class=alt_class)
    script
      var addthis_config = {ui_tabindex:0}

    p.gel-share-this__title
      | Share this

    div.gel-share-this__toolbox.addthis_inline_share_toolbox

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e70642e25f78eb2" async="async")
