- var links = []
- links.push({ 'title': "Email", 'class': "envelope", 'url': "https://myemail.det.nsw.edu.au"})
- links.push({ 'title': "Staff portal", 'class': "user", 'url': "https://staff.det.nsw.edu.au"})
- links.push({ 'title': "SAP portal", 'class': "custom-sap", 'url': "https://selfservice.det.nsw.edu.au/irj/portal"})
- links.push({ 'title': "Policy library", 'class': "number-list", 'url': "https://education.nsw.gov.au/policy-library"})
- links.push({ 'title': "Staff directory lookup", 'class': "user-group", 'url': "http://prod-dds.det.nsw.edu.au/ViewDS/webdua.cgi?k"})
- links.push({ 'title': "SchoolBiz", 'class': "custom-sbz", 'url': "https://beta.dec.nsw.gov.au/schoolbiz"})

mixin edu-staff-essentials

  div.edu-staff-essentials
    h2.edu-staff-essentials__title
      | Staff essentials

    ul.edu-staff-essentials__links
      for val in links
        li
          a(href=val.url class="edu-staff-essentials_icon-" + val.class)
            span= val.title
