//--- VARIABLES ---//
//---------------------------------------------------------
- var menuItems         = [{name: "Early childhood education", subNav: true}, {name: "Public schools", subNav: true}, {name: "Teaching and learning", subNav: true}, {name: "Student wellbeing", subNav: true}, {name: "Our priorities", subNav: true}, {name: "Policy library", subNav: false}, {name: "About us", subNav: true}]
- var menuItemsLevel2   = [{name: "Assessment and reporting", subNav: false}, {name: "Academic opportunities", subNav: false}, {name: "Creative arts ", subNav: false}, {name: "English", subNav: false}, {name: "Human society and its environment", subNav: false}, {name: "Languages", subNav: false}, {name: "Mathematics", subNav: false}, {name: "Personal development, health and physical education", subNav: false}, {name: "Science", subNav: false}, {name: "Technology and applied science", subNav: false}, {name: "Vocational Education (VET)  ", subNav: false}]
- var menuItemsLevel3   = []
- var menuItemsLevel4   = []
- var menuItemsLevel5   = []
- var menuItemsLevel6   = []
- var qlMobileNavItems  = []

//--- HTML OUTPUT ---//
//---------------------------------------------------------

mixin local_mobile_nav_variant(homepage)
  // Component - Local Mobile Navigation start
  #mobile-nav-wrapper
    .edu-local-mobile-nav.uk-offcanvas-content.uk-hidden-large
      nav.uk-width-1-1.uk-container.uk-container-center.uk-flex.uk-flex-center.uk-flex-space-between
        .uk-width-1-6.uk-navbar-left
          button(type="button" aria-label="Main menu" aria-expanded="false" data-uk-offcanvas="{mode: 'slide', target: '#mobile-nav'}").uk-navbar-toggle.edu-local-mobile-nav__icon--nav
        div.uk-width-5-6.uk-center.uk-flex.uk-flex-center.local_mobile_nav_variant__section_header
          if homepage == 'true'
            +gel_section_header('education.nsw.gov.au', 'On')
          else if homepage == 'long'
            +gel_section_header('Operating an early childhood education service longish sitename', 'On')
          else if homepage == 'private'
             +gel_section_header(siteName, 'On','secure')
          else
              +gel_section_header(siteName)
        //--- commenting out the search from edu megamenu as gel search is being used


      .uk-offcanvas#mobile-nav
        .edu-local-mobile-nav__close
          button(aria-label="Close menu").edu-local-mobile-nav__close--button

        .uk-offcanvas-bar.edu-offcanvas-bar(role="navigation")#mobile-nav-container

          header
            div.gel-education-banner.edu-education-banner

              div.uk-container.uk-container-center

                div.uk-grid

                  div.uk-width-1-1

                    div
                      +gel_corporate_logo(true)

                    p.gel-education-banner__lead
                      | Welcome to

                    h1.gel-education-banner__header
                      | education.nsw.gov.au

          ul(data-uk-nav="{multiple:true}").uk-nav.uk-nav-offcanvas.edu-offcanvas-bar__main-unordered-list

            each item in qlMobileNavItems
              li.edu-local-mobile-nav__li-quicklinks.uk-flex.uk-flex-left
                a(href="#").edu-offcanvas-bar__quicklinks-a
                  .uk-flex.uk-flex-center.edu-local-mobile-nav__li-quicklinks-wrapper
                    span.edu-local-nav-quicklinks__icon-wrap.uk-flex.uk-flex-center.uk-flex-middle
                      img(src=item.iconPath alt="")
                    p.edu-offcanvas-bar__quicklinks-p
                      = item.name

            each item in menuItems
              if item.subNav
                li.edu-local-mobile-nav__li-menu-items.uk-parent
                  .edu-local-mobile-nav__li--name
                    a(href="#").edu-local-mobile-nav__li--name-a
                      = item.name
                  a(href="#").edu-local-mobile-nav__plus-icon
                    div.uk-icon-plus
                  +sub_menus(1)

              else
                li.edu-local-mobile-nav__li-menu-items
                  .edu-local-mobile-nav__li--name
                    a(href="#").edu-local-mobile-nav__li--name-a
                      = item.name

          .sr-only
            button(type="button" aria-label="Close menu").edu-local-mobile-nav__close--button-hidden

mixin sub_menus (numberOfLevels)
  - var x = 0
  - var menuItemsArray

  mixin sub_menu_loop (y)
    -y++
    if y === 1
      - menuItemsArray = menuItemsLevel2
    else if y === 2
      - menuItemsArray = menuItemsLevel3
    else if y === 3
      - menuItemsArray = menuItemsLevel4
    else if y === 4
      - menuItemsArray = menuItemsLevel5
    else
      - menuItemsArray = menuItemsLevel6



    ul(data-uk-nav="{multiple:true}").edu-local-mobile-nav__menu-ul
      each subItem in menuItemsArray

        if subItem.subNav
          li.edu-local-mobile-nav__li-menu-items.uk-parent
            .edu-local-mobile-nav__li--name
              a(href="#").edu-local-mobile-nav__li--name-a
                = subItem.name
            a(href="#").edu-local-mobile-nav__plus-icon
              div.uk-icon-plus
            if x < numberOfLevels
              +sub_menu_loop(y)

        else
          li.edu-local-mobile-nav__li-menu-items.edu-local-mobile-nav__li-menu-subitems
            .edu-local-mobile-nav__li--name.edu-local-mobile-nav__li--sublinkname
              a(href="#").edu-local-mobile-nav__li--name-a
                = subItem.name
    -x++

  +sub_menu_loop(x)

// Component - Local Mobile Navigation end
