mixin theme-demo-content
  nav.gel-anchor-box
    h2.uk-h6.gel-anchor-box__title On this page
    ul.gel-link-list
      li
        a(href='#Colour0') Colour palette
      li
        a(href='#Grid1') Grid
      li
        a(href='#Typography2') Typography
      li
        a(href='#Templates3') Templates
  p
    | The photographic style captured should be naturalistic. Photography should portray realistic situations and reflect a range of real-life scenarios that depict teachers, staff, primary and high school students.
  p
    | Students should appear in school uniform. The subject matter should appear positive, approachable and natural.
  p
    | Photographs should reflect the multicultural diversity of the organisation with an appropriate mix of race, age and gender to reflect the situation.
  h3#9962 Examples
  +theme-demo-content-grid-image
  hr
  h2 Colour palette
  p
    | Our web colour palette passes the WCAG 2.0 AA colour contrast requirements. These palettes have been inspired by bold hues and are contrasted with monochromatic text and bright highlights.
  p
    | These colour palettes are comprised of primary and secondary colours that can be used for illustration or to develop your business areas colours. They've been designed to work harmoniously with each other.
  h3#5775 Typography colour palette
  p
    | To ensure compliance to the WCAG 2.0 AA, all digital content should appear in black or in cases of high contrast, white.
  +theme-demo-content-colour-pallette
  hr
  h2 Grid
  p
    | Our grid system is composed of 10 flexible columns with a gutter between columns of 25 pixels. This grid allows for visual rhythm and a consistent placement of components on a page.
  p The grid layout is easily extended by nesting and mixing different column sizes.
  p
    | Our different column sizes change dimensions once they reach certain breakpoints. This happens automatically so our web content is responsive and mobile friendly. To illustrate, resize your browser window and you will see the grid columns change size.
  +theme-demo-content-grid
  hr
  +theme-demo-content-grid-typography
  hr
  h2 Templates
  p
    | There are currently 3 templates available for use in the education.nsw.gov.au theme: section home, landing, and standard content. These templates should be used at the correct site level to ensure consistency in the overall interaction flow.
  p
    img(src='https://education.nsw.gov.au/__data/assets/image/0006/153924/templates-hierarchy.png', alt='Templates must be used in the following order: section home, landing, and content (up to 3).')
  p
    | There are additional templates that are in development, including the homepage, primary and secondary hub pages. These connect the lower level sections and form the greater education.nsw.gov.au website.
  p
    img(src='https://education.nsw.gov.au/__data/assets/image/0008/153944/greater-templates-hierarchy.png', alt='Section templates appear after the secondary hub level of the education.nsw.gov.au site.')
  h3 Section home
  p
    | The section home serves as the homepage for the key areas of related content and major programmes. It gives the user a quick overview, links to topics and sub-topics, and highlights pages within the section.
  h3 Landing page
  p
    | The landing page template is used to group content within a topic. This template routes the user to content pages deeper within the topics through in page navigation and teaser content.
  h3 Standard content page
  p
    | The content template is where a majority of content is presented. In addition, the sidebar helps the user navigate to sibling and child pages.
