mixin theme-demo-content-colour-pallette

  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--black
        span  #000000 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--white
        span  #FFFFFF 
  h3#6997 Primary colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--primary-1
        span  #003E52 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--primary-2
        span  #44B9B9 
  h3#2260 Secondary colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-1
        span  #6DABE4 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-2
        span  #E94557 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-3
        span  #FCB125 
  h3#5595 Mono colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-1
        span  #F5F7FA 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-2
        span  #E6E9ED 
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-3
        span  #CCD1D9 
