mixin theme-demo-content
  nav.gel-anchor-box
    h2.uk-h6.gel-anchor-box__title On this page
    ul.gel-link-list
      li
        a(href='#Colour0') Colour palette
      li
        a(href='#Grid1') Grid
      li
        a(href='#Typography2') Typography
      li
        a(href='#Templates3') Templates
  p
    | The photographic style captured should be naturalistic. Photography should portray realistic situations and reflect a range of real-life scenarios that depict teachers, staff, primary and high school students.
  p
    | Students should appear in school uniform. The subject matter should appear positive, approachable and natural.
  p
    | Photographs should reflect the multicultural diversity of the organisation with an appropriate mix of race, age and gender to reflect the situation.
  h3#9962 Examples
  .uk-grid
    .uk-width-1-1
      img(src="//placehold.it/1200x900", alt="Featured image", class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
    .uk-width-1-1
       img(src="//placehold.it/1200x900", alt="Featured image", class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
    .uk-width-1-1
       img(src="//placehold.it/1200x900", alt="Featured image", class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
  .uk-grid
    .uk-width-1-1
       img(src="//placehold.it/1200x900", alt="Featured image", class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
    .uk-width-1-1
       img(src="//placehold.it/1200x900", alt="Featured image",class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
    .uk-width-1-1
       img(src="//placehold.it/1200x900", alt="Featured image",class="uk-margin-bottom", title="An example image title for the screen readers, say cheese.")
  hr
  h2#Colour0 Colour palette
  p
    | Our web colour palette passes the WCAG 2.0 AA colour contrast requirements. These palettes have been inspired by bold hues and are contrasted with monochromatic text and bright highlights.
  p
    | These colour palettes are comprised of primary and secondary colours that can be used for illustration or to develop your business areas colours. They've been designed to work harmoniously with each other.
  h3#5775 Typography colour palette
  p
    | To ensure compliance to the WCAG 2.0 AA, all digital content should appear in black or in cases of high contrast, white.
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--black
        span  #000000
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--white
        span  #FFFFFF
  h3#6997 Primary colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--primary-1
        span  #003E52
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--primary-2
        span  #44B9B9
  h3#2260 Secondary colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-1
        span  #6DABE4
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-2
        span  #E94557
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--secondary-3
        span  #FCB125
  h3#5595 Mono colour palette
  .uk-grid
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-1
        span  #F5F7FA
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-2
        span  #E6E9ED
    .uk-width-medium-1-3.uk-margin-bottom
      .colour-box--mono-3
        span  #CCD1D9
  hr
  h2#Grid1 Grid
  p
    | Our grid system is composed of 10 flexible columns with a gutter between columns of 25 pixels. This grid allows for visual rhythm and a consistent placement of components on a page.
  p The grid layout is easily extended by nesting and mixing different column sizes.
  p
    | Our different column sizes change dimensions once they reach certain breakpoints. This happens automatically so our web content is responsive and mobile friendly. To illustrate, resize your browser window and you will see the grid columns change size.
  .uk-grid.uk-hidden-small
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
    .uk-width-1-10.uk-width-medium-1-10
      .grid-box
        span  1/10
  .uk-grid
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4
    .uk-width-1-4.uk-width-medium-1-4
      .grid-box
        span  1/4
  .uk-grid
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3
    .uk-width-1-3.uk-width-medium-1-3
      .grid-box
        span  1/3
  .uk-grid
    .uk-width-1-2.uk-width-medium-1-2
      .grid-box
        span  1/2
    .uk-width-1-2.uk-width-medium-1-2
      .grid-box
        span  1/2
  .uk-grid
    .uk-width-3-4
      .grid-box
        span  3/4
    .uk-width-1-4
      .grid-box
        span  1/4
  hr
  h2#Typography2 Typography
  p
    | We have recently updated our gel typeface to Montserrat, an open source Google font.
  h3#8384 Fonts
  .uk-grid
    .uk-width-large-4-10
      h4 Montserrat Bold
      p.super
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
      h4 Montserrat Regular
      p.strong
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
      h4 Montserrat Light
      p
        span.text-collapse
          | ABCDEFGHIJKLMNOPQRSPUVWXYZ
          br
          | abcdefghijklmnopqrstuvwxyz
          br
          | 1234567890!@#$%^&*()_+
  h3#6881 Desktop styles
  p
    | Too many type sizes and styles at once can break the rhythm of any layout. Building hierarchy within your layout with clear and defined type styles will allow for a better user experience. A clear hierarchy will also assist screen readers in navigating throughout your page.
  hr
  h2#Templates3 Templates
  p
    | There are currently 3 templates available for use in the education.nsw.gov.au theme: section home, landing, and standard content. These templates should be used at the correct site level to ensure consistency in the overall interaction flow.
  p
    img(src='https://education.nsw.gov.au/__data/assets/image/0006/153924/templates-hierarchy.png', alt='Templates must be used in the following order: section home, landing, and content (up to 3).')
  p
    | There are additional templates that are in development, including the homepage, primary and secondary hub pages. These connect the lower level sections and form the greater education.nsw.gov.au website.
  p
    img(src='https://education.nsw.gov.au/__data/assets/image/0008/153944/greater-templates-hierarchy.png', alt='Section templates appear after the secondary hub level of the education.nsw.gov.au site.')
  h3 Section home
  p
    | The section home serves as the homepage for the key areas of related content and major programmes. It gives the user a quick overview, links to topics and sub-topics, and highlights pages within the section.
  h3 Landing page
  p
    | The landing page template is used to group content within a topic. This template routes the user to content pages deeper within the topics through in page navigation and teaser content.
  h3 Standard content page
  p
    | The content template is where a majority of content is presented. In addition, the sidebar helps the user navigate to sibling and child pages.
