.root {
  /* remove horizontal scroll caused by banner overflow */
  overflow-x: hidden;
}

/* section header */
@media #{$gel-mq-bs-md} {
  .sectionheader {
    display: none;
  }
}

/* search box */
.layout-container:nth-child(2) {
  margin-left: 40px;
  margin-top: -170px;
  margin-bottom: 80px;
  transform: translateY(0);
  border-top: 1px solid #d6d6d6;
  padding-top: 16px;
  max-width: calc(100% - 80px);
  padding-left: 0;
  padding-right: 0;

  .gel-content-container {
    padding: 0;
  }

  /* "search public department content" */
  h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    font-family: montserrat;
    font-weight: 600;
    margin-bottom: 20px;
  }

  @media #{$gel-mq-bs-md} {
    /* banner search box */
    margin-top: -190px;
    margin-left: 30px;
    top: 340px;
    left: 45px;
    border-top: 1px solid #d6d6d6;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    max-width: 350px;
    h3 {
      font-size: 1.25rem;
      line-height: 1.5em;
      font-family: montserrat;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .searchbox {
    .gel-search--body {
      margin-top: 20px;
    }
  }
  
  @media #{$gel-mq-bs-lg} {
    max-width: 350px;

    .searchbox {
      width: 100%;
      max-width: 385px;
    }
  }

  @media screen and (min-width: 420px) {
    top: 600px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 390px;
  }
}

/* layout container for news section */
.layout-container:nth-child(3) {
  margin-top: -40px;
  margin-bottom: 40px;

  max-width: none;
  padding: 50px calc((100vw - 100%)/2) !important;
  width: 100vw !important;
  margin-left: calc((-100vw + 100%)/2);
  background: #f2f2f2 !important;
  padding-top: 25px !important;
  padding-bottom: 50px !important;

  .gel-content-container {
    padding-top: 0;
  }

  .cmp-container .cmp-text {
    display: none;
  }


  .cmp-text h2 {
    font-weight: 600;
    margin: 30px 0 30px 0;
    font-size: 26px;
    color: #041e42;
    padding-bottom: 10px;
    border-bottom: 2px solid #041e42;
  }

  .script .gel-button {
    float: right;
  }
}

/* layout container after news */
.layout-container:nth-child(4) {
  .gel-content-container {
    padding-top: 0;
  }

  .cmp-text h2 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 26px;
    color: #041e42;
    padding-bottom: 10px;
    border-bottom: 2px solid #041e42;
  }

  .columncontrol {
    .col-md-4 {
      // stack cards on mobile
      @media screen and (max-width: 991px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media screen and (max-width: 768px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      display: flex;
      flex: 1;
      margin-bottom: 40px;

      & > div {
        position: relative;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.27);
        transition: box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        overflow: hidden;
        padding: 30px;
        width: 100%;

        background: #FFF;

        @media screen and (max-width: 991px) {
          padding: 15px;
        }

        .image-caption {
          margin: -30px -30px 0 -30px;
          width: calc(100% + 60px);
          border-bottom: 2px solid #ce0037;
          overflow: hidden;

          max-height: 252px;
          @media screen and (max-width: 1499px) {
            max-height: 207px;
          }

          @media screen and (max-width: 1239px) {
            max-height: 260px;
          }

          @media screen and (max-width: 1199px) {
            max-height: 207px;
          }

          @media screen and (max-width: 959px) {
            max-height: 260px;
          }

          @media screen and (max-width: 768px) {
            max-height: 384px;
          }

          figure {
            margin: 0;
          }

          figcaption {
            display: none;
          }
        }

        .gel-image-with-caption {
          margin-top: 0;
          padding-right: 0;
        }
      }

      h2, h3 {
        font-weight: 600;
        margin: 30px 0 30px 0;
        font-size: 26px;
        color: #041e42;
        padding-bottom: 15px;
      }

      /* calendar */
      #event-calendar {
        .gel-highlight-panels__image {
          margin: -30px -30px 0 -30px;
          padding: 0 15px;

          a:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
    
        .gel-highlight-panels__content {
          padding: 0;
        }
    
        .gel-highlight-panels-moreinfo {
          margin: 0;
          padding-bottom: 0;
        }
      }

      .gel-highlight-panels-bottominfo {
        display: none;
      }

      .gel-social-icons-panel_links {
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;

        .gel-social-icons-panel_links-list-icon {
          margin-bottom: 0;
        }
      }
      

      /* column 1 */
      &:nth-child(1) {
        .link {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          overflow: visible;

          a {
            .gel-external-link:before {
              display: none;
            }

            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            top: -30px;
            z-index: 10;
          }
        }
      }

      /* column 1 and column 2 */
      &:nth-child(1), &:nth-child(2) {
        & > div {
          padding-bottom: 45px;

          &:before {
            position: absolute;
            content: '\f178';
            color: $color-red;
            transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            font-size: 3.70rem;
            bottom: 0;
            font-family: FontAwesomeRegular;
          }

          &:hover {
            box-shadow: 0px 8px 33px -7px rgba(0,0,0,0.27);
            z-index: 1;

            &:before {
              transform: translateX(6px);
            }
          }
        }
      }

      /* column 3 */
      &:nth-child(3) {
        h3:first-child() {
          margin: 0;
        }

        .cmp-text {
          h3 {
            margin-top: 0;
            margin-bottom: 0;
          }

          // Link Columns
          $link-column__item__divider__width: 1px;
          $link-column__item__divider: $link-column__item__divider__width solid $color-grey-15;

          ul {
            margin-top: 0;
            margin-bottom: 70px;
            // Link columns row
            li {
              position: relative;

              margin-top: 0;
              margin-bottom: 15px;
              break-inside: avoid;

              border-top: $link-column__item__divider;
              border-bottom: $link-column__item__divider;

              display: flex;
              justify-content: space-between;
              align-items: center;

              padding: 5px 0;
              margin-bottom: 0;

              // Arrow for link columns
              &:after {
                font-family: 'Font Awesome 5 Pro';
                font-weight: 400;
                color: $color-red;
                content: "\f178";
                font-size: 1.5rem;
              }

              // Link column link
              a {
                line-height: 1.6;
                vertical-align: baseline;
                width: 100%;
              }

              &:before, a .gel-external-link {
                display: none;
              }

              &:not(:first-child) {
                margin-top: -$link-column__item__divider__width;
              }
            }
          }
        }
      }
    }
  }
}

/* layout container for social media feed */
.livefyre:nth-child(5) {
  max-width: none;
  padding: 50px calc((100vw - 100%)/2) !important;
  width: 100vw !important;
  margin-left: calc((-100vw + 100%)/2);
  background: #f2f2f2 !important;
  padding-top: 25px !important;
  padding-bottom: 50px !important;

  padding: 50px 0;

  .gel-sm-item-inter-container {
    background: #FFF;
  }

  h2 {
    font-weight: 600;
    margin: 0;
    font-size: 26px;
    color: #041e42;
    padding-bottom: 10px;
    border-bottom: 2px solid #041e42;
  }

  .gel-sm-image-location img {
    // object-fit: cover;
  }
}

/* homepage banner */
.banner {
  $banner-img-aspect-ratio-mobile: 320/300;
  $banner-img-mask-aspect-ratio-diameter: 540/320;
  $banner-img-mask-top-ratio: 207/300;

  $banner-img-mask-diameter: 100vw * $banner-img-mask-aspect-ratio-diameter;
  $banner-img-mask-radius: $banner-img-mask-diameter/2;
  $banner-img-mask-left: ($banner-img-mask-diameter - 100vw) * -0.5;
  $banner-img-mask-top: 100vw * $banner-img-mask-top-ratio;

  .gel-banner .image_container {
    display: block;
  }

  .gel-banner-container {
    box-shadow: none;
    border-radius: 0;
  }

  .gel-banner {
    overflow: visible;
    border: none;
    border-radius: 0;
  }

  .gel-banner .gel-button {
    width: auto;
  }

  .gel-banner > div:nth-child(1) {
    overflow: visible;

    /* mobile */
    height: 100vw * $banner-img-aspect-ratio-mobile;
  }

  .img-fluid {
    top: 0;
    transform: scale(1.1);
  }

  .image_container {
    width: 100vw;
    position: absolute;
    margin-left: calc(-50vw + 50%);

    overflow: hidden;

    /* overlay */
    &:before {
      content: "";
      background-image: url("https://dec-ce.bitbucket.io/gel-education-theme/test/assets/images/banner-hero.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100vw * 0.35;
      height: 100%;
      max-width: none;
      z-index: 1;
    }

    /* elipses */
    &:after {
      position: absolute;
      content: "";
      background: #fff;
      height: $banner-img-mask-diameter;
      width: $banner-img-mask-diameter;
      left: $banner-img-mask-left;
      top: $banner-img-mask-top;
      border-radius: 100%;
      z-index: 1;
    }
  }

  .gel-banner__content {
    order: 1;
    z-index: 1;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100vw * -0.14;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      border-left: 3px solid $edu-brand-primary-7;
    }
  }

  .banner__content-container {
    p {
      font-size: 1rem;
      font-weight: 300;
    }

    h3.gel-banner__content__title {
      font-size: 1.437rem;
      line-height: 1.81rem;
      font-family: "montserrat";
      font-weight: 600;
      color: $edu-primary-brand-1;
    }

    padding-bottom: 160px;
  }

  /* landscape phones */
  @media (min-width: 576px) {
  }

  /* start tablet design */
  @media (min-width: 768px) {
    .gel-banner {
      position: relative;
    }

    .gel-banner > div:nth-child(1) {
      height: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      max-width: 100%;
    }

    .img-fluid {
      position: absolute;
      right: 0;
      min-height: auto;
      min-width: auto;
      width: auto;
      height: 100%;
      top: 0;
      left: auto;
      margin-right: -140px;
      object-fit: initial;

      right: auto;
      left: calc(50% + 0px);

      transform: none;
    }

    .image_container {
      width: 100%;
      margin-left: 0;
      overflow: visible;

      &:after {
        display: none;
      }

      &:before {
        width: 100%;
        right: calc(50% - 150px);
      }
    }

    .gel-banner__content {
      flex-basis: 100%;
      margin-left: 0;

      margin-top: 0;

      &:before {
        left: 0px;
        top: 19px;
        bottom: 19px;
        border-left: 3px solid $edu-brand-primary-7;
      }

      position: relative;
      width: 100%;
      left: auto;
      top: auto;
      border-radius: 0 249px 249px 0;
      padding: 0;
      background: rgba(255, 255, 255, 0.8);
      padding-right: 110px;
      padding-top: 25px;
      padding-bottom: 25px;
      max-width: 555px;
    }

    .banner__content-container {
      padding-left: 30px;

      /* padding for search box */
      padding-bottom: 180px;

      h3.gel-banner__content__title {
        font-size: 1.625rem;
        line-height: 2rem;
        letter-spacing: normal;
      }

      padding-right: 25px;
    }
  }

  @media (min-width: 1200px) {
    .img-fluid {
      left: calc(50% + 0px);
    }

    .image_container {
      &:before {
        right: calc(50% - 190px);
      }
    }
  }
}

.fifty_fifty_warpper {
  box-shadow: none !important;
}