/* 
 * Global Styles
 */

 body, .root, .breadcrumb {
  background-color: #F2F2F2 !important;
}

// Main area
.gel-main {
  margin-top: 0;
}

// Tabs
.gel-tabs .gel-tabs__panel-group,
.js-tabs.gel-tabs--active .gel-tabs__panel-group [role="tabpanel"] {
  border: none;
}

.gel-tabs .gel-content-container .cmp-text {
  .linkcolumns {
    border-top: none;
    background: none;
  }
}

.gel-tabs__group {
  margin-top: 0 !important; /* Removes the white border on top of tabs */
}

.tabs-layout-container .linkcolumns {
  border-top: none;
  margin-top: -17px;
}

// Link Columns
$link-column__item__divider__width: 1px;
$link-column__item__divider: $link-column__item__divider__width solid $color-grey-15;

// Tabs Element > Link Column
.tabs-layout-container .cmp-text {
  ul {
    column-count: 2;

    // Link columns row
    li {
      position: relative;

      margin-top: 0;
      margin-bottom: 15px;
      break-inside: avoid;

      border-top: $link-column__item__divider;
      border-bottom: $link-column__item__divider;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 5px 0;
      margin-bottom: 0;

      // Arrow for link columns
      &:after {
        content: '\f178' !important;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        color: $color-red;
        font-size: 1.5rem;
      }

      // Link column link
      a {
        line-height: 1.6;
        vertical-align: baseline;
        width: 100%;
      }

      &:before, a .gel-external-link {
        display: none;
      }

      &:not(:first-child) {
        margin-top: -$link-column__item__divider__width;
      }
    }
  }
}

// GEL Box Small (Quick Links)
.gel-box-small {
  border-top: 2px solid $color-red;
  background: #FFF;
  width: 100%;
  float: right;

  h2 {
    font-size: 1.625rem;
    font-weight: 400;
    padding: 15px;
  }

  ul {
    margin-top: -15px;
    margin-bottom: 0;
  }

  ul li {
    &:not(:first-child) {
      border-top: $link-column__item__divider;
    }
    margin: 0;
    padding: 0;
    font-weight: 600;

    a {
      display: block;
      text-decoration: none;
      padding: 15px;

      &:before {
        content: '\f406';
        font-family: 'FontAwesomeSolid';
        margin-right: 15px;
        color: $color-red;
      }
    }

    &:before, a .gel-external-link {
      display: none;
    }
  }
}

// Link Button Element
.link {
  display: flex;
  margin-bottom: 30px;
}

.edu-topic-header-button, .edu-topic-header-button:visited {
  line-height: $button-line-height;
  text-decoration: none;
  padding: $button-default-padding;
  min-height: $button-default-height;
  border-radius:  $button-default-radius;
  border-color: $button-border-color;
  border-width: $button-border-width;
  font-size: $button-default-font-size;
  font-weight: $button-default-font-weight;
  letter-spacing: $button-default-letter-spacing;

  @include gel-button-base;
  @include gel-button-primary;

  padding: $button-small-padding;
  min-height: $button-small-height;
  font-size: $button-small-font-size;
  
  .gel-external-link {
    display: none;
  }

  margin-left: auto;
  margin-right: 0;
}

// Link Columns
.linkcolumns {
  border-top: 2px solid $color-red;
  background: #FFF;
  margin-bottom: 40px;
}

// Link List
.gel-main .aem-Grid .responsivegrid + .responsivegrid {
  .columncontrol {
    border-top: 2px solid $color-red;
    background: #FFF;
    padding: 30px;
    margin-bottom: 40px;

    .linkcolumns {
      border-top: none;
      background: none;
      margin-bottom: 0;
    }
  }
}

// Column Control
.columncontrol {
  position: relative;

  h2, h3 {
    /*font-weight: 300;*/
    color: #041E42;
  }

/*  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }*/

 /*  h3 {
   font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 49px;
  }*/
}

// Breadcrumbs
.breadcrumb, .gel-breadcrumbs .breadcrumb {
  background: none;
}

.gel-breadcrumbs__list {
  padding-left: 0 !important;

  .breadcrumb {
    padding-top: 0;
    padding-bottom: 4px;
  }
}

// Search box 
.gel-main .gel-search {
  overflow: visible;

  .gel-searchbox {
    width: 100%;
    max-width: 376px;
    margin-top: -10px;
  }
}

#searchbox_auto {
  margin-top: -180px;
  margin-bottom: 180px;
}

.page-title {
  border-top: 2px solid $color-red;
  padding-top: 10px;

  h1 {
    font-family: "Montserrat";
    font-weight: 400 !important;
    font-size: 1.625rem !important;
  }

  max-width: 376px;
  margin-bottom: 42px;
}


/*
  * Desktop (max-width)
  */
.gel-box-small {
  max-width: 376px;
  margin-top: -173px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 0;
}


@media screen and (min-width: 1200px) {
  // Column Control
  .columncontrol {
    /* 1st Col */
    .col-md-4:nth-child(1) {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }

    /* 2nd Col */
    .col-md-4:nth-child(2) {
      max-width: 25%;
      width: 25%;
      flex-basis: 25%;
    }

    /* 3rd Col */
    .col-md-4:nth-child(3) {
      max-width: 75%;
      width: 75%;
      flex-basis: 75%;
    }

    .gel-link-list {
      column-count: 3;
    }
  }
}

/*
  * Tablet (max-width)
  */
@media #{$gel-mq-md} {
  // Column Control
  .columncontrol {
    /* 1st Col */
    .col-md-4 {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }

    .gel-link-list {
      column-count: 2;
    }
  }
}



@media screen and (max-width: 1199px) {
  
  // Column Control
  .columncontrol {
    .col-md-3 {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }

    .col-md-4 {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }
  }

  // Link Columns
  .linkcolumns {
    .col-md-3, .col-md-9 {
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }
    @media screen and (min-width: 992px) {
      .gel-link-columns--3col {
        column-count: 2;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  // Page title
  .page-title {
    padding-right: 15px;
    max-width: calc(50% - 15px);
    border-top: none; 
    margin-top: -70px;
  }

  .gel-breadcrumbs {
    margin-left: 0;
  }

  .gel-search {
    margin-top: -15px;
  }

  .gel-box-small {
    max-width: 50%;
    margin-left: calc(50% + 10px);
  }

  .gel-searchbox {
    width: 100%;
    max-width: calc(50% - 10px) !important;
    margin-top: -0px;
  }
}

/*
  * Mobile (max-width: 767px)
  */
@media screen and (max-width: 767px) {
  // Page title
  .page-title { 
    display: none;
  }
  
  // Tabs Element > Link Column
  .tabs-layout-container .cmp-text ul {
    column-count: 1;
  }

  // GEL Box Small (Quick Links)
  .gel-box-small {
    float: none;
    margin-top: 15px;
    max-width: 100%;
    margin-bottom: 0px;
    margin-left: auto;

    float: none;
  }

  .gel-main .aem-Grid > .responsivegrid:nth-of-type(1) {
    .columncontrol .col-md-6 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .breadcrumb {
    background: #FFF !important;

    .container {
      padding-bottom: 40px;
    }
  }
  
  #searchbox_auto {
    transform: translateY(-320px);
    height: 40px;
  }

  .gel-main .gel-search {

    
    margin-top: 10px;
    position: relative;
    max-width: none;
    max-width: 100% !important;
    width: 100%;

    .gel-searchbox {
      max-width: 100% !important;
      width: 100%;
    }
  }
}