
.edu-level-1 {
  // &, .root, .breadcrumb {
  //   background-color: #F2F2F2 !important;
  // }

  // Main area
  .gel-main {
    margin-top: 0;
  }


  // Link Columns
  $link-column__item__divider__width: 1px;
  $link-column__item__divider: $link-column__item__divider__width solid $color-grey-15;

  // Tabs Element > Link Column
  .columncontrol {
    // .col-md-6 {
    //   max-width: 100%;
    //   width: 100%;
    //   flex: 1;
    //   flex-basis: 100%;
    // }

    .cmp-text {
      ul {
        column-count: 3;

        @media screen and (max-width: 992px) {
          column-count: 2;
        }

        @media screen and (max-width: 767px) {
          column-count: 1;
        }

        // Link columns row
        li {
          position: relative;

          margin-top: 0;
          margin-bottom: 15px;
          break-inside: avoid;

          border-top: $link-column__item__divider;
          border-bottom: $link-column__item__divider;

          display: flex;
          justify-content: space-between;
          align-items: center;

          padding: 5px 0;
          margin-bottom: 0;

          // Arrow for link columns
          &:after {
            content: '\f178' !important;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 400;
            color: $color-red;
            font-size: 1.5rem;
          }

          // Link column link
          a {
            line-height: 1.6;
            vertical-align: baseline;
            width: 100%;
          }

          &:before, a .gel-external-link {
            display: none;
          }

          &:not(:first-child) {
            margin-top: -$link-column__item__divider__width;
          }
        }
      }
    }
  }

  // Link Button Element
  .link {
    display: flex;
    margin-bottom: 30px;
  }

  // Column Control
  .columncontrol {
    position: relative;

    h2, h3 {
     /* font-weight: 300;*/
      color: #041E42;
    }
/*
    h2 {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    h3 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 49px;
    }*/
  }

  // Breadcrumbs
  .breadcrumb, .gel-breadcrumbs .breadcrumb {
    background: none;
  }

  .gel-breadcrumbs__list {
    padding-left: 0 !important;

    .breadcrumb {
      padding-top: 0;
      padding-bottom: 4px;
    }
  }


  /*
    * Desktop (max-width)
    */

  @media screen and (min-width: 1200px) {
    // Column Control
    .columncontrol {
      /* 1st Col */
      .col-md-4:nth-child(1) {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
      }

      /* 2nd Col */
      .col-md-4:nth-child(2) {
        max-width: 25%;
        width: 25%;
        flex-basis: 25%;
      }

      /* 3rd Col */
      .col-md-4:nth-child(3) {
        max-width: 75%;
        width: 75%;
        flex-basis: 75%;
      }

      .gel-link-list {
        column-count: 3;
      }
    }
  }

  /*
    * Tablet (max-width)
    */
  @media #{$gel-mq-md} {
    // Column Control
    .columncontrol {
      /* 1st Col */
      .col-md-4 {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
      }

      .gel-link-list {
        column-count: 2;
      }
    }
  }



  @media screen and (max-width: 1199px) {

    // Column Control
    .columncontrol {
      .col-md-3 {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
      }

      .col-md-4 {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
      }
    }

    // Link Columns
    .linkcolumns {
      .col-md-3, .col-md-9 {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
      }
      @media screen and (min-width: 992px) {
        .gel-link-columns--3col {
          column-count: 2;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    // Page title
    .page-title {
      padding-right: 15px;
      max-width: calc(50% - 15px);
      border-top: none;
      margin-top: -70px;
    }

    .gel-breadcrumbs {
      margin-left: 0;
    }

    .gel-search {
      margin-top: -15px;
    }

    .gel-searchbox {
      width: 100%;
      max-width: 376px;
      margin-top: -0px;
    }
  }

  /*
    * Mobile (max-width: 767px)
    */
  @media screen and (max-width: 767px) {
    // Page title
    .page-title {
      display: none;
    }

    // Tabs Element > Link Column
    .tabs-layout-container .cmp-text ul {
      column-count: 1;
    }

    // GEL Box Small (Quick Links)
    .gel-box-small {
      float: none;
      margin-top: 15px;
      max-width: 100%;
      margin-bottom: 0px;
    }

    .gel-main .aem-Grid > .responsivegrid:nth-of-type(1) {
      .columncontrol .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    .breadcrumb {
      background: #FFF;

      .container {
        padding-bottom: 40px;
      }
    }

    .gel-main .gel-search {
      margin-top: -80px;
      position: absolute;
      max-width: none;
      max-width: calc(100% - 30px);

      .gel-searchbox {
        max-width: 100%;
      }
    }
  }

  .banner {
    margin-bottom: 20px;
  }

  .banner + .linkcolumns {
    display: none !important;
  }
  
  .layout-container, .linkcolumns {
    margin-bottom: 40px;
    border-top: 2px solid #CE0037;
    background: #FFF;
  }
}
