.edu-level-2 {
  background-color: #f2f2f2 !important;
  .breadcrumb {
    background-color: #f2f2f2 !important;
  }
  .gel-breadcrumbs .breadcrumb {
    background-color: #f2f2f2 !important;
  }
  main {
    .col-md-4 {
      .layout-container {
        .gel-teaser-block {
          .container {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }

      .smallcalender {
        background-color: #fff;
        box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.27);
      }
      .text {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.27);
        border-top: 2px solid #CE0037;
      }
    }
    .col-md-8 {
      .expandednav {
        border-top: 2px solid #CE0037;
        background: #FFF;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
      }
      .layout-container.container {
        padding-left: 0;
        padding-right: 0;
        .gel-teaser-block {
          .container {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
