.page-title {
  display: none;
}

.newshub {
  .gel-form select {
    height: 44px;
    @media #{$gel-mq-desktop} {
      min-width: 200px;
    }
    @media #{$gel-mq-bs-xl} {
      min-width: 238px;
    }
  }
  .gel-button {
    line-height: $button-line-height;
    text-decoration: none;
    padding: $button-default-padding;
    min-height: $button-default-height;
    border-radius:  $button-default-radius;
    border-color: $button-border-color;
    border-width: $button-border-width;
    font-size: $button-default-font-size;
    font-weight: $button-default-font-weight;
    letter-spacing: $button-default-letter-spacing;

    @include gel-button-base;
    @include gel-button-primary;

    padding: $button-small-padding;
    min-height: $button-small-height;
    font-size: $button-small-font-size;
    @media #{$gel-mq-desktop} {
      padding: 10px 50px;
    }
    @media #{$gel-mq-bs-xl} {
      padding: 10px 73px;
    }
    .gel-external-link {
      display: none;
    }

    margin-left: auto;
    margin-right: 0;
  }
}

.columncontrol .col-md-4 {
  background-color: #F2F2F2 !important;
  padding: 40px;
  margin-bottom: 100px
}

.gel-featured-teaser_variant {
  img {
    min-width: 100%;
    width: 100%;
  }
}

.gel-featured-teaser-link {
  min-height: 100%;
}