//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Content Container Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  main.gel-main
    .container
      h2 Content Container
      +gel_content_container_v2
      
      h2 Content Container Background Alt1
      +gel_content_container_v2("background-alt1")
      
      h2 Content Container Background Alt1 Stretched
      +gel_content_container_v2("background-alt1-stretched")
      
      h2 Content Container Border Alt1
      +gel_content_container_v2("edu-border-alt1")

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  </body>
