//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Table of Contents Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  main.gel-main
    .container
      h2 Table of Contents
      
      div#tableOfContents_auto

        div.force-margin-bottom
          h3
            | TOC Title
          p
            | TOC summary
          +gel_toc(7, true)

      h2 Table of Contents - No border & summary
      
      div#tableOfContents_auto

        div.force-margin-bottom
          h3
            | TOC Title
          +gel_toc(7)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  </body>
