//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Banners"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container

      h2  Show hide
      <!-- start component //-->

      +gel_show_hide(4)


      h2 Show hide (alternative style)
      +gel_show_hide(4, 'gel-show-hide--alt1')

      h3 Example AEM component

      p
        | Note: <br />The following includes an example implementation within AEM.
        | Being that every showhide component has their own .gel-show-hide class
        | the margin on bottom causes problems. Some fixes have been implemented
        | for this as part of _show-hide.scss

      .aem-Grid.aem-Grid--12.aem-Grid--default--12
        .showhide-v2.aem-GridColumn.aem-GridColumn--default--12
          #accordion.gel-show-hide.gel-show-hide--alt1
            .card
              #showhide_v2_copy0.card-header
                h3.gel-show-hide_title
                  button.gel-show-hide_link.btn-block.collapsed(data-toggle='collapse' data-target='#showhide_v2_copy-0' aria-expanded='false' aria-controls='showhide_v2_copy-0')
                    i
                    i.vertical
                    |           Show Hide 1 (with Image)
              #showhide_v2_copy-0.collapse(aria-labelledby=' showhide_v2_copy0' style='')
                .card-body
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +lipsum(5, "sentences")
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +gel_image_with_caption
        .showhide-v2.aem-GridColumn.aem-GridColumn--default--12
          #accordion.gel-show-hide.gel-show-hide--alt1
            .card
              #showhide_v2_7114703560.card-header
                h3.gel-show-hide_title
                  button.gel-show-hide_link.btn-block.collapsed(data-toggle='collapse' data-target='#showhide_v2_711470356-0' aria-expanded='false' aria-controls='showhide_v2_711470356-0')
                    i
                    i.vertical
                    |           Show Hide 2 (with Download Box)
              #showhide_v2_711470356-0.collapse(aria-labelledby=' showhide_v2_7114703560' style='')
                .card-body
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +lipsum(5, "sentences")
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +gel_download_box

        .showhide-v2.aem-GridColumn.aem-GridColumn--default--12
          #accordion.gel-show-hide.gel-show-hide--alt1
            .card
              #showhide_v2_8540825720.card-header
                h3.gel-show-hide_title
                  button.gel-show-hide_link.btn-block.collapsed(data-toggle='collapse' data-target='#showhide_v2_854082572-0' aria-expanded='false' aria-controls='showhide_v2_854082572-0')
                    i
                    i.vertical
                    |           Show Hide 3 (with Link Columns)
              #showhide_v2_854082572-0.collapse(aria-labelledby=' showhide_v2_8540825720' style='')
                .card-body
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +lipsum(5, "sentences")
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +gel_link_columns(12, 3,true)

        .showhide-v2.aem-GridColumn.aem-GridColumn--default--12
          #accordion.gel-show-hide.gel-show-hide--alt1
            .card
              #showhide_v2_730058050.card-header
                h3.gel-show-hide_title
                  button.gel-show-hide_link.btn-block.collapsed(data-toggle='collapse' data-target='#showhide_v2_73005805-0' aria-expanded='false' aria-controls='showhide_v2_73005805-0')
                    i
                    i.vertical
                    |           Show Hide 4 (with Tabs)
              #showhide_v2_73005805-0.collapse(aria-labelledby=' showhide_v2_730058050' style='')
                .card-body
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +lipsum(5, "sentences")
                  div
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      +gel_tabs(4)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')

  </body>
