//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Secretary's Update Component"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  main.gel-main
    .container
      .row
        .col-12.col-md-4
          +edu_secretarys_update
             
  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  </body>
