//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link Column"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Link Columns
      h2 Body Variant
      
      section
        h3 One Column Variant
        div
          div.container.pt-3.pb-5
            +gel_link_columns(5, 1, false, true)

        h3 Two Column Variant
        div
          div.container.pt-3.pb-5
            +gel_link_columns(12, 2, false, true)

        h3 Three Column - Condensed Variant
        div
          div.container.pt-3.pb-5
            +gel_link_columns(12, 3, true, true)
            
        h3 Link Column with Description
        div
          div.gel-link-columns-desc
            +gel_link_columns-desc(10, 3, true, true)

      section
        h2.mt-5 Footer Variant
        <div class="gel-global-footer" aria-label="Global Footer">
          <div class="container gel-remove-external-link">
            <div class="row">
              <div class="col-12 col-md-4 gel-global-footer__logo">
              </div>
              <div class="col-12 col-md-8 gel-global-footer__links">
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--2col">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="edu-footerimage-wrapper">
            <div class="edu-footerimage-container edu-footer-bkgimage"></div>
          </div>
        </div>
        
        
        
  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
