//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Featured Teasers"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Featured Teaser

      h2 Feature Teasers - Default
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

        .col-4

          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015

      br
      br

      h2 Feature Teasers - Default with Arrow
      .row
        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              .card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight
                  | News Category
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                  | 25 December 2015
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

      br
      br

      h2 Feature Teasers - Default with Arrow - Equal Height
      .row
        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              div.card-body.gel-featured-teaser__content_variant
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

        .col-4.d-flex
          a.gel-featured-teaser-link.d-flex.flex-grow-1(href="#")
            div.card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              div.card-body.gel-featured-teaser__content_variant
                span.gel-featured-teaser_highlight News Category
                h4.card-title Apply for a $45K teaching award today Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                time.gel-featured-teaser__date_variant(datetime="2015-12-25") 25 December 2015
                div.gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right


      br
      br

      h2 Feature Teasers - Inline image
      a.gel-featured-teaser-link(href="#")
        .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
          .card-body.gel-featured-teaser__inline_image_variant
            .row
              img(class='col-12 col-md-6' src='https://via.placeholder.com/1200x900')
              .col-12.col-md-6.card-body-content
                h4.card-title
                  | Apply for a $45K teaching award today
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

      a.gel-featured-teaser-link(href="#")
        .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
          .card-body.gel-featured-teaser__inline_image_variant
            .row
              img(class='col-12 col-md-6' src='https://via.placeholder.com/1200x900')
              .col-12.col-md-6.card-body-content
                h4.card-title
                  | Apply for a $45K teaching award today
                p
                  | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right

      hr

      h2
        | Featured Teaser with Banner
      .row
        .col-12.mb-5
          +gel_featured_teaser()


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
