//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Label tag"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Label tag
      a(href="#").badge.badge-default.label-tag
        | QRG


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
