//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Banners"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Banners

      h2 Large (Deprecated)
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg")

      h2 Without Overlay
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg",false, false, true, false, true)

      h2 Without Overlay + With Link
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg",false, false, true, false, true, true)

      h2 With Overlay
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg", false, false, false, true, true)

      h2 With Overlay + With Link
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg", false, false, false, true, false, true)

      h2 With Video
      .row
        .col-12
          +gel_banner(false, true, false, true)

      h2 Small (Deprecated)
      .row
        .col-12
          +gel_banner("assets/images/BED-Banner-1350x227.jpg",false, true)

      h2 Homepage Banner
      .row
        .col-12
          +edu_home_banner


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
