//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Buttons"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Buttons
        h2 Text Buttons
        .row
          .col-4
            div Basic
            button.btn.gel-button Button
          .col-4
            div Basic + R.Icon
            button.btn.gel-button.gel-button-r-icon Button
          .col-4
            div Basic + L.Icon
            button.btn.gel-button.gel-button-l-icon Button


        h2.mt-5 Large Buttons
        .row
          .col-4
            div Primary Basic
            button.btn.gel-button.gel-button-primary.gel-button-large Button
          .col-4
            div Primary Basic + R.Icon
            button.btn.gel-button.gel-button-primary.gel-button-r-icon.gel-button-large Button
          .col-4
            div Primary Basic + L.Icon
            button.btn.gel-button.gel-button-primary.gel-button-l-icon.gel-button-large Button

        .row
          .col-4
            div Secondary Basic
            button.btn.gel-button.gel-button-secondary.gel-button-large Button
          .col-4
            div Secondary Basic + R.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-r-icon.gel-button-large Button
          .col-4
            div Secondary Basic + L.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-l-icon.gel-button-large Button
      
        h2.mt-5 Medium Buttons
        .row
          .col-4
            div Primary Basic
            button.btn.gel-button.gel-button-primary.gel-button-medium Button
          .col-4
            div Primary Basic + R.Icon
            button.btn.gel-button.gel-button-primary.gel-button-r-icon.gel-button-medium Button
          .col-4
            div Primary Basic + L.Icon
            button.btn.gel-button.gel-button-primary.gel-button-l-icon.gel-button-medium Button

        .row
          .col-4
            div Secondary Basic
            button.btn.gel-button.gel-button-secondary.gel-button-medium Button
          .col-4
            div Secondary Basic + R.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-r-icon.gel-button-medium Button
          .col-4
            div Secondary Basic + L.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-l-icon.gel-button-medium Button

        h2.mt-5 Small Buttons
        .row
          .col-4
            div Primary Basic
            button.btn.gel-button.gel-button-primary.gel-button-small Button
          .col-4
            div Primary Basic + R.Icon
            button.btn.gel-button.gel-button-primary.gel-button-r-icon.gel-button-small Button
          .col-4
            div Primary Basic + L.Icon
            button.btn.gel-button.gel-button-primary.gel-button-l-icon.gel-button-small Button

        .row
          .col-4
            div Secondary Basic
            button.btn.gel-button.gel-button-secondary.gel-button-small Button
          .col-4
            div Secondary Basic + R.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-r-icon.gel-button-small Button
          .col-4
            div Secondary Basic + L.Icon
            button.btn.gel-button.gel-button-secondary.gel-button-l-icon.gel-button-small Button

        h2.mt-5 Icon Buttons
        .row
          .col-4
            div Primary Large
            button.btn.gel-button.gel-button-icon-only.gel-button-primary.gel-button-large
          .col-4
            div Primary Medium
            button.btn.gel-button.gel-button-icon-only.gel-button-primary.gel-button-medium
          .col-4
            div Primary Small
            button.btn.gel-button.gel-button-icon-only.gel-button-primary.gel-button-small

        .row
          .col-4
            div Secondary Large
            button.btn.gel-button.gel-button-icon-only.gel-button-secondary.gel-button-large
          .col-4
            div Secondary Medium
            button.btn.gel-button.gel-button-icon-only.gel-button-secondary.gel-button-medium
          .col-4
            div Secondary Small
            button.btn.gel-button.gel-button-icon-only.gel-button-secondary.gel-button-small

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
