//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Expanded Nav"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Expanded Nav

        section
            div.expandedNav_default
              h2.gel-block__header
                | In this section
              <div class="row gel-expanded-nav">
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Producs and services</a></h6>
                  <p>The product and services available incorporate hardware, software, infrastructure and support.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Guides and forms</a></h6>
                  <p>Understand how to get the most out of your technology and related support functions.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Projects and initiatives</a></h6>
                  <p>ITS manages and supports multiple projects and improvement initiatives for the whole department.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">About ITD</a></h6>
                  <p>We develop, source, implement and support a range of technology solutions for the department.</p>
                </div>
              </div>
                  
      div#expandedNav_auto

        section
          div.expandedNav_default
            h2.gel-block__header
              | Expanded Nav default

            +gel_expanded_nav(5)

        section
          div.expandedNav_default
            h2.gel-block__header
              | Expanded Nav with description hidden on mobile

            +gel_expanded_nav(11, {hide_mobile_description: true})

        .row
          .col-md-8
            section
              div.expandedNav_default
                h2.gel-block__header
                  | 66% - Expanded Nav with description hidden on mobile

                +gel_expanded_nav(11, {hide_mobile_description: true})    
      
      
              

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
