//--- INCLUDES
//---------------------------------------------------------
include assets/pug/site.pug
//--- VARIABLES
//---------------------------------------------------------
- var pageName = "Inputs"
//--- HTML
//---------------------------------------------------------
doctype html
html(class="#{theme}", lang='en')
  +head
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->
  main.gel-main
    .container-fluid
      h1 Form Inputs
      h2 Standard Input
      .row
        .col-3
          div Basic
          .form-group
            label Label
            input.form-control(type='text')
        .col-3
          div Assistive Text Under Field
          label Label
          .form-group
            input.form-control(type='text')
            small.form-text
              | Enter a alternative pickup address
        .col-3
          div Basic + R.Icon
          .form-group
            label Label
            .input-group
              input.form-control.gel-p-r(type='text')
              .input-group-append
                span.input-group-text
                  span.fas.fa-calendar-alt
        .col-3
          div Basic + L.Icon
          .form-group
            label Label
            .input-group
              .input-group-prepend
                span.input-group-text
                  span.fas.fa-search
              input.form-control.gel-p-l(type='text')

      h2 Standard Input with Error
      .row
        .col-3
          div Basic
          .form-group
            label Label
            input.form-control(type='text' required)
        .col-3
          div Assistive Text Under Field
          label Label
          .form-group
            input.form-control(type='text' required)
            small.form-text.required Please fill in this field
              
        .col-3
          div Basic + R.Icon
          label Label
          .form-group
            .input-group
              input.form-control.gel-p-r(type='text' required)
              .input-group-append
                span.input-group-text
                  span.fas.fa-calendar-alt          

      h2 Standard Input Read Only
      .row
        .col-3
          div Read only
          .form-group
            label Label
            input.form-control(type='text', readonly='true')

        .col-3
          div Disabled
          .form-group
            label Label
            input.form-control(type='text', disabled='true')

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  </body>