include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Social Media Feed"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main
    .container
      .row
        .col-4
          <!-- start component //-->
          +gel_social_from_microservice(20, 20, 100, "false", "NSWDepartmentofEducation", "true","NSWEducation" )
          <!-- end component //-->

        .col-8
          <!-- start component //-->
          +gel_social_from_microservice(20, 20, 100, "false", "NSWDepartmentofEducation", "true","NSWEducation" )
          <!-- end component //-->

    footer

    include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
    include assets/pug/_scripts.pug
    
    script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
    script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/socialMedia.js' type='text/javascript')
    hr

    h2 Record of change decisions

    table
      thead
        tr
          th Change date
          th Jira links
          th Change details

      tbody
