//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Hub"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 News Hub / Featured Teasers with Filter
      .container.gel_featured_teaser_container
        .row
          .col-lg-12
            form
              #frm01.gel-form.gel-form--inline.no-gutters(action='' method='GET')
                fieldset
                  legend.show-on-sr News Sort Options
                  .fav_show_wrapper
                    label(for='25')
                      | Category
                    select#25(name='25' data-gel-auto-submit2='data-gel-auto-submit2')
                      option(value='0')
                        | One morning
                      option(value='1')
                        | His many
                      option(value='2')
                        | His room
                      option(value='3')
                        | and above
                      option(value='4')
                        | Drops of
                      option(value='5')
                        | He must
                      option(value='6')
                        | One morning
                      option(value='7')
                        | His many
                  .fav_show_wrapper
                    label(for='67')
                      | News from
                    select#67(name='67' data-gel-auto-submit2='data-gel-auto-submit2')
                      option(value='0')
                        | His room
                      option(value='1')
                        | and above
                      option(value='2')
                        | Drops of
                      option(value='3')
                        | He must
                      option(value='4')
                        | One morning
                      option(value='5')
                        | His many
                  input#sub01.btn.gel-button.gel-button-primary.gel-button-small(type='submit' name='sub01' value='Filter')
        .row
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | His room, a proper human room although a little too small, lay peacefully between its.
                  p
                    | and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                  p
                    | He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                  p
                    | His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | His room, a proper human room although a little too small, lay peacefully between its.
                  p
                    | and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                  p
                    | He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                  p
                    | His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
      
      .container
        .gel_featured_teaser_pagination
          nav
            ul.gel-pagination
              li.gel-pagination__prev
                a(href='#' title='Previous page' aria-label='Previous page')
                  span Previous
              li
                a(href='#' title='Page 1' aria-label='Page 1') 1
              li.gel-pagination__more.gel-pagination__disabled
                span(href='#') ...           
              li
                a(href='#' title='Page 10' aria-label='Page 10') 10
              li.gel-pagination__disabled.gel-pagination__active
                a(href='#' tabindex='0' aria-label='Current Page 11' role='link') 11
              li
                a(href='#' title='Page 12' aria-label='Page 12') 12
              li.gel-pagination__more.gel-pagination__disabled
                span(href='#') ...
              li.gel-pagination__next
                a(href='#' title='Next page' aria-label='Next page')
                  span Next


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
