//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Select Dropdowns"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h2 Select Dropdowns
      #select
        .gel-select
          label(for='186')
            | Label
          select#186(name='186')
            option(value='0')
              | One morning
            option(value='1')
              | His many
            option(value='2')
              | His room
            option(value='3')
              | and above
            option(value='4')
              | Drops of
      div
        .row
          .col-12.col-md-6
            h4 Select Dropdown
            .gel-select
              label(for='431')
                | Label
              select#431(name='431')
                option(value='0')
                  | He must
                option(value='1')
                  | One morning
                option(value='2')
                  | His many
                option(value='3')
                  | His room
                option(value='4')
                  | and above
          .col-12.col-md-6
            h4 Select Dropdown with more items
            .gel-select
              label(for='450')
                | Label
              select#450(name='450')
                option(value='0')
                  | Drops of
                option(value='1')
                  | He must
                option(value='2')
                  | One morning
                option(value='3')
                  | His many
                option(value='4')
                  | His room
                option(value='5')
                  | and above
                option(value='6')
                  | Drops of
                option(value='7')
                  | He must
                option(value='8')
                  | One morning
                option(value='9')
                  | His many


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
