//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Link Group"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Link Group
        
      section
        div.gel-block
          div.container
            <div class="row">
              <div class="col-md-3">
                <h3>One morning when 
                </h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h3>He must have 
                </h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h3>Drops of rain 
                </h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h3>and above it 
                </h3>
                <div class="gel-link-columns">
                  <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                    </li>
                    <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        
  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
