//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News list"

//--- HTML
//---------------------------------------------------------

mixin gel_news_list(num)

  div.gel-link-columns

    - var n  = 0

    ul(class="gel-link-list gel-link-columns__items")
      while n < num
        li
          span.gel-link-columns-icon(aria-hidden="true")
          a(href="#")
            +lipsum(6, "words", true)
            br
            time.gel-news-list-date(datetime="2015-12-25")
              | 25 December 2019
         
        -n++

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 News List

      
      aside
        div.container.pt-3.pb-5
          div.gel-news-list
            h6 Heading for category
            +gel_news_list(5)
        
        
        
  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
