//--- INCLUDES
//---------------------------------------------------------
include assets/pug/site.pug
//--- VARIABLES
//---------------------------------------------------------
- var pageName = "Search"
//--- HTML
//---------------------------------------------------------
doctype html
html(class="#{theme}", lang='en')
+head
<!--[if gt IE 9 | !IE ]><!-->
<body class="standard education">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education">
<!--<![endif]-->
main.gel-main
  .container
    h1 Search Box

    h2 Small
    .row
      .col-12.col-md-6
        h4 Search Input
        .gel-searchbox.gel-small
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search


      .col-12.col-md-6
        h4 Search Input with Border
        .gel-searchbox.gel-border.gel-small
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search

    h2 Medium (Default)
    .row
      .col-12.col-md-6
        h4 Search Input
        .gel-searchbox
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search


      .col-12.col-md-6
        h4 Search Input with Border
        .gel-searchbox.gel-border
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search

    h2 Large
    .row
      .col-12.col-md-6
        h4 Search Input
        .gel-searchbox.gel-small.gel-large
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search


      .col-12.col-md-6
        h4 Search Input with Border
        .gel-searchbox.gel-border.gel-large
          .form-group
            .input-group
              input.form-control(type='text' placeholder='Enter your search...')
              .input-group-append
                button.btn.gel-button
                  span.fas.fa-search


include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
include assets/pug/_scripts.pug
</body>    
