//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Content Aggregator"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main
  h1 Content Aggregator

  .gel-content-aggregator
    .row
      .d-none.d-lg-block.col-lg-4
        .gel-content-aggregator__filter.expanded(data-auto-update='true' data-filter-attribute="tags")
            h3.filter-list-title Apply filters

            a.filter-title(href='#')
              h4 Filter title 1
            .gel-content-aggregator__collapsible-wrapper.filter-content
              .wrapper-content
                .gel-content-aggregator__collapsible-wrapper.filter-options
                  .wrapper-content
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value1')
                        label(class='form-check-label' for='filter-value1')
                          | Filter value 1
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value2')
                        label(class='form-check-label' for='filter-value2')
                          | Filter value 2
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value3')
                        label(class='form-check-label' for='filter-value3')
                          | Filter value 3
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value4')
                        label(class='form-check-label' for='filter-value4')
                          | Filter value 4
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value5')
                        label(class='form-check-label' for='filter-value5')
                          | Filter value 5
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value6')
                        label(class='form-check-label' for='filter-value6')
                          | Filter value 6
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value7')
                        label(class='form-check-label' for='filter-value7')
                          | Filter value 7
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value8')
                        label(class='form-check-label' for='filter-value8')
                          | Filter value 8
                .expand-controls
                  a(class='more-options' href='#') More options
                  a(class='less-options' href='#') Less options


        .gel-content-aggregator__filter.expanded(data-filter-attribute='audience' data-auto-update='true')
          a.filter-title(href='#')
            h4 Audience
          .gel-content-aggregator__collapsible-wrapper.filter-content
            .wrapper-content
              .gel-content-aggregator__collapsible-wrapper.filter-options
                .wrapper-content
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value1' value='teachers')
                      label(class='form-check-label' for='filter2-value1')
                        | Teachers
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value2' value='staff')
                      label(class='form-check-label' for='filter2-value2')
                        | Staff
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value3' value='students')
                      label(class='form-check-label' for='filter2-value3')
                        | Students
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value4' value='parents')
                      label(class='form-check-label' for='filter2-value4')
                        | Parents


      .gel-content-aggregator__main-content.col-12.col-lg-8
        .results-summary
          h2.result-title Explore content
          p
          button(class='modal-filter-btn d-lg-none btn gel-button gel-button-secondary small' data-toggle='modal' data-target='.modal-filter')
            span.fas.fa-sliders-h(aria-hidden='true')
            | Filter content

        .gel-search-results
          .gel-result-items
          ul.gel-pagination
            li.gel-pagination__prev.gel-pagination__disabled
              a(href="#prev" title="Previous page" aria-label="Previous page")
                span Previous
            li.gel-pagination__prevMore.d-none ...
            li.gel-pagination__nextMore ...
            li.gel-pagination__next.gel-pagination__disabled
              a(href="#next" title="Next page" aria-label="Next page")
                span Next

    div(class='modal modal-filter' tabindex='-1' role='dialog')
      div.modal-dialog.modal-dialog-scrollable(role='document')
        .modal-content
          .modal-header
            h2.d-inline.d-md-none.modal-title Filters
            h2.d-none.d-md-inline.modal-title Refine Search
            button(type='button' class='close' data-dismiss='modal' aria-label='close')
              div(aria-hidden='true')
                div
                  span.fas.fa-times(aria-label='close')
                div close
          .modal-body
            .gel-content-aggregator__filter
              h4.filter-title Filter title 1
              .filter-options.gel-columns--3col
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value1')
                    label(class='form-check-label' for='modal-filter-value1')
                      | Filter value 1
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value2')
                    label(class='form-check-label' for='modal-filter-value2')
                      | Filter value 2
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value3')
                    label(class='form-check-label' for='modal-filter-value3')
                      | Filter value 3
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value4')
                    label(class='form-check-label' for='modal-filter-value4')
                      | Filter value 4
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value5')
                    label(class='form-check-label' for='modal-filter-value5')
                      | Filter value 5
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value6')
                    label(class='form-check-label' for='modal-filter-value6')
                      | Filter value 6
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value7')
                    label(class='form-check-label' for='modal-filter-value7')
                      | Filter value 7
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value8')
                    label(class='form-check-label' for='modal-filter-value8')
                      | Filter value 8

            .gel-content-aggregator__filter(data-filter-attribute='audience')
              h4.filter-title Filter title 2
              .filter-options.gel-columns--2col
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value1' value='teachers')
                    label(class='form-check-label' for='modal-filter2-value1')
                      | Teachers
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value2' value='staff')
                    label(class='form-check-label' for='modal-filter2-value2')
                      | Staff
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value3' value='students')
                    label(class='form-check-label' for='modal-filter2-value3')
                      | Students
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value4' value='parents')
                    label(class='form-check-label' for='modal-filter2-value4')
                      | Parents

          .modal-footer
            .row.m-0
              +gel_button("Apply", "applyFilter gel-button-primary col-12 col-md-6 offset-md-6", "small")


    script(rel='itemTemplate' type='text/template')
      a.gel-featured-teaser-link
        .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
          .card-body.gel-featured-teaser__inline_image_variant
            .row
              .col-12.col-md-6
                img
              .col-12.col-md-6.card-body-content
                div.card-label Label
                h4.card-title
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
                span.card-type
    -
      var result = { items: []};
      for(let i=0; i < 32; i++) {
        const item = {
          "title": `Page ${i + 1} title`,
          "contentPath": `/page${i + 1}.html`
        }
        switch(i % 4) {
          case 0: item.audience = 'teachers'; break;
          case 1: item.audience = 'students'; break;
          case 2: item.audience = 'parents'; break;
          case 3: item.audience = 'staff'; break;
        }
        switch(i % 3) {
          case 0:
            item.isVideo = true;
          case 1: {
            item.imagePath = "https://via.placeholder.com/320x180";
            item.imageAltText = `page ${i + 1} image alt text`;
            item.isPodcast = !item.isVideo;
            break;
          }
        }
        result.items.push(item);
      }
    script(rel='result' type='application/json')
      != JSON.stringify(result)

include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  <!-- include component specific scripts here //-->
  script(src='../assets/js/polyfill/array_from.js' type='text/javascript')
  script(src='../assets/js/polyfill/customEvent.js' type='text/javascript')
  script(src='../assets/js/components/AggregatorFilter.js' type='text/javascript')
  script(src='../assets/js/components/ContentAggregator.js' type='text/javascript')

  </body>
