//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Content Teasers"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main

    .container
      
      h1 Content Teaser
      
      section

        div.gel-teaser-block

          div.container
            .row.gel_teaser_default_container
              .col-md-6
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 


      section

        div.gel-teaser-block

          div.container
            .row.gel_teaser_default_container
              .col-md-6
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
              .col-md-6
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 


      section

        div.gel-teaser-block

          div.container

            .row.gel_teaser_default_container
              .col-md-6.col-lg-4.d-flex
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
              
              .col-md-6.col-lg-4.d-flex
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 

              .col-md-6.col-lg-4.d-flex
                div.gel-teaser(data-pseudo-link)
                  p.gel-teaser__category
                    | Feature
                  a(href="#")
                    h4.gel-teaser__heading
                      | Digital learning brings the world to classroom  
                  img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                  .desc
                    | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 

      
        

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
