//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "DoE Search"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->


      +gel_skiplink
      +global_header(false, false)
      +gel_meganav_mobile
      +gel_megamenu_component(7)

      span#content(tabindex="-1")
    
      script.
        window.doeSearch = {
          searchingIn: 'NSW Department of Education',
          isStaffOnly: true,
          lookingForSomethingElse: {
            showLock: true,
            label: 'Search staff only content',
            url: 'https://education.nsw.gov.au/inside-the-department/search',
          },
          facets: [
            {
              id: 'as_sitesearch',
              name: 'Search In',
              defaultValue: 'all',
              options: [
                { id: 'all', value: 'all', label: 'All of education.nsw.gov.au' },
                { id: 'atsp', value: '/atsp', label: 'Only ASTP'},
                { id: 'policy', value: '/policy-library', label: 'Policy Library'},
              ],
            },
            {
              id: 'filterBy',
              name: 'Type',
              label: 'Type',
              defaultValue: '',
              options: [
                { id: 'all', value: '', label: 'All' },
                { id: 'pages', value: 'pages', label: 'Pages' },
                { id: 'documents', value: 'documents', label: 'Documents'},
                { id: 'schools', value: 'schools', label: 'Schools'},
                { id: 'event', value: 'event', label: 'Events'},
                { id: 'policy', value: 'policy', label: 'Policies' },
                { id: 'article', value: 'article', label: 'Article' },
              ],
            }
          ],
          siteUrl: 'education.nsw.gov.au',
          ignoreSiteForGlobal: true,
          backTo: {
            url: 'https://education.nsw.gov.au/early-childhood-education/operating-an-early-childhood-education-service',
            label: 'Operating an early childhood education service',
          },
          collection: 'public_ce_dec_nsw_gov_au',
        }

      main.gel-main
        #search-spa

      +gel_section_footer
      +global_footer(2, 8)


  include assets/pug/_scripts.pug
  <!-- include any component specific scripts here //-->
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')

  script(src='assets/js/apps/doe-search/runtime.search.js')
  script(src='assets/js/apps/doe-search/vendors.search.js')
  script(src='assets/js/apps/doe-search/main.search.js')
  </body>
