//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "UI Colors"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  style.
    body { background: #FFF; }

  main.gel-main

    .container
      h1 UI Colors
        h2 Brand colors - primary
        hr
        p
          | The NSW Department of Education primary palette includes Deep Navy, Vibrant Red, and Soft Blue.
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.navy
            div.mt-2
              b Navy
              div Uses: Background headers
              div #041E42

          .col-6.col-md-3.mb-5
            div.brand-color.red
            div.mt-2
              b Red
              div Uses: CTA's
              div #CE0037

          .col-6.col-md-3.mb-5
            div.brand-color.baby-blue
            div.mt-2
              b Baby blue
              div Uses: Separators
              div #C8DCF0

          .col-6.col-md-3.mb-5
            div.brand-color.white
            div.mt-2
              b White
              div Uses: Background
              div #979797


        h2.mt-5 Brand colors - secondary
        hr
        p
          | We use the secondary palette sparingly to support the primary palatte.
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.blue-default
            div.mt-2
              b Blue default
              div #1D428A

          .col-6.col-md-3.mb-5
            div.brand-color.blue-mid
            div.mt-2
              b Blue mid
              div #407EC9

          .col-6.col-md-3.mb-5
            div.brand-color.blue-tertiary
            div.mt-2
              b Blue tertiary
              div #6CACE4

          .col-6.col-md-3.mb-5
            div.brand-color.highlight-pink
            div.mt-2
              b Highlight pink
              div #EE3C48

          .col-6.col-md-3.mb-5
            div.brand-color.peach
            div.mt-2
              b Peach
              div Uses: Background headers
              div #F3B8B5

          .col-6.col-md-3.mb-5
            div.brand-color.grey
            div.mt-2
              b Grey
              div CTA's
              div #E6E7E9

        h2.mt-5 Shades of grey
        hr
        p
          | We also use shades of grey in our UI seperate content, divide sections and indicate fields. These are not colours used to represent our brand. 
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.grey-60
            div.mt-2
              b Grey 60
              div 60% Black Tint, Text
              div #666666

          .col-6.col-md-3.mb-5
            div.brand-color.grey-30
            div.mt-2
              b Grey 30
              div 30% Black Tint
              div #B3B3B3

          .col-6.col-md-3.mb-5
            div.brand-color.grey-15
            div.mt-2
              b Grey 15
              div 15% Black Tint, Disabled Fill
              div #D9D9D9

          .col-6.col-md-3.mb-5
            div.brand-color.grey-10
            div.mt-2
              b Grey 10
              div 10% Black Tint, Nav Footer
              div #E5E5E5

          .col-6.col-md-3.mb-5
            div.brand-color.grey-5
            div.mt-2
              b Grey 5
              div 5% Black Tint, Button Fill
              div #F2F2F2

          .col-6.col-md-3.mb-5
            div.brand-color.grey-2
            div.mt-2
              b Grey 2
              div 2% Black Tint, Form Field Fill
              div #FAFAFA


        h2.mt-5 Text colors
        hr
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.navy
            div.mt-2
              b Navy
              div Headlines
              div #041E42

          .col-6.col-md-3.mb-5
            div.brand-color.black
            div.mt-2
              b Black
              div Body copy
              div #000000

          .col-6.col-md-3.mb-5
            div.brand-color.white
            div.mt-2
              b White
              div On dark backgrounds
              div #FFFFFF

          .col-6.col-md-3.mb-5
            div.brand-color.grey-60
            div.mt-2
              b Grey
              div &nbsp;
              div #666666

          
        h2.mt-5 System messages and alerts
        hr
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.error
            div.mt-2
              b Error
              div #FF635C

          .col-6.col-md-3.mb-5
            div.brand-color.warning
            div.mt-2
              b Warning
              div #F69900

          .col-6.col-md-3.mb-5
            div.brand-color.success
            div.mt-2
              b Success
              div #0CAC78

          .col-6.col-md-3.mb-5
            div.brand-color.info
            div.mt-2
              b Info
              div #00BFE9


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
