//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gel-main

    div.container

      div.row

        div.col

          h1
            | #{siteName} : #{pageName}

          h2 Components
          ul
            li
              a(href="component-button.html") Buttons
            li
              a(href="component-banner.html") Banners
            li
              a(href="component-notice-ribbon.html") Notice ribbon
            li
              a(href="component-featured-teaser.html") Featured Teasers
            li
              a(href="component-news-hub.html") News Hub
            li
              a(href="component-news-list.html") News list
            li
              a(href="component-content-teaser.html") Content Teasers
            li
              a(href="component-link-column.html") Link Column
            li
              a(href="component-link-group.html") Link Group
            li
              a(href="component-expanded-nav.html") Expanded Nav / Section Summary
            li
              a(href="component-input.html") Form Text Inputs
            li
              a(href="component-secretarys-update.html") Secretary's Update
            li
              a(href="component-search-box.html") Search Box
            li
              a(href="component-social-media.html") Social Media Feed
            li
              a(href="component-label-tag.html") Label tag
            li
              a(href="component-showhide.html") Show Hide
            li
              a(href="component-share-this.html") Share Tool
            li
              a(href="component-content-container.html") Content Container / Layout Container
            li
              a(href="component-select.html") Select Dropdown
            li
              a(href="component-content-aggregator.html") Content Aggregator
            li
              a(href="component-table-of-contents.html") Table of Contents

          h2 Templates

          h3 Standard

          ul
            li
              a(href="template-base.html") Base
            li
              a(href="template-standard.html") Standard
            li
              a(href="template-section.html") Section
            li
              a(href="template-landing.html") Landing
            li
              a(href="template-news-index.html") News Index
            li
              a(href="template-news-article.html") News Article
            li
              a(href="template-catalogue.html") Catalogue
            li
              a(href="template-feedback-form.html") Feedback form
            li
              a(href="template-level1.html") Level 1
            li
              a(href="template-level2.html") Level 2




          h3 Policy

          ul
            li
              a(href="template-policy-standard.html") Policy
            li
              a(href="template-policy-landing-page-topic-view.html") Policy Landing Page (Topic View)
            li
              a(href="template-policy-landing-page-a-z-view.html") Policy Landing Page (A-Z View)
            li
              a(href="template-policy-document-history.html") Document History
            li
              a(href="template-policy-implementation-document.html") Policy Implementation Document
            li
              a(href="template-policy-topics-page.html") Policy Topics Page


          h3 A-Z templates

          ul
            li
              a(href="template-landing-a-z-variation1.html") A-Z Template (Variation 1)
            li
              a(href="template-landing-a-z-variation2.html") A-Z Template (Variation 2)
            li
              a(href="template-landing-a-z-variation3.html") A-Z Template (Variation 3)

          h3 Specific

          ul
            li
              a(href="template-education-home.html") Education Home Page
            li
              a(href="template-news-hub.html") News hub
            li
              a(href="template-news-hub-article.html") News hub - Article template
              ul
                li
                  a(href="template-news-hub-article-variation-no-image.html") News hub - Article - variation- template without image
                li
                  a(href="template-news-hub-article-variation-secretary-update.html") News hub - Article - variation- template secretary's update
            li
              a(href="template-primary-hub-private.html") Primary hub (Private)
            li
              a(href="template-primary-hub-public.html") Primary hub (Public)
            li
              a(href="template-secondary-hub.html") Secondary hub

              ul
                li
                  a(href="template-secondary-hub-variation1.html") Secondary hub variation 1
                li
                  a(href="template-secondary-hub-variation2.html") Secondary hub variation 2
                li
                  a(href="template-secondary-hub-variation3.html") Secondary hub variation 3
                li
                  a(href="template-secondary-hub-variation4.html") Secondary hub variation 4
            li
              a(href="template-secondary-index.html") Secondary Index demo page
            li
              a(href="template-secondary-index-withparentclass.html") Secondary index - multiple demo page
            li
              a(href="template-erm-standard.html") ERM
            li
              a(href="template-standard-no-search-box.html") Policy Template Standard No Search
            li
              a(href="template-themes-demo.html") gel Themes Demo Template


          h3 Other

          ul
            li
              a(href="template-input-share-poc.html") Input Share PoC
            li
              a(href="template-long-document.html") Long Document
            li
              a(href="template-guided-journey.html") Guided Journey
            li
              a(href="component-livefyre.html") Livefyre component
            li
              a(href="doe-search.html") DoE Search

          h3 AEM Pages
          ul
            li
              a(href="page-home.html") Home
            li
              a(href="page-news.html") News
            li
              a(href="page-level-1.html") Level 1


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug

  </body>
