include assets/pug/site.pug

doctype html

+head

body.page.basicpage.standard.education.edu-level-1

  // Start GTM body script
  // Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5THP3QS' height='0' width='0' style='display:none;visibility:hidden')
  // End Google Tag Manager (noscript)
  // End GTM body script
  #globalheader
    #top-mobile.gel-skiplink-container
      .gel-skiplink
        .container
          .row
            .col-12
              ul
                li
                  a#top-desktop.gel-skiplink__link(href='#content') Skip to content
                li
                  a.gel-skiplink__link(href='#search') Skip to search
  .root.responsivegrid
    .aem-Grid.aem-Grid--12.aem-Grid--default--12
      .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
        .aem-Grid.aem-Grid--12.aem-Grid--default--12
          .global-header.aem-GridColumn.aem-GridColumn--default--12
            .gel-global-header-container(role='banner')
              .gel-global-header
                .container
                  .row
                    .col-12
                      a.gel-global-header__header(href='/' title='A NSW Government website - Education')
                        abbr(aria-hidden='true') A NSW Government website - Education
                      .global-header-right-nav.row
                        #google_translate_element.gel_google_translate
                          script(type='text/javascript').
                            function googleTranslateElementInit() {
                            if (!(/iPhone|iPad|iPod|Android|webOS|BlackBerry|Opera Mini|IEMobile/i.test(navigator.userAgent))) {
                            new google.translate.TranslateElement({
                            pageLanguage: 'en',
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                            autoDisplay: false
                            }, 'google_translate_element');
                            }
                            }
                          script(type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
                        .global-header-links-right
                          .gel-global-links.dropdown
                            button#logindropdownbtn.gel-global-link-button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-label='Login Menu')
                              span.global-link-button-txt(aria-hidden='false') Log in
                              span.gel-link-icon.gel-visible-small(aria-hidden='true')
                            ul.gel-global-links-dropdown.dropdown-menu.dropdown-menu-right(aria-labelledby='logindropdownbtn')
                              li
                                h4 Staff
                                ul.gel-link-list
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='https://portal.det.nsw.edu.au/' title='') Staff portal
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='/inside-the-department' title='') Inside the department (staff intranet)
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='https://edit.education.nsw.gov.au/editor.html/content/main-education/en/home/about-us' title='') Edit this page
                              li
                                h4 Students
                                ul.gel-link-list
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='https://portal.det.nsw.edu.au/' title='') Student portal
                              li
                                h4 Other users
                                ul.gel-link-list
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='https://extranet.det.nsw.edu.au/' title='') Extranet
                              li
                                h4 All users
                                ul.gel-link-list
                                  li
                                    span.gel-link-list-icon(aria-hidden='true')
                                    a.dropdown-item.gel-remove-external-link(href='https://ssoaddonsext.det.nsw.edu.au/ssoaddon/forgotpassword/index.jsp' title='') Forgot password
          .alert.aem-GridColumn.aem-GridColumn--default--12
            // SDI include (path: /conf/main-education/settings/wcm/templates/level1-hub-page/structure/_jcr_content/root/responsivegrid/alert.nocache.html, resourceType: main-education/components/content/alert)
            div
          .notice.aem-GridColumn.aem-GridColumn--default--12
            .gel-remove-external-link
          .megamenu.aem-GridColumn.aem-GridColumn--default--12
            div
              // Component -Megamenu code fragment starts here
              nav#gel-mnav.gel-mobile-nav(role='dialog' aria-labelledby='gel-mobile-nav_header-lead-dialog')
                ul.gel-mobile-nav_list
                  li.gel-mobile-nav_header
                    span#gel-mobile-nav_header-lead-dialog(aria-hidden='true') Megamenu mobile nav
                    a.gel-mobile-nav_header-logo-link(href='/' title='NSW Logo')
                      img.gel-mobile-nav_header-logo-image(src='https://education.nsw.gov.au/content/dam/main-education/nsw-logo-colour.png' alt='NSW Logo')
                    p.gel-mobile-nav_header-lead Welcome to
                    h1 education.nsw.gov.au      
                  li.gel-mobile-nav_list-links
                    a(href='#') Early childhood education
                    ul
                      .hidden-xs.gel-mobile-nav_list-links-intro
                        a(href='#')
                          h3 Early childhood education
                        p
                          | From working in or operating an early childhood education centre, complaints and feedback, information for parents &amp; carers to news. Learn more today
                      li
                        a(href='/early-childhood-education/operating-an-early-childhood-education-service') Operating an early childhood education service
                      li
                        a(href='/early-childhood-education/working-in-early-childhood-education') Working in early childhood education
                      li
                        a(href='/early-childhood-education/information-for-parents-and-carers') Information for parents and carers
                      li
                        a(href='/early-childhood-education/whats-happening-in-the-early-childhood-education-sector') What&apos;s happening in the early childhood education sector
                      li
                        a(href='/early-childhood-education/investigation-feedback-and-complaints') Investigation, feedback and complaints
                  li.gel-mobile-nav_list-links
                    a(href='#') Public schools
                    ul
                      .hidden-xs.gel-mobile-nav_list-links-intro
                        a(href='#')
                          h3 Public schools
                        p
                          | Information about NSW public education, including the school finder, high school enrolment, school safety, selective schools and opportunity classes.
                      li
                        a(href='/public-schools/going-to-a-public-school') Going to a public school
                      li
                        a(href='/public-schools/selective-high-schools-and-opportunity-classes') Selective high schools and opportunity classes
                      li
                        a(href='/public-schools/practical-help-for-parents-and-carers') Practical help for parents and carers
                      li
                        a(href='/public-schools/astp') Assisted School Travel Program
                      li
                        a(href='/public-schools/community-languages-schools') Community languages schools
                      li
                        a(href='/public-schools/schools-funding') Schools funding
                      li
                        a(href='/public-schools/tertiary-pathways') Tertiary pathways
                      li
                        a(href='/public-schools/school-safety') School safety
                      li
                        a(href='/public-schools/back-to-school') Back to school
                  li.gel-mobile-nav_list-links
                    a(href='#') Teaching and learning
                    ul
                      .hidden-xs.gel-mobile-nav_list-links-intro
                        a(href='#')
                          h3 Teaching and learning
                        p
                          | NSW Department of Education&apos;s information on curriculum taught in NSW schools, Aboriginal education and communities &amp; personalised support.
                      li
                        a(href='/teaching-and-learning/aec') Aboriginal education and communities
                      li
                        a(href='/teaching-and-learning/curriculum') Curriculum
                      li
                        a(href='/teaching-and-learning/school-learning-environments-and-change') School learning environments and change
                      li
                        a(href='/teaching-and-learning/student-assessment') Student assessment
                      li
                        a(href='/teaching-and-learning/professional-learning') Professional learning
                      li
                        a(href='/teaching-and-learning/disability-learning-and-support') Disability, learning and support
                      li
                        a(href='/teaching-and-learning/school-excellence-and-accountability') School excellence and accountability
                      li
                        a(href='/teaching-and-learning/high-potential-and-gifted-education') High potential and gifted education
                      li
                        a(href='/teaching-and-learning/education-for-a-changing-world') Education for a Changing World
                  li.gel-mobile-nav_list-links
                    a(href='#') Student wellbeing
                    ul
                      .hidden-xs.gel-mobile-nav_list-links-intro
                        a(href='#')
                          h3 Student wellbeing
                        p
                          | The Wellbeing Framework supports schools to create learning environments that enable students to be healthy, happy, engaged and successful.
                      li
                        a(href='/student-wellbeing/attendance-behaviour-and-engagement') Attendance, behaviour and engagement
                      li
                        a(href='/student-wellbeing/child-protection') Child protection
                      li
                        a(href='/student-wellbeing/counselling-and-psychology-services') Counselling and psychology services
                      li
                        a(href='/student-wellbeing/health-and-physical-care') Health and physical care
                      li
                        a(href='/student-wellbeing/whole-school-approach') Whole school approach
                      li
                        a(href='/student-wellbeing/external-wellbeing-providers') External wellbeing providers
                  li.gel-mobile-nav_list-links.gel-mobile-nav_list-childless.mm-listitem
                    a(href='/policy-library')
                      | Policy library 
                      span.gel-mobile-nav_list-childless-icon(aria-hidden='true')
                  li.gel-mobile-nav_list-links
                    a(href='#') About us
                    ul
                      .hidden-xs.gel-mobile-nav_list-links-intro
                        a(href='#')
                          h3 About us
                        p
                          | Learn about the NSW education department, who we are and how we operate. Explore our people, accountabilities, jobs, opportunities and much more.
                      li
                        a(href='/about-us/our-people-and-structure') Our people and structure
                      li
                        a(href='/about-us/rights-and-accountability') Rights and accountability
                      li
                        a(href='/about-us/business-engagement-and-development') Business engagement and development
                      li
                        a(href='/about-us/supplying-to-us') Supplying to us
                      li
                        a(href='/about-us/careers-at-education') Careers at Education
                      li
                        a(href='/about-us/strategies-and-reports') Strategies and reports
                      li
                        a(href='/about-us/educational-data') Educational data
                      li
                        a(href='/about-us/using-school-facilities') Using school facilities
                      li
                        a(href='/about-us/department-contacts') Contact the NSW Department of Education
              // Component - Megamenu code fragment ends here.uk-grid
            // Component -Megamenu code fragment starts here
            nav.gel-meganav.navbar.navbar-expand-md.d-none.d-md-block
              .container.gel-remove-external-link
                .container-fluid.gel-meganav__main-menu
                  .row.navbar-header
                    .gel-meganav-logo.col-2.col-lg-1
                      a.gel-meganav-logo__link(href='/' title='NSW Logo')
                        img.gel-meganav-logo__image(src='https://education.nsw.gov.au/content/dam/main-education/nsw-logo-colour.png' alt='NSW Logo')
                    .gel-meganav-menulinks.col-10.col-lg-11
                      #gel-meganav-collapse-1.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                          li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                            a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Early childhood education
                            .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                              h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                                a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/early-childhood-education' aria-label='Early childhood education') Early childhood education
                              .gel-meganav_dropdown__subnav-desc
                                p
                                  | From working in or operating an early childhood education centre, complaints and feedback, information for parents &amp; carers to news. Learn more today
                                .gel-meganav_dropdown__subnav-design
                              ul.list-unstyled.card-columns
                                li.gel-meganav-mega-link
                                  a(href='/early-childhood-education/operating-an-early-childhood-education-service')
                                    span.gel-meganav-mega-link_title Operating an early childhood education service
                                li.gel-meganav-mega-link
                                  a(href='/early-childhood-education/working-in-early-childhood-education')
                                    span.gel-meganav-mega-link_title Working in early childhood education
                                li.gel-meganav-mega-link
                                  a(href='/early-childhood-education/information-for-parents-and-carers')
                                    span.gel-meganav-mega-link_title Information for parents and carers
                                li.gel-meganav-mega-link
                                  a(href='/early-childhood-education/whats-happening-in-the-early-childhood-education-sector')
                                    span.gel-meganav-mega-link_title What&apos;s happening in the early childhood education sector
                                li.gel-meganav-mega-link
                                  a(href='/early-childhood-education/investigation-feedback-and-complaints')
                                    span.gel-meganav-mega-link_title Investigation, feedback and complaints
                          li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                            a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Public schools
                            .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                              h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                                a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/public-schools' aria-label='Early childhood education') Public schools
                              .gel-meganav_dropdown__subnav-desc
                                p
                                  | Information about NSW public education, including the school finder, high school enrolment, school safety, selective schools and opportunity classes.
                                .gel-meganav_dropdown__subnav-design
                              ul.list-unstyled.card-columns
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/going-to-a-public-school')
                                    span.gel-meganav-mega-link_title Going to a public school
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/selective-high-schools-and-opportunity-classes')
                                    span.gel-meganav-mega-link_title Selective high schools and opportunity classes
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/practical-help-for-parents-and-carers')
                                    span.gel-meganav-mega-link_title Practical help for parents and carers
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/astp')
                                    span.gel-meganav-mega-link_title Assisted School Travel Program
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/community-languages-schools')
                                    span.gel-meganav-mega-link_title Community languages schools
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/schools-funding')
                                    span.gel-meganav-mega-link_title Schools funding
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/tertiary-pathways')
                                    span.gel-meganav-mega-link_title Tertiary pathways
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/school-safety')
                                    span.gel-meganav-mega-link_title School safety
                                li.gel-meganav-mega-link
                                  a(href='/public-schools/back-to-school')
                                    span.gel-meganav-mega-link_title Back to school
                          li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                            a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Teaching and learning
                            .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                              h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                                a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/teaching-and-learning' aria-label='Early childhood education') Teaching and learning
                              .gel-meganav_dropdown__subnav-desc
                                p
                                  | NSW Department of Education&apos;s information on curriculum taught in NSW schools, Aboriginal education and communities &amp; personalised support.
                                .gel-meganav_dropdown__subnav-design
                              ul.list-unstyled.card-columns
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/aec')
                                    span.gel-meganav-mega-link_title Aboriginal education and communities
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/curriculum')
                                    span.gel-meganav-mega-link_title Curriculum
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/school-learning-environments-and-change')
                                    span.gel-meganav-mega-link_title School learning environments and change
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/student-assessment')
                                    span.gel-meganav-mega-link_title Student assessment
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/professional-learning')
                                    span.gel-meganav-mega-link_title Professional learning
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/disability-learning-and-support')
                                    span.gel-meganav-mega-link_title Disability, learning and support
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/school-excellence-and-accountability')
                                    span.gel-meganav-mega-link_title School excellence and accountability
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/high-potential-and-gifted-education')
                                    span.gel-meganav-mega-link_title High potential and gifted education
                                li.gel-meganav-mega-link
                                  a(href='/teaching-and-learning/education-for-a-changing-world')
                                    span.gel-meganav-mega-link_title Education for a Changing World
                          li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                            a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Student wellbeing
                            .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                              h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                                a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/student-wellbeing' aria-label='Early childhood education') Student wellbeing
                              .gel-meganav_dropdown__subnav-desc
                                p
                                  | The Wellbeing Framework supports schools to create learning environments that enable students to be healthy, happy, engaged and successful.
                                .gel-meganav_dropdown__subnav-design
                              ul.list-unstyled.card-columns
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/attendance-behaviour-and-engagement')
                                    span.gel-meganav-mega-link_title Attendance, behaviour and engagement
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/child-protection')
                                    span.gel-meganav-mega-link_title Child protection
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/counselling-and-psychology-services')
                                    span.gel-meganav-mega-link_title Counselling and psychology services
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/health-and-physical-care')
                                    span.gel-meganav-mega-link_title Health and physical care
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/whole-school-approach')
                                    span.gel-meganav-mega-link_title Whole school approach
                                li.gel-meganav-mega-link
                                  a(href='/student-wellbeing/external-wellbeing-providers')
                                    span.gel-meganav-mega-link_title External wellbeing providers
                          li.gel-meganav_dropdown.dropdown.dropdown-meganav
                            a.nav-link(href='/policy-library') Policy library
                          li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                            a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') About us
                            .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                              h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                                a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/about-us' aria-label='Early childhood education') About us
                              .gel-meganav_dropdown__subnav-desc
                                p
                                  | Learn about the NSW education department, who we are and how we operate. Explore our people, accountabilities, jobs, opportunities and much more.
                                .gel-meganav_dropdown__subnav-design
                              ul.list-unstyled.card-columns
                                li.gel-meganav-mega-link
                                  a(href='/about-us/our-people-and-structure')
                                    span.gel-meganav-mega-link_title Our people and structure
                                li.gel-meganav-mega-link
                                  a(href='/about-us/rights-and-accountability')
                                    span.gel-meganav-mega-link_title Rights and accountability
                                li.gel-meganav-mega-link
                                  a(href='/about-us/business-engagement-and-development')
                                    span.gel-meganav-mega-link_title Business engagement and development
                                li.gel-meganav-mega-link
                                  a(href='/about-us/supplying-to-us')
                                    span.gel-meganav-mega-link_title Supplying to us
                                li.gel-meganav-mega-link
                                  a(href='/about-us/careers-at-education')
                                    span.gel-meganav-mega-link_title Careers at Education
                                li.gel-meganav-mega-link
                                  a(href='/about-us/strategies-and-reports')
                                    span.gel-meganav-mega-link_title Strategies and reports
                                li.gel-meganav-mega-link
                                  a(href='/about-us/educational-data')
                                    span.gel-meganav-mega-link_title Educational data
                                li.gel-meganav-mega-link
                                  a(href='/about-us/using-school-facilities')
                                    span.gel-meganav-mega-link_title Using school facilities
                                li.gel-meganav-mega-link
                                  a(href='/about-us/department-contacts')
                                    span.gel-meganav-mega-link_title Contact the NSW Department of Education
            // Component - Megamenu code fragment ends here.uk-grid
          .sectionheader.aem-GridColumn.aem-GridColumn--default--12
            .gel-section-header(role='banner')
              .container
                .row
                  .col-2.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label='Megamenu mobile nav')
                    a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav' role='button' tabindex='0' aria-label='Click to open Megamenu mobile nav')
                  .col-8.gel-header-container
                    h1.gel-section-header__logo
                      a(href='#') About us
                  .col-2.gel-mobile-search-indicator
                    button#global-search-button.gel-search__toggle.gel-search__toggle-target(aria-label='Global search' aria-controls='global-search' data-toggle='collapse' data-target='#global-search' aria-expanded='false')
                      span.show-on-sr Global Search
            form#global-search.gel-search.gel-search__toggle-target(action='/search' aria-hidden='false' aria-labelledby='global-search-button')
              fieldset
                legend.show-on-sr Global Search
                input(type='hidden' name='search_start' value='/content/main-education/en/home/about-us')
                input(type='hidden' name='referrer' value='/content/main-education/en/home/about-us')
                .gel-searchbox.gel-small
                  .form-group
                    .input-group
                      input#search.form-control(type='text' placeholder='Enter your search...' name='q')
                      .input-group-append
                        button.btn.gel-button
                          span.fas.fa-search
          .breadcrumb.aem-GridColumn.aem-GridColumn--default--12
            .container
              nav.gel-breadcrumbs(aria-label='breadcrumb')
                .gel-breadcrumbs-visibility.d-lg-none.d-xl-none
                  a.gel-breadcrumbs__link(title='Go back to parent page' href='/')
                    span.gel-breadcrumbs__link-icon(aria-hidden='true')
                    | Back
                .gel-breadcrumbs-visibility.d-none.d-md-block
                  ol.gel-breadcrumbs__list.breadcrumb
                    li.gel-breadcrumbs__item-home.breadcrumb-item
                      a.gel-breadcrumbs__item-link(href='/' title='Go to NSW Department of Education homepage')
                        span.gel-breadcrumbs__item-home-icon(aria-hidden='true')
                        span.show-on-sr Home
                    li.gel-breadcrumbs__item.breadcrumb-item.active.gel-breadcrumbs__truncate(aria-current='page' style='max-width: 22.42%;')
                      span.gel-breadcrumbs__item-active About us
      .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
        .aem-Grid.aem-Grid--12.aem-Grid--default--12
          .columncontrol.responsivegrid.aem-GridColumn.aem-GridColumn--default--12
            span#content(tabindex='-1')
            main#mm-0.container.gel-main.mm-page.mm-slideout
              div
                .aem-Grid.aem-Grid--12.aem-Grid--default--12
                  .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      
                      .banner.aem-GridColumn.aem-GridColumn--default--12
                        .row
                          .col-12
                            aside.gel-banner-container(aria-label='banner')
                              div
                                .gel-banner-container.gel-remove-external-link(aria-label='banner')
                                  .gel-banner.fifty_fifty_warpper.row
                                    .col-lg-6.order-lg-last.order-md-first
                                      .media-container.image_container
                                        img.img-fluid(src='https://education.nsw.gov.au/content/dam/main-education/en/home/about-us/banner/about-us-banner.png/_jcr_content/renditions/cq5dam.web.1280.1280.png' alt='Book')
                                    .gel-banner__content.col-lg-6.order-lg-first.gel-banner__content_fifty(tabindex='0')
                                      .banner__content-container
                                        h3.gel-banner__content__title About the department
                                        p
                                          | We ensure young children get the best start in life by supporting and regulating the early childhood education and care sector. We are Australia&apos;s largest provider of public education.
                                        div
                                          a.btn.gel-button.gel-button-small.gel-button-primary(href='/about-us/our-people-and-structure' title='banner link') Find out about us 
                        //
                          <div class="row">
                          <div class="col-12">
                          <aside class="gel-banner-container" aria-label="banner">
                          <div>
                          <h2 class="show-on-sr">Featured page</h2>
                          <div class="gel-banner fifty_fifty_warpper row">
                          <div class="col-lg-6 order-lg-last order-md-first">
                          <div class="media-container image_container">
                          <img class="img-fluid" src="" alt="Book">
                          </div>
                          </div>
                          <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
                          <div class="banner__content-container">
                          <h3 class="gel-banner__content__title">About the department</h3>
                          <p>
                          We ensure young children get the best start in life by supporting and regulating the early childhood education and care sector. We are Australia's largest provider of public education.
                          </p>
                          <div>
                          <a data-sly-test="true"
                          class="btn gel-button gel-button-small gel-button-primary" href="/content/main-education/en/home/about-us/our-people-and-structure.html"
                          title="banner link">Find out about us </a>
                          <a data-sly-test="false" href="/content/main-education/en/home/about-us/our-people-and-structure.html"
                          title="banner link">Find out about us </a>
                          </div>
                          <div data-sly-test="false">
                          <a data-sly-test="true"
                          class="btn gel-button gel-button-small gel-button-secondary" href=""
                          title="banner link"> </a>
                          <a data-sly-test="false" href=""
                          title="banner link"> </a>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </aside>
                          </div>
                          </div>
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .gel-link-columns
                  .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
                    .aem-Grid.aem-Grid--12.aem-Grid--default--12
                      .columncontrol.responsivegrid.aem-GridColumn.aem-GridColumn--default--12
                        .row
                          .col-12.col-md-6
                            div
                              .aem-Grid.aem-Grid--12.aem-Grid--default--12
                                .text.aem-GridColumn.aem-GridColumn--default--12
                                  .cmp-text
                                    h2 Quick links
                          .col-12.col-md-6
                            div
                              .aem-Grid.aem-Grid--12.aem-Grid--default--12
                                .text.aem-GridColumn.aem-GridColumn--default--12
                                  .cmp-text
                                    ul
                                      li
                                        a(href='/about-us/careers-at-education/why-work-at-education' target='_self') Why choose us?
                                      li
                                        a(href='/about-us/rights-and-accountability/department-of-education-code-of-conduct' target='_self') Code of Conduct
                                      li
                                        a(href='/about-us/rights-and-accountability/information-access' target='_self') Information access
                                      li
                                        a(href='/about-us/rights-and-accountability/privacy') Privacy
                                      li
                                        a(href='/about-us/strategies-and-reports/strategic-plan') Strategic plan
                                      li
                                        a(href='/about-us/strategies-and-reports/annual-reports') Annual reports
                      .text.aem-GridColumn.aem-GridColumn--default--12
                        .cmp-text
                          h2 Explore About us
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/our-people-and-structure') Our people and structure 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p Information about the department&apos;s people and structure. 
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/the-secretary') The Secretary 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/our-executive') Our Executive 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/our-ministers') Our Ministers 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/division-profiles') Division profiles 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/history-of-government-schools') History of New South Wales government schools 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/non-government-schools') Non-government schools 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/our-people-and-structure/higher-education-and-tertiary-policy') Higher education and tertiary policy 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/our-people-and-structure') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/rights-and-accountability') Rights and accountability 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p
                                    | Information on the department&apos;s legal obligations, privacy and the code of conduct.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/accessibility') Accessibility 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/certificate-authority') Certificate authority &ndash; NSW Department of Education 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/certificates-of-currency') Certificates of currency 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/complaints-compliments-and-suggestions') Complaints, compliments and suggestions 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/department-of-education-code-of-conduct') Department of Education Code of Conduct 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/discrimination') Discrimination 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/information-access') Information Access &ndash; Agency Information Guide 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/legal-issues-bulletins') Legal issues bulletins 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/national-redress-scheme') National Redress Scheme 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/privacy') Privacy 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/rights-and-accountability/contact-us') Contact us 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/rights-and-accountability') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/business-engagement-and-development') Business engagement and development 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p
                                    | Information about sponsorship, business engagement and development opportunities for organisations to collaborate with schools.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/business-engagement-and-development/partner-with-us') Partner with us 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/business-engagement-and-development/our-programs') Our programs 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/business-engagement-and-development/for-schools') For schools 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/business-engagement-and-development/contact-us') Contact us 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/business-engagement-and-development') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/supplying-to-us') Supplying to us 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p Information about how we buy and how you might be able to sell to us.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/selling-directly') Selling directly 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/supplying-it-goods-and-services') Supplying IT goods and services 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/tendering-for-business') Tendering for business 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/contact-us') Contact us 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/small-business-registration') Small business registration 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/unsolicited-proposals') Unsolicited proposals 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/supplier-communication-guidelines') Supplier Communication Guidelines  
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/existing-supply-arrangements') Existing supply arrangements 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/supplying-to-us/online-catalogue-guideline') Online catalogue guideline 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/supplying-to-us') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/careers-at-education') Careers at Education 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p Find a career with a difference at Education
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/why-work-at-education') Why work with us 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/roles-and-locations') Roles and locations 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/salary-and-benefits') Salary and benefits 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/scholarships-and-programs') Scholarships and programs 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/employment-opportunities') Employment opportunities 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/careers-at-education/contact-us') Contact us 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/careers-at-education') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/strategies-and-reports') Strategies and reports 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p
                                    | Information about the department&rsquo;s plans and strategies, as well as reports on our results and the challenges we face.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/strategies-and-reports/strategic-plan') Strategic plan 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/strategies-and-reports/annual-reports') Annual reports 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/strategies-and-reports/our-reconciliation-action-plan') Our reconciliation action plan 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/strategies-and-reports/our-reports-and-reviews') Our reports and reviews 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/strategies-and-reports/schools-digital-strategy') Schools Digital Strategy 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/strategies-and-reports') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/educational-data') Educational data 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p
                                    | Research and evaluation services as well as facts and figures on public schools including enrolment, attendance, assessments, staffing and assets.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/researching-in-our-schools') Researching in our schools 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/centre-for-education-statistics-and-evaluation') Centre for Education Statistics and Evaluation 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/contact-us') Contact us 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/key-statistics') Key statistics 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/scout') Scout 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/educational-data/school-research-and-evaluation') School research and evaluation 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/educational-data') View all topics
                      .linkcolumns.aem-GridColumn.aem-GridColumn--default--12
                        #linkColumns_auto
                          .container
                            .gel-link-columns-desc
                              .gel-link-columns-desc-header
                                h2
                                  a(href='/about-us/using-school-facilities') Using school facilities 
                              .row.gel-link-columns-desc-main
                                .col-md-3.gel-description
                                  p
                                    | Members of the community can use school facilities at request. Explore school halls for hire and how to submit a request here.
                                .col-md-9
                                  h3 Topics include:
                                  .gel-link-columns
                                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--3col.gel-link-columns--condensed
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/sharing-our-facilities') Sharing our facilities 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/community-use-agreement') Community use agreement 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/out-of-school-hours-care') Out of school hours care 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/licences-and-leases') Licences and leases 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/project-deeds') Project deeds 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/community-language-schools') Community language schools 
                                      li
                                        span.gel-link-columns-icon(aria-hidden='true')
                                        a(href='/about-us/using-school-facilities/contact-us') Contact us 
                                .col.gel-link-columns-desc-alltopics
                                  a(href='/about-us/using-school-facilities') View all topics
      .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
        .aem-Grid.aem-Grid--12.aem-Grid--default--12
          .section-footer.aem-GridColumn.aem-GridColumn--default--12
            // start component //
            footer
              .gel-section-footer.gel-remove-external-link(aria-label='Section Footer')
                .gel-section-footer__variation-1
                  .container
                    .row
                      .col-12.col-lg-4
                        div
                          .row.section-footer-panel-header
                            .col-md-6.col-lg-12
                              .gel-social-icons-panel
                                h3 Say hello
                                ul.gel-social-icons-panel_links
                                  li.gel-social-icons-panel_links-list
                                    a.gel-social-icons-panel_links-list-icon(href='https://www.facebook.com/NSWDepartmentofEducation/' aria-label='NSW DoE profile on facebook')
                                      span.gel-social-icons-panel_links-list-facebook(aria-hidden='true')
                                  li.gel-social-icons-panel_links-list
                                    a.gel-social-icons-panel_links-list-icon(href='https://www.linkedin.com/company/nsw-department-of-education/' aria-label='NSW DoE profile on linkedin')
                                      span.gel-social-icons-panel_links-list-linkedin(aria-hidden='true')
                                  li.gel-social-icons-panel_links-list
                                    a.gel-social-icons-panel_links-list-icon(href='https://twitter.com/nsweducation' aria-label='NSW DoE profile on twitter')
                                      span.gel-social-icons-panel_links-list-twitter(aria-hidden='true')
                                  li.gel-social-icons-panel_links-list
                                    a.gel-social-icons-panel_links-list-icon(href='https://www.instagram.com/nsweducation' aria-label='NSW DoE profile on instagram')
                                      span.gel-social-icons-panel_links-list-instagram(aria-hidden='true')
                        div
                          .gel-acknowledgement
                            .container
                              p
                                | We acknowledge the homelands of all Aboriginal people and pay our respect to Country.
                      .col-12.col-md-8
                        h3 Other department websites
                        .gel-link-columns
                          ul.gel-link-list.gel-link-columns__items.gel-link-columns--2col.gel-link-columns--condensed
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://antibullying.nsw.gov.au/') Anti-bullying
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='http://www.cese.nsw.gov.au/') Centre for Education Statistics and Evaluation
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='http://www.deinternational.nsw.edu.au/') DE Iternational
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://www.digitalcitizenship.nsw.edu.au/') Digital Citizenship
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://healthyschoolcanteens.nsw.gov.au/') Healthy School Canteens
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://schoolinfrastructure.nsw.gov.au/') School Infrastructure NSW
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://smartandskilled.nsw.gov.au/') Smart and Skilled
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://www.teach.nsw.edu.au/') teach.NSW
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://www.training.nsw.gov.au/') Traingin Services NSW
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='https://vet.nsw.gov.au/') Vocational Education and Training NSW
                            li
                              span.gel-link-columns-icon(aria-hidden='true')
                              a(href='/about-us/rights-and-accountability/complaints-compliments-and-suggestions') Your Feedback
            // End component //
          .global-footer.aem-GridColumn.aem-GridColumn--default--12
            .gel-global-footer(aria-label='Global Footer')
              h1.show-on-sr NSW Government
              .container.gel-remove-external-link
                .row
                  .col-12.col-md-4.gel-global-footer__logo
                    .gel-corporate-logo
                      a.gel-corporate-logo__link(href='/' title='NSW Government')
                        img.gel-corporate-logo__image(src='https://education.nsw.gov.au/content/dam/main-education/doe-logo-white.png' alt=',')
                  .col-12.col-md-8.gel-global-footer__links
                    .gel-link-columns
                      ul.gel-link-list.gel-link-columns__items.gel-link-columns--2col.gel-link-columns--condensed
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/rights-and-accountability/accessibility') Accessibility
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/rights-and-accountability/information-access') Information access
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/rights-and-accountability/privacy') Privacy
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/copyright') Copyright
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/policy-library') Policy library
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/department-contacts') Department contacts
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/our-people-and-structure/our-ministers') Our Ministers
                        li
                          span.gel-link-columns-icon(aria-hidden='true')
                          a(href='/about-us/social-media') Social media
              .edu-footerimage-wrapper
                .edu-footerimage-container.edu-footer-bkgimage
  div
    a.gel-btt(href='#top-desktop' data-gel-back-to-top='data-gel-back-to-top' data-show='false')
      span.gel-backtotop-icon(aria-hidden='true')
      span.show-on-sr Return to top of page
    a.gel-mobile-btt.btn.btn-lg.btn-block(type='button' href='#top-mobile' data-show='false') Back to top

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug