include assets/pug/site.pug

doctype html
+head

body.page.basicpage.standard.education
  link(rel='stylesheet', href='assets/css/page-news.css?r='+revision, media="screen")

// Start GTM body script
// Google Tag Manager (noscript)
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5THP3QS' height='0' width='0' style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)
// End GTM body script
#globalheader
  #top-mobile.gel-skiplink-container
    .gel-skiplink
      .container
        .row
          .col-12
            ul
              li
                a#top-desktop.gel-skiplink__link(href='#content') Skip to content
              li
                a.gel-skiplink__link(href='#search') Skip to search
.root.responsivegrid
  .aem-Grid.aem-Grid--12.aem-Grid--default--12
    .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
      .aem-Grid.aem-Grid--12.aem-Grid--default--12
        .alert.aem-GridColumn.aem-GridColumn--default--12
          // SDI include (path: /content/main-education/en/home/news/_jcr_content/root/responsivegrid/alert.nocache.html/main-education/components/content/alert, resourceType: main-education/components/content/alert)
          div
        .notice.aem-GridColumn.aem-GridColumn--default--12
          .gel-remove-external-link
        .global-header.aem-GridColumn.aem-GridColumn--default--12
          .gel-global-header-container(role='banner')
            .gel-global-header
              .container
                .row
                  .col-12
                    a.gel-global-header__header(href='/' title='A NSW Government website - Education')
                      abbr(aria-hidden='true') A NSW Government website - Education
                    .global-header-right-nav.row
                      #google_translate_element.gel_google_translate
                        script(type='text/javascript').
                          function googleTranslateElementInit() {
                          if (!(/iPhone|iPad|iPod|Android|webOS|BlackBerry|Opera Mini|IEMobile/i.test(navigator.userAgent))) {
                          new google.translate.TranslateElement({
                          pageLanguage: 'en',
                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                          autoDisplay: false
                          }, 'google_translate_element');
                          }
                          }
                        script(type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
                      .global-header-links-right
                        .gel-global-links.dropdown
                          button#logindropdownbtn.gel-global-link-button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' aria-label='Login Menu')
                            span.global-link-button-txt(aria-hidden='false') Log in
                            span.gel-link-icon.gel-visible-small(aria-hidden='true')
                          ul.gel-global-links-dropdown.dropdown-menu.dropdown-menu-right(aria-labelledby='logindropdownbtn')
                            li
                              h4 Staff
                              ul.gel-link-list
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='https://portal.det.nsw.edu.au/' title='') Staff portal
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='/inside-the-department' title='') Inside the department (staff intranet)
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='https://edit.education.nsw.gov.au/editor.html/content/main-education/en/home/news' title='') Edit this page
                            li
                              h4 Students
                              ul.gel-link-list
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='https://portal.det.nsw.edu.au/' title='') Student portal
                            li
                              h4 Other users
                              ul.gel-link-list
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='https://extranet.det.nsw.edu.au/' title='') Extranet
                            li
                              h4 All users
                              ul.gel-link-list
                                li
                                  span.gel-link-list-icon(aria-hidden='true')
                                  a.dropdown-item.gel-remove-external-link(href='https://ssoaddonsext.det.nsw.edu.au/ssoaddon/forgotpassword/index.jsp' title='') Forgot password
        .megamenu.aem-GridColumn.aem-GridColumn--default--12
          div
            // Component -Megamenu code fragment starts here
            nav#gel-mnav.gel-mobile-nav(role='dialog' aria-labelledby='gel-mobile-nav_header-lead-dialog')
              ul.gel-mobile-nav_list
                li.gel-mobile-nav_header
                  span#gel-mobile-nav_header-lead-dialog(aria-hidden='true') Megamenu mobile nav
                  a.gel-mobile-nav_header-logo-link(href='/' title='NSW Logo')
                    img.gel-mobile-nav_header-logo-image(src='https://education.nsw.gov.au/content/dam/main-education/nsw-logo-colour.png' alt='NSW Logo')
                  p.gel-mobile-nav_header-lead Welcome to
                  h1 education.nsw.gov.au      
                li.gel-mobile-nav_list-links
                  a(href='#') Early childhood education
                  ul
                    .hidden-xs.gel-mobile-nav_list-links-intro
                      a(href='#')
                        h3 Early childhood education
                      p
                        | From working in or operating an early childhood education centre, complaints and feedback, information for parents &amp; carers to news. Learn more today
                    li
                      a(href='/early-childhood-education/operating-an-early-childhood-education-service') Operating an early childhood education service
                    li
                      a(href='/early-childhood-education/working-in-early-childhood-education') Working in early childhood education
                    li
                      a(href='/early-childhood-education/information-for-parents-and-carers') Information for parents and carers
                    li
                      a(href='/early-childhood-education/whats-happening-in-the-early-childhood-education-sector') What&apos;s happening in the early childhood education sector
                    li
                      a(href='/early-childhood-education/investigation-feedback-and-complaints') Investigation, feedback and complaints
                li.gel-mobile-nav_list-links
                  a(href='#') Public schools
                  ul
                    .hidden-xs.gel-mobile-nav_list-links-intro
                      a(href='#')
                        h3 Public schools
                      p
                        | Information about NSW public education, including the school finder, high school enrolment, school safety, selective schools and opportunity classes.
                    li
                      a(href='/public-schools/going-to-a-public-school') Going to a public school
                    li
                      a(href='/public-schools/selective-high-schools-and-opportunity-classes') Selective high schools and opportunity classes
                    li
                      a(href='/public-schools/practical-help-for-parents-and-carers') Practical help for parents and carers
                    li
                      a(href='/public-schools/astp') Assisted School Travel Program
                    li
                      a(href='/public-schools/community-languages-schools') Community languages schools
                    li
                      a(href='/public-schools/schools-funding') Schools funding
                    li
                      a(href='/public-schools/tertiary-pathways') Tertiary pathways
                    li
                      a(href='/public-schools/school-safety') School safety
                    li
                      a(href='/public-schools/back-to-school') Back to school
                li.gel-mobile-nav_list-links
                  a(href='#') Teaching and learning
                  ul
                    .hidden-xs.gel-mobile-nav_list-links-intro
                      a(href='#')
                        h3 Teaching and learning
                      p
                        | NSW Department of Education&apos;s information on curriculum taught in NSW schools, Aboriginal education and communities &amp; personalised support.
                    li
                      a(href='/teaching-and-learning/aec') Aboriginal education and communities
                    li
                      a(href='/teaching-and-learning/curriculum') Curriculum
                    li
                      a(href='/teaching-and-learning/school-learning-environments-and-change') School learning environments and change
                    li
                      a(href='/teaching-and-learning/student-assessment') Student assessment
                    li
                      a(href='/teaching-and-learning/professional-learning') Professional learning
                    li
                      a(href='/teaching-and-learning/disability-learning-and-support') Disability, learning and support
                    li
                      a(href='/teaching-and-learning/school-excellence-and-accountability') School excellence and accountability
                    li
                      a(href='/teaching-and-learning/high-potential-and-gifted-education') High potential and gifted education
                    li
                      a(href='/teaching-and-learning/education-for-a-changing-world') Education for a Changing World
                li.gel-mobile-nav_list-links
                  a(href='#') Student wellbeing
                  ul
                    .hidden-xs.gel-mobile-nav_list-links-intro
                      a(href='#')
                        h3 Student wellbeing
                      p
                        | The Wellbeing Framework supports schools to create learning environments that enable students to be healthy, happy, engaged and successful.
                    li
                      a(href='/student-wellbeing/attendance-behaviour-and-engagement') Attendance, behaviour and engagement
                    li
                      a(href='/student-wellbeing/child-protection') Child protection
                    li
                      a(href='/student-wellbeing/counselling-and-psychology-services') Counselling and psychology services
                    li
                      a(href='/student-wellbeing/health-and-physical-care') Health and physical care
                    li
                      a(href='/student-wellbeing/whole-school-approach') Whole school approach
                    li
                      a(href='/student-wellbeing/external-wellbeing-providers') External wellbeing providers
                li.gel-mobile-nav_list-links.gel-mobile-nav_list-childless.mm-listitem
                  a(href='/policy-library')
                    | Policy library 
                    span.gel-mobile-nav_list-childless-icon(aria-hidden='true')
                li.gel-mobile-nav_list-links
                  a(href='#') About us
                  ul
                    .hidden-xs.gel-mobile-nav_list-links-intro
                      a(href='#')
                        h3 About us
                      p
                        | Learn about the NSW education department, who we are and how we operate. Explore our people, accountabilities, jobs, opportunities and much more.
                    li
                      a(href='/about-us/our-people-and-structure') Our people and structure
                    li
                      a(href='/about-us/rights-and-accountability') Rights and accountability
                    li
                      a(href='/about-us/business-engagement-and-development') Business engagement and development
                    li
                      a(href='/about-us/supplying-to-us') Supplying to us
                    li
                      a(href='/about-us/careers-at-education') Careers at Education
                    li
                      a(href='/about-us/strategies-and-reports') Strategies and reports
                    li
                      a(href='/about-us/educational-data') Educational data
                    li
                      a(href='/about-us/using-school-facilities') Using school facilities
                    li
                      a(href='/about-us/department-contacts') Contact the NSW Department of Education
            // Component - Megamenu code fragment ends here.uk-grid
          // Component -Megamenu code fragment starts here
          nav.gel-meganav.navbar.navbar-expand-md.d-none.d-md-block
            .container.gel-remove-external-link
              .container-fluid.gel-meganav__main-menu
                .row.navbar-header
                  .gel-meganav-logo.col-2.col-lg-1
                    a.gel-meganav-logo__link(href='/' title='NSW Logo')
                      img.gel-meganav-logo__image(src='https://education.nsw.gov.au/content/dam/main-education/nsw-logo-colour.png' alt='NSW Logo')
                  .gel-meganav-menulinks.col-10.col-lg-11
                    #gel-meganav-collapse-1.collapse.navbar-collapse
                      ul.navbar-nav.mr-auto
                        li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                          a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Early childhood education
                          .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                            h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                              a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/early-childhood-education' aria-label='Early childhood education') Early childhood education
                            .gel-meganav_dropdown__subnav-desc
                              p
                                | From working in or operating an early childhood education centre, complaints and feedback, information for parents &amp; carers to news. Learn more today
                              .gel-meganav_dropdown__subnav-design
                            ul.list-unstyled.card-columns
                              li.gel-meganav-mega-link
                                a(href='/early-childhood-education/operating-an-early-childhood-education-service')
                                  span.gel-meganav-mega-link_title Operating an early childhood education service
                              li.gel-meganav-mega-link
                                a(href='/early-childhood-education/working-in-early-childhood-education')
                                  span.gel-meganav-mega-link_title Working in early childhood education
                              li.gel-meganav-mega-link
                                a(href='/early-childhood-education/information-for-parents-and-carers')
                                  span.gel-meganav-mega-link_title Information for parents and carers
                              li.gel-meganav-mega-link
                                a(href='/early-childhood-education/whats-happening-in-the-early-childhood-education-sector')
                                  span.gel-meganav-mega-link_title What&apos;s happening in the early childhood education sector
                              li.gel-meganav-mega-link
                                a(href='/early-childhood-education/investigation-feedback-and-complaints')
                                  span.gel-meganav-mega-link_title Investigation, feedback and complaints
                        li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                          a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Public schools
                          .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                            h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                              a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/public-schools' aria-label='Early childhood education') Public schools
                            .gel-meganav_dropdown__subnav-desc
                              p
                                | Information about NSW public education, including the school finder, high school enrolment, school safety, selective schools and opportunity classes.
                              .gel-meganav_dropdown__subnav-design
                            ul.list-unstyled.card-columns
                              li.gel-meganav-mega-link
                                a(href='/public-schools/going-to-a-public-school')
                                  span.gel-meganav-mega-link_title Going to a public school
                              li.gel-meganav-mega-link
                                a(href='/public-schools/selective-high-schools-and-opportunity-classes')
                                  span.gel-meganav-mega-link_title Selective high schools and opportunity classes
                              li.gel-meganav-mega-link
                                a(href='/public-schools/practical-help-for-parents-and-carers')
                                  span.gel-meganav-mega-link_title Practical help for parents and carers
                              li.gel-meganav-mega-link
                                a(href='/public-schools/astp')
                                  span.gel-meganav-mega-link_title Assisted School Travel Program
                              li.gel-meganav-mega-link
                                a(href='/public-schools/community-languages-schools')
                                  span.gel-meganav-mega-link_title Community languages schools
                              li.gel-meganav-mega-link
                                a(href='/public-schools/schools-funding')
                                  span.gel-meganav-mega-link_title Schools funding
                              li.gel-meganav-mega-link
                                a(href='/public-schools/tertiary-pathways')
                                  span.gel-meganav-mega-link_title Tertiary pathways
                              li.gel-meganav-mega-link
                                a(href='/public-schools/school-safety')
                                  span.gel-meganav-mega-link_title School safety
                              li.gel-meganav-mega-link
                                a(href='/public-schools/back-to-school')
                                  span.gel-meganav-mega-link_title Back to school
                        li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                          a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Teaching and learning
                          .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                            h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                              a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/teaching-and-learning' aria-label='Early childhood education') Teaching and learning
                            .gel-meganav_dropdown__subnav-desc
                              p
                                | NSW Department of Education&apos;s information on curriculum taught in NSW schools, Aboriginal education and communities &amp; personalised support.
                              .gel-meganav_dropdown__subnav-design
                            ul.list-unstyled.card-columns
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/aec')
                                  span.gel-meganav-mega-link_title Aboriginal education and communities
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/curriculum')
                                  span.gel-meganav-mega-link_title Curriculum
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/school-learning-environments-and-change')
                                  span.gel-meganav-mega-link_title School learning environments and change
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/student-assessment')
                                  span.gel-meganav-mega-link_title Student assessment
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/professional-learning')
                                  span.gel-meganav-mega-link_title Professional learning
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/disability-learning-and-support')
                                  span.gel-meganav-mega-link_title Disability, learning and support
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/school-excellence-and-accountability')
                                  span.gel-meganav-mega-link_title School excellence and accountability
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/high-potential-and-gifted-education')
                                  span.gel-meganav-mega-link_title High potential and gifted education
                              li.gel-meganav-mega-link
                                a(href='/teaching-and-learning/education-for-a-changing-world')
                                  span.gel-meganav-mega-link_title Education for a Changing World
                        li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                          a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') Student wellbeing
                          .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                            h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                              a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/student-wellbeing' aria-label='Early childhood education') Student wellbeing
                            .gel-meganav_dropdown__subnav-desc
                              p
                                | The Wellbeing Framework supports schools to create learning environments that enable students to be healthy, happy, engaged and successful.
                              .gel-meganav_dropdown__subnav-design
                            ul.list-unstyled.card-columns
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/attendance-behaviour-and-engagement')
                                  span.gel-meganav-mega-link_title Attendance, behaviour and engagement
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/child-protection')
                                  span.gel-meganav-mega-link_title Child protection
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/counselling-and-psychology-services')
                                  span.gel-meganav-mega-link_title Counselling and psychology services
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/health-and-physical-care')
                                  span.gel-meganav-mega-link_title Health and physical care
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/whole-school-approach')
                                  span.gel-meganav-mega-link_title Whole school approach
                              li.gel-meganav-mega-link
                                a(href='/student-wellbeing/external-wellbeing-providers')
                                  span.gel-meganav-mega-link_title External wellbeing providers
                        li.gel-meganav_dropdown.dropdown.dropdown-meganav
                          a.nav-link(href='/policy-library') Policy library
                        li.gel-meganav_dropdown.nav-item.dropdown.dropdown-meganav
                          a#dropdownMenuButton.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' href='#') About us
                          .dropdown-menu.meganav.gel-meganav_dropdown__subnav(aria-labelledby='dropdownMenuButton')
                            h3.gel-meganav_dropdown__subnav-title(aria-label='Early childhood education')
                              a#megalink1.gel-meganav_dropdown__subnav-title-link(href='/about-us' aria-label='Early childhood education') About us
                            .gel-meganav_dropdown__subnav-desc
                              p
                                | Learn about the NSW education department, who we are and how we operate. Explore our people, accountabilities, jobs, opportunities and much more.
                              .gel-meganav_dropdown__subnav-design
                            ul.list-unstyled.card-columns
                              li.gel-meganav-mega-link
                                a(href='/about-us/our-people-and-structure')
                                  span.gel-meganav-mega-link_title Our people and structure
                              li.gel-meganav-mega-link
                                a(href='/about-us/rights-and-accountability')
                                  span.gel-meganav-mega-link_title Rights and accountability
                              li.gel-meganav-mega-link
                                a(href='/about-us/business-engagement-and-development')
                                  span.gel-meganav-mega-link_title Business engagement and development
                              li.gel-meganav-mega-link
                                a(href='/about-us/supplying-to-us')
                                  span.gel-meganav-mega-link_title Supplying to us
                              li.gel-meganav-mega-link
                                a(href='/about-us/careers-at-education')
                                  span.gel-meganav-mega-link_title Careers at Education
                              li.gel-meganav-mega-link
                                a(href='/about-us/strategies-and-reports')
                                  span.gel-meganav-mega-link_title Strategies and reports
                              li.gel-meganav-mega-link
                                a(href='/about-us/educational-data')
                                  span.gel-meganav-mega-link_title Educational data
                              li.gel-meganav-mega-link
                                a(href='/about-us/using-school-facilities')
                                  span.gel-meganav-mega-link_title Using school facilities
                              li.gel-meganav-mega-link
                                a(href='/about-us/department-contacts')
                                  span.gel-meganav-mega-link_title Contact the NSW Department of Education
          // Component - Megamenu code fragment ends here.uk-grid
        .sectionheader.aem-GridColumn.aem-GridColumn--default--12
          .gel-section-header(role='banner')
            .container
              .row
                .col-2.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label='Megamenu mobile nav')
                  a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav' role='button' tabindex='0' aria-label='Click to open Megamenu mobile nav')
                .col-8.gel-header-container
                  h1.gel-section-header__logo
                    a(href='#') News
                .col-2.gel-mobile-search-indicator
                  button#global-search-button.gel-search__toggle.gel-search__toggle-target(aria-label='Global search' aria-controls='global-search' data-toggle='collapse' data-target='#global-search' aria-expanded='false')
                    span.show-on-sr Global Search
          form#global-search.gel-search.gel-search__toggle-target(action='/search' aria-hidden='false' aria-labelledby='global-search-button')
            fieldset
              legend.show-on-sr Global Search
              input(type='hidden' name='search_start' value='/content/main-education/en/home')
              input(type='hidden' name='referrer' value='/content/main-education/en/home/news')
              .gel-searchbox.gel-small
                .form-group
                  .input-group
                    input#search.form-control(type='text' placeholder='Enter your search...' name='q')
                    .input-group-append
                      button.btn.gel-button
                        span.fas.fa-search
        .breadcrumb.aem-GridColumn.aem-GridColumn--default--12
          .container
            nav.gel-breadcrumbs(aria-label='breadcrumb')
              .gel-breadcrumbs-visibility.d-lg-none.d-xl-none
                a.gel-breadcrumbs__link(title='Go back to parent page' href='/')
                  span.gel-breadcrumbs__link-icon(aria-hidden='true')
                  | Back
              .gel-breadcrumbs-visibility.d-none.d-md-block
                ol.gel-breadcrumbs__list.breadcrumb
                  li.gel-breadcrumbs__item-home.breadcrumb-item
                    a.gel-breadcrumbs__item-link(href='/' title='Go to NSW Department of Education homepage')
                      span.gel-breadcrumbs__item-home-icon(aria-hidden='true')
                      span.show-on-sr Home
                  li.gel-breadcrumbs__item.breadcrumb-item.active.gel-breadcrumbs__truncate(aria-current='page' style='max-width: 22.42%;')
                    span.gel-breadcrumbs__item-active News
    .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
      .aem-Grid.aem-Grid--12.aem-Grid--default--12
        .columncontrol.responsivegrid.aem-GridColumn.aem-GridColumn--default--12
          span#content(tabindex='-1')
          main#mm-0.container.gel-main.mm-page.mm-slideout
            .row
              .col-md-8.order-md-2(data-gel-anchor-box='')
                div
                  .aem-Grid.aem-Grid--12.aem-Grid--default--12
                    .newshub.aem-GridColumn.aem-GridColumn--default--12
                      .container.gel_featured_teaser_container
                        .row
                          .col-lg-12
                            #frm01.gel-form.gel-form--inline.no-gutters(method='GET')
                              fieldset
                                legend.show-on-sr News Sort Options
                                .fav_show_wrapper
                                  label(for='484')
                                    | Category
                                  select#484(name='484' data-gel-auto-submit2='data-gel-auto-submit2')
                                    option(value='all')
                                      | All
                                    option(value='main-education:category/news/media-releases')
                                      | Media releases
                                    option(value='main-education:category/news/latest-news')
                                      | Latest news
                                    option(value='main-education:category/news/student-voice')
                                      | Student voice
                                    option(value='main-education:category/news/announcements')
                                      | Announcements
                                    option(value="main-education:category/news/secretary's-update")
                                      | Secretary&apos;s update
                                .fav_show_wrapper
                                  label(for='114')
                                    | News from
                                  select#114(name='114' data-gel-auto-submit2='data-gel-auto-submit2')
                                    option(value='all')
                                      | All
                                    option(value='lastweek')
                                      | Last week
                                    option(value='lastmonth')
                                      | Last month
                                    option(value='lastthreemonths')
                                      | Last 3 months
                                    option(value='lastsixmonths')
                                      | Last 6 months
                                input#sub02.btn.gel-button.gel-button-small(type='submit' name='sub02' value='Filter')
                        .row
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/secretary-update/every-student-podcast')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                img.img-fluid.card-img-top(src='https://education.nsw.gov.au/content/dam/main-education/0006/media/images/Every_Student_Podcast_v2-09o.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg' alt='')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Secretary&apos;s update
                                  h4.card-title Every Student Podcast
                                  p
                                    | A series of conversations with educators who are delivering quality teaching and learning to improve opportunities for every student in their care.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 17 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/student-film-venture-to-aid-disaster-recovery-')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                img.img-fluid.card-img-top(src='https://education.nsw.gov.au/content/dam/main-education/0018/media/images/tinonee-fire-800x600.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg' alt='')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title Student film venture to aid disaster recovery 
                                  p
                                    | A creative initiative is helping students and school communities recover from the devastating impact of the bushfires.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 13 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/family-influences-2020-artexpress-artists')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                img.img-fluid.card-img-top(src='https://education.nsw.gov.au/content/dam/main-education/en/home/news/latest-news/family-influences-2020-artexpress-artists/image/lemah-orya-1200x900.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg' alt='')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title Family influences 2020 ARTEXPRESS artists
                                  p
                                    | Art proved personal for two students whose works are on show at the Art Gallery of NSW.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 11 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/beautiful-bathrooms-send-a-positive-message')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                img.img-fluid.card-img-top(src='https://education.nsw.gov.au/content/dam/main-education/en/home/news/latest-news/beautiful-bathrooms-send-a-positive-message/image/stanford-merthyr-1200x900.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg' alt='')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title Beautiful bathrooms send a positive message
                                  p
                                    | Students help turn toilets into art spaces to improve wellbeing.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 11 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/words-of-wisdom-on-monkey-bars-and-maths')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title Words of wisdom on monkey bars and maths
                                  p
                                    | A comprehensive transition to school program helps ease nerves for new Kindergarten students.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 05 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/latest-advice-on-novel-coronavirus')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Announcements
                                  h4.card-title Latest advice on novel coronavirus
                                  p
                                    | The department is working with the Ministry of Health to monitor and respond to the unfolding international novel coronavirus situation.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 04 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/new-school-welcomes-kinder-kids')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title New school welcomes kinder kids
                                  p
                                    | A new purpose-built public school in Ryde opened its doors today welcoming its first cohort of Kindergarten students.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 03 February 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/school-doors-open-and-a-dream-comes-to-life')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Latest news
                                  h4.card-title School doors open and a dream comes to life
                                  p
                                    | The principal at the new Oran Park High School has spent his life committed to south-western Sydney.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 30 January 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/more-enrolments-than-ever-before-in-2020')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Media releases
                                  h4.card-title More enrolments than ever before in 2020
                                  p
                                    | Public schools across the State will open their doors to the largest cohort of students ever recorded on Day 1, Term 1 this year, Minister for Education Sarah Mitchell has announced today.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 28 January 2020
                          .col-sm-12.col-md-6.d-flex
                            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='/news/latest-news/increased-mental-health-support-on-the-way-for-bushfire-impacted')
                              .card.gel-featured-teaser_variant.mb-5.flex-grow-1(data-pseudo-link='data-pseudo-link')
                                .card-body.gel-featured-teaser__content_variant
                                  span.gel-featured-teaser_highlight Media releases
                                  h4.card-title Increased mental health support on the way for bushfire impacted schools
                                  p
                                    | The number of school counsellors in bushfire affected communities will increase
                                    | significantly, with the NSW Government today announcing a greater focus on mental
                                    | health support for students and staff in the wake of the recent devastation.
                                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 23 January 2020
                      .container
                        .gel_featured_teaser_pagination
                          nav
                            ul.gel-pagination
                              li#newsHubPaginationPrev.gel-pagination__prev.gel-pagination__disabled
                                a(href='#' title='Previous page' aria-label='Previous page')
                                  span Previous
                              li.gel-pagination__disabled.gel-pagination__active.newsHubPage
                                a(href='#' title='Page 1' aria-label='Page 1') 1
                              li.newsHubPage
                                a(href='#catalogue_auto' title='Page 2' aria-label='Page 2') 2
                              li.newsHubPage
                                a(href='#catalogue_auto' title='Page 3' aria-label='Page 3') 3
                              li.newsHubPage
                                a(href='#catalogue_auto' title='Page 4' aria-label='Page 4') 4
                              li.newsHubPage
                                a(href='#catalogue_auto' title='Page 5' aria-label='Page 5') 5
                              li.gel-pagination__more.gel-pagination__disabled
                                span(href='#') ...
                              li#newsHubPaginationNext.gel-pagination__next
                                a(href='#' title='Next page' aria-label='Next page')
                                  span Next
              .col-md-4.order-md-1
                div
                  .aem-Grid.aem-Grid--12.aem-Grid--default--12
                    .social-media-feed.aem-GridColumn.aem-GridColumn--default--12
                      div(data-gel-social-media='{"displayCap":6,"contentLength":100,"services":[{"service":"twitter","numberOfPosts":6,"username":"abcnews"}]}')
                        .gel-loader(aria-hidden='aria-hidden')
                        ul.gel-flex-grid
                        
                    
    .responsivegrid.aem-GridColumn.aem-GridColumn--default--12
      .aem-Grid.aem-Grid--12.aem-Grid--default--12
        .section-footer.aem-GridColumn.aem-GridColumn--default--12
          // start component //
          footer
            .gel-section-footer.gel-remove-external-link(aria-label='Section Footer')
              .gel-section-footer__variation-1
                .container
                  .row
                    .col-12.col-lg-4
                      div
                        .row.section-footer-panel-header
                          .col-md-6.col-lg-12
                            .gel-social-icons-panel
                              h3 Say hello
                              ul.gel-social-icons-panel_links
                                li.gel-social-icons-panel_links-list
                                  a.gel-social-icons-panel_links-list-icon(href='https://www.facebook.com/NSWDepartmentofEducation/' aria-label='NSW DoE profile on facebook')
                                    span.gel-social-icons-panel_links-list-facebook(aria-hidden='true')
                                li.gel-social-icons-panel_links-list
                                  a.gel-social-icons-panel_links-list-icon(href='https://www.linkedin.com/company/nsw-department-of-education/' aria-label='NSW DoE profile on linkedin')
                                    span.gel-social-icons-panel_links-list-linkedin(aria-hidden='true')
                                li.gel-social-icons-panel_links-list
                                  a.gel-social-icons-panel_links-list-icon(href='https://twitter.com/nsweducation' aria-label='NSW DoE profile on twitter')
                                    span.gel-social-icons-panel_links-list-twitter(aria-hidden='true')
                                li.gel-social-icons-panel_links-list
                                  a.gel-social-icons-panel_links-list-icon(href='https://www.instagram.com/nsweducation' aria-label='NSW DoE profile on instagram')
                                    span.gel-social-icons-panel_links-list-instagram(aria-hidden='true')
                      div
                        .gel-acknowledgement
                          .container
                            p
                              | We acknowledge the homelands of all Aboriginal people and pay our respect to Country.
                    .col-12.col-md-8
                      h3  Other department websites
                      .gel-link-columns
                        ul.gel-link-list.gel-link-columns__items.gel-link-columns--2col.gel-link-columns--condensed
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://antibullying.nsw.gov.au/') Anti-bullying
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='http://www.cese.nsw.gov.au/') Centre for Education Statistics and Evaluation
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://www.digitalcitizenship.nsw.edu.au/') Digital Citizenship
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://healthyschoolcanteens.nsw.gov.au/') Healthy School Canteens
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://schoolinfrastructure.nsw.gov.au/') School Infrastructure NSW
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://smartandskilled.nsw.gov.au/') Smart and Skilled
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://www.teach.nsw.edu.au/') teach.NSW
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://www.training.nsw.gov.au/') Training Services NSW
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://vet.nsw.gov.au/') Vocational Education and Training NSW
                          li
                            span.gel-link-columns-icon(aria-hidden='true')
                            a(href='https://education.nsw.gov.au/about-us/rights-and-accountability/complaints-compliments-and-suggestions') Your feedback
          // End component //
        .global-footer.aem-GridColumn.aem-GridColumn--default--12
          .gel-global-footer(aria-label='Global Footer')
            h1.show-on-sr NSW Government
            .container.gel-remove-external-link
              .row
                .col-12.col-md-4.gel-global-footer__logo
                  .gel-corporate-logo
                    a.gel-corporate-logo__link(href='/' title='NSW Government')
                      img.gel-corporate-logo__image(src='https://education.nsw.gov.au/content/dam/main-education/doe-logo-white.png' alt=',')
                .col-12.col-md-8.gel-global-footer__links
                  .gel-link-columns
                    ul.gel-link-list.gel-link-columns__items.gel-link-columns--2col.gel-link-columns--condensed
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/rights-and-accountability/accessibility') Accessibility
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/rights-and-accountability/information-access') Information access
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/rights-and-accountability/privacy') Privacy
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/copyright') Copyright
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/policy-library') Policy library
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/department-contacts') Department contacts
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/our-people-and-structure/our-ministers') Our Ministers
                      li
                        span.gel-link-columns-icon(aria-hidden='true')
                        a(href='/about-us/social-media') Social media
            .edu-footerimage-wrapper
              .edu-footerimage-container.edu-footer-bkgimage
div
  a.gel-btt(href='#top-desktop' data-gel-back-to-top='data-gel-back-to-top' data-show='false')
    span.gel-backtotop-icon(aria-hidden='true')
    span.show-on-sr Return to top of page
  a.gel-mobile-btt.btn.btn-lg.btn-block(type='button' href='#top-mobile' data-show='false') Back to top

include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
include assets/pug/_scripts.pug

script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/socialMedia.js' type='text/javascript')
