//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Level 1 Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education edu-level-1">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education edu-level-1">
  <![endif]-->


      +gel_skiplink
      +global_header(false, false)
      +gel_meganav_mobile
      +gel_megamenu_component(7)
      +gel_section_header(siteName, 'On', 'On')
      +gel_search_box('header') 
      .container
        +gel_breadcrumbs(9)

      span#content(tabindex="-1")
    
      main.container.gel-main
        .row
          .col-12
            +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg",false, false, true, false, true)

        div.gel-link-columns-desc
          +gel_link_columns-desc(10, 3, true, true)

        section

          div.gel-teaser-block

            div.container

              .row.gel_teaser_default_container
                .col-md-6.col-lg-4.d-flex
                  div.gel-teaser(data-pseudo-link)
                    p.gel-teaser__category
                      | Feature
                    a(href="#")
                      h4.gel-teaser__heading
                        | Digital learning brings the world to classroom  
                    img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                    .desc
                      | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
                
                .col-md-6.col-lg-4.d-flex
                  div.gel-teaser(data-pseudo-link)
                    p.gel-teaser__category
                      | Feature
                    a(href="#")
                      h4.gel-teaser__heading
                        | Digital learning brings the world to classroom  
                    img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                    .desc
                      | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 

                .col-md-6.col-lg-4.d-flex
                  div.gel-teaser(data-pseudo-link)
                    p.gel-teaser__category
                      | Feature
                    a(href="#")
                      h4.gel-teaser__heading
                        | Digital learning brings the world to classroom  
                    img(src="//placehold.it/300x200" srcset="//placehold.it/300x200 300w" sizes="(max-width: 300px) 200vw, 300px" alt="placeholder")
                    .desc
                      | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 

              
     
      +gel_section_footer
      
      +global_footer(2, 8)


  include assets/pug/_scripts.pug
  <!-- include any component specific scripts here //-->
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>
