//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Education Home"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard home education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard home education">
  <!--<![endif]-->
  .edu-maintenance-ribbon
    .container
      aside.gel-maintenance-ribbon(aria-label="maintanceRibbon")
        div.gel-maintenance-ribbon-container
          p.gel-maintenance-ribbon__message
            span.show-on-sr
              | Maintenance
            a(href="#")
              +lipsum(3, "words")
            +lipsum(10, "words")
  .edu-notice-ribbon
    .container
      aside.gel-notice-ribbon(data-gel-notice-ribbon arialive="polite" aria-label="noticeRibbon")
        span.show-on-sr
          | noticeRibbon
        a(id="noticeRibbon-tab" data-toggle="collapse" href="#noticeRibbon-content" aria-expanded="false" tabindex="0" )
          div
            p.gel-notice-ribbon__title
              | Welcome to education.gov.nsw.au
              +gel_link_tag("BETA")
            div.gel-notice-ribbon__icon
        div(class="collapse noticeRibbon-content"  id="noticeRibbon-content")
          div(class="noticeRibbon-content-container")
            div
              p
                +lipsum(4, "sentences")
            +gel_button("Button", "gel-button-secondary", "medium", false, true)

            p.gel-notice-ribbon__additional.d-sm-block.d-md-none
              +lipsum(2, "words")
              a(href="#")
                +lipsum(3, "words")

        p.gel-notice-ribbon__additional.d-none.d-sm-none.d-md-block(role="presentation")
          +lipsum(2, "words")
          a(href="#")
            +lipsum(3, "words")

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  .sectionheader
    div(role="banner" class="gel-section-header")
      div.container
        div.row
          div.col-2.gel-mobile-nav-indicator.d-lg-none.d-xl-none(aria-label="Megamenu mobile nav")
            a#menu-open.b-mobile-nav--menu-btn.left.gel-mobile-nav-indicator_icon(href='#gel-mnav',role='button', tabindex='0',aria-label="Click to open Megamenu mobile nav")
          div.col-8.gel-header-container
            h1.gel-section-header__logo
              a(href='#')
                | education.nsw.gov.au
          div.col-2.gel-mobile-search-indicator
            button.gel-search__toggle.gel-search__toggle-target(id="global-search-button" aria-label="Global search" aria-controls="global-search" data-toggle="collapse" data-target="#global-search" aria-expanded="false")
              span.show-on-sr Global Search
  +gel_search_box('header')
              
  span#content(tabindex="-1") 

  main.gel-main.container
    
    +edu_home_banner
    +gel_content_container("background-alt1")
    +gel_content_container("background-alt1-stretched")
    .row
      .col-12.col-lg-4.col-md-6.d-lg-inline-flex.d-md-inline-flex
        a.gel-featured-teaser-link(href="#")
          .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
            img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
            .card-body.gel-featured-teaser__content_variant
              h4.gel-featured-teaser_highlight
                | Media release
              h2.card-title
                | How to motivate students
              p
                | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
              time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                | 3 October 2019
              .gel-featured-teaser__arrow
                span.far.fa-long-arrow-right
                
      .col-12.col-lg-4.col-md-6.d-lg-inline-flex.d-md-inline-flex
        a.gel-featured-teaser-link(href="#")
          .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
            img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
            .card-body.gel-featured-teaser__content_variant
              h4.gel-featured-teaser_highlight
                | Media release
              h2.card-title
                | Digital learning brings the world to classroom  
              p
                | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
              time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                | 3 October 2019
              .gel-featured-teaser__arrow
                span.far.fa-long-arrow-right
      .col-12.col-lg-4.col-md-6.d-lg-inline-flex.d-md-inline-flex
        a.gel-featured-teaser-link(href="#")
          .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
            img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
            .card-body.gel-featured-teaser__content_variant
              h4.gel-featured-teaser_highlight
                | Media release
              h2.card-title
                | Talented students sing in the new term
              p
                | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more. 
              time.gel-featured-teaser__date_variant(datetime="2015-12-25")
                | 3 October 2019
              .gel-featured-teaser__arrow
                span.far.fa-long-arrow-right
                  
    .row.edu-highlight-features-viewall
      a(href='#') 
        button.btn.gel-button.gel-button-secondary.gel-button-r-icon.gel-button-small View all news
        
          
  .edu-tools-panel
    .container
      h3
        | Helpful tools
      .row
        .col-12.col-lg-4.col-md-6.d-lg-inline-flex.d-md-inline-flex
          a.gel-featured-teaser-link(href="#")
            .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
              img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
              .card-body.gel-featured-teaser__content_variant
                h2.card-title
                  | Apply for a $45K teaching award today
                p
                  | His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread.
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
        .col-12.col-lg-4.col-md-6.d-lg-inline-flex.d-md-inline-flex
          .card.gel-home-calendar.mb-5
            div.gel-calendar(class="gel-highlight-panels__panel")
              div.gel-highlight-panels__image
                a(href="#" class="gel-remove-external-link")
                  img(src="https://education.nsw.gov.au/__data/assets/image/0020/861113/Calendar-Apr-2019.jpg" alt="April 2019")
              
              div.gel-block__header
                h2
                  | School calendar
              div.gel-highlight-panels__content
                ul

                  li.gel-events-type-4       

                    time
                      strong 
                        | 29
                        span.show-on-sr January
                        span(aria-hidden="true") 
                          | Feb:  
                    span.event-details 
                      | School Development day

                  li.gel-events-type-5   

                    time
                      strong 
                        | 6
                        span.show-on-sr February
                        span(aria-hidden="true") 
                          | Feb:  
                    span.event-details 
                      | Other Options with no icon
                      
                  li.gel-events-type-5   

                    time
                      strong 
                        | 6
                        span.show-on-sr February
                        span(aria-hidden="true") 
                          | Feb:  
                    span.event-details 
                      | Other Options with no icon
                .gel-card__arrow
                  span.far.fa-long-arrow-right
                    
        .col-12.col-lg-4.col-md-6
          .card.edu-home-quicklinks.mb-5
            .edu-panel-inner-links
              h2
                | Quick links
              +gel_link_columns(5, 1)
              +gel_social_media_icons_list(4, ["facebook","linkedin","twitter","instagram"],"NSW DoE profile on ","")
  .edu-social-panel
    .container
      h3
        | Social
      +livefyre
    
    +gel_back_to_top

  +gel_section_footer
  
  +global_footer(2, 8)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/livefyre.js' type='text/javascript')
  
  script.
    $(document).ready(function() {
      //side navigation
      $(".gel-side-navigation li").has("ul").addClass("li-parent");
      if ($(".gel-side-navigation li").hasClass("active")) {
        $(".gel-side-navigation .active >a").addClass("current-active");
      }

      $(".gel-side-navigation li:not(.gel-side-navigation-upper) >a").click(function() {
        $(".gel-side-navigation li a").removeClass("current-active");
        $(this).addClass("current-active");
      });
      
    });

  </body>
