//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Guided Journey"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header(siteName, 'On', 'On')

  +gel_search_box('header')
  .container
    +gel_breadcrumbs(9)

  span#content(tabindex="-1")

  main.gel-main.container
    .row
      .col-12
        +gel_guided-journey()

    
      
  +gel_section_footer
  
  +global_footer(2, 8)

  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  script(src='/assets/js/components/sideNavigation.js' type='text/javascript')

  script(src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/rousan/es6-promise-shim.js")
  script(src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/whatwg-fetch/fetch.js")
  script(src="//dec-ce.bitbucket.io/gel/master/assets/js/constants.js")
  script(src="//dec-ce.bitbucket.io/gel/master/assets/js/components/guidedJourney.js")


  </body>
