//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  +global_header(false, true)

  header
    +gel_section_header(siteName, 'On')

  +gel_search_box('header')

  span#content(tabindex="-1")

  main.gel-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-6-10.gel-main-content
           h1  education.nsw.gov.au theme

           +theme-demo-content

        +gel_back_to_top

        div.uk-width-large-4-10.gel-lhs

          h2.show-on-sr
            | Related content

          +gel_side_navigation

  footer
    //+gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
