//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Index Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')
    
  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header(siteName, 'On', 'On')

  +gel_search_box('header')
  .container
    +gel_breadcrumbs(9)

  span#content(tabindex="-1")
    
    
    
  main.gel-main.container
    div.row(id="newsteasers_auto")
      div.col-lg-4.d-none.d-lg-block 
        h2.black News categories
        +gel_category_list(7)
        
      div.col-lg-8
        //--- Form
        form
          div.gel-form.gel-form--inline.no-gutters(id="frm01" action="" method="GET")
            fieldset
              legend.show-on-sr News categories
              .fav_show_wrapper.d-lg-none
                +gel_select("Select Category", 8, 1, 1)
        
        mixin gel_flex_grid_mixin
          +gel_news_teaser
        +gel_flex_grid(3, "simple")  
    
    
          
        +gel_pagination(5)
        
        hr

      +gel_back_to_top
      


  

    div.gel-eg-stage
      +gel_education_drawer

  +gel_section_footer
  
  +global_footer(2, 8)


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')

  </body>
