//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 policy education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header("Policy library", 'On')

  +gel_search_box('header')
  
  +policy_disclaimer_print
  .container
    +gel_breadcrumbs(9)

  span#content(tabindex="-1")

  main.gel-main.container
    div.row
      .col-md-8.order-md-2.policy-main-content
        h1
          +lipsum(7, "words")
          +gel_link_tag('STAFF ONLY' , 'icon')

        +policy_content

        div.policy-callout-box
            h3
              +lipsum(3, "words")
            p
              +gel_link_list(1)
            p
              +lipsum(3, "sentences")
      .col-md-4.order-md-1.gel-lhs.policy-rhs
        h2.show-on-sr
          | Related content

        +policy_side_navigation
      
      +gel_back_to_top
      
  +gel_section_footer
  
  +global_footer(2, 8)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  

  </body>
