//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Policy Landing Page (Topic View)"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="policy education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 policy education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header("Policy library", 'On')

  +gel_search_box('header')
  
  +policy_disclaimer_print
  .container
    +gel_breadcrumbs(9)
    +policy_landing_header
    
  span#content(tabindex="-1")
  
  main.gel-main.container

    .row

      div.col-12.policy-main-content.policy-landing-content

        div.policy-landing-subheading-container
         div.policy-landing-subheading
          h2
           | Browse policies

         div.policy-view-toggle
             a(href="#").policy-view-toggle-selected
                span View by topic
             a(href="#")
                span View A-Z

        form(id="policy-form" action="" method="GET")
         div.policy-radios
            div.gel-radio-list
              fieldset
                legend.show-on-sr
                  | Etiam posuere quam
                div.gel-radio-list__row
                   input(type="radio" id="radioListID0147" name="radioList" value="radioListID0147" checked="checked")
                   label(for="radioListID0147")
                     |  Etiam quis quam
                div.gel-radio-list__row
                   input(type="radio" id="radioListID0148" name="radioList" value="radioListID0148")
                   label(for="radioListID0148")
                     |  Etiam quis quam
                div.gel-radio-list__row
                   input(type="radio" id="radioListID0149" name="radioList" value="radioListID0149")
                   label(for="radioListID0149")
                     |  Etiam quis quam

         div.policy-dropdown-container
            div.gel-form.gel-form--inline
             fieldset
               legend.show-on-sr Category Select
               +gel_select("Select Category", 4, 1)
               input(type="submit" id="sub01" name="sub01" value="submit" tabindex="-1")
               i.dropdown-chevron

        +gel_expanded_nav(8)

      +gel_back_to_top
          
          
  +gel_section_footer
  +global_footer(2, 8)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')

  </body>
