//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "A-Z Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="education edu-landing">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 education edu-landing">
  <!--<![endif]-->

  +gel_skiplink

  +global_header(false, false)

  +local_mobile_nav_variant
  +mega_menu_variant(7)
  header.uk-visible-large.edu-after-megamenu
    +gel_section_header(siteName, 'On')

  +gel_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gel_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gel-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-1-1.gel-main-content.gel-glossary

          div.uk-block.uk-block-default.uk-margin-large-top.gel-block

            div.uk-container

              +gel_landing_header

          div.uk-block.uk-block-default.uk-margin-large-top.gel-block

            div.uk-container

              div.a-z-list-edu(data-gel-a-z-anchors-scroll)
                div.ac
                  +gel_a_z_anchors
              +gel_a_z_list(10,true,false)

    +gel_back_to_top

  footer
    //+gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
