//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Article Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  +gel_skiplink

  +global_header(false, false)

  +local_mobile_nav_variant
  +mega_menu_variant(7)
  header.uk-visible-large.edu-after-megamenu
    +gel_section_header(siteName, 'On')

  +gel_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gel_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gel-main

    div.uk-container.uk-container-center.uk-width-large-1-1

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-6-10

          article.gel-article.gel-main-content.gel-news.edu-news-article

            +edu_highlight_panel-image-manipulation('edu-highlight-panels__variation edu-highlight-news',0,0,'lead')
            div.edu-block
              img(src="//placehold.it/1200x900", alt="Featured image", title="An example image title for the screen readers, say cheese.")

            p
              +lipsum(10, "sentences")

          //  +gel_image_with_caption_matrix("//placehold.it/400x213",425, 213)

            p
              +lipsum(10, "sentences")

            +gel_page_metadata

            +gel_add_this

        +gel_back_to_top

        //--- SIDEBAR

        div.uk-width-large-4-10.edu-news-article__rhs

          h1.show-on-sr
            | Related content

          div.uk-block.uk-block-default.edu-block.edu-block--columned.edu-small-margin-bottom.uk-margin-large.gel-side-navigation-upper
                div.uk-container
                  h2.gel-block__header.edu-block__header
                    +lipsum(2, "words")
                  div.uk-grid
                    div.uk-width
                      +edu-link-list-with-misc(7,1,0)


    div.gel-eg-stage
      +gel_education_drawer


  footer
    //+gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

</body>
