//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Catalogue Template"

//--- HTML
//---------------------------------------------------------


doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header(siteName, 'On', 'On')

  +gel_search_box('header')
  .container
    +gel_breadcrumbs(9)

  span#content(tabindex="-1")

  main.gel-main

    div.container

      +gel_landing_header

    div.container
      .row.gel-catalogue
        nav.col.col-md-12.col-lg-3.d-none.d-lg-block
          h2.black Browse by 
          ul.gel-category-list
            li
              a.active(href='0') One 
            li
              a(href='0') His 
            li
              a(href='0') His 
            li
              a(href='0') and 
            li
              a(href='0') Drops 
            li
              a(href='0') He 
            li
              a(href='0') One 
        .col.col-md-12.col-lg-9.pl-lg-5
          form
            #frm01.gel-form.gel-form--inline.col-lg-10.no-gutters(action='' method='GET')
              fieldset
                legend.show-on-sr Catalogue sort options
                .fav_show_wrapper.d-lg-none
                  label.d-lg-none(for='12')
                    | Browse by
                  select#12.d-lg-none(name='12' data-gel-auto-submit='data-gel-auto-submit')
                    option(value='0')
                      | His many
                    option(value='1')
                      | His room
                    option(value='2')
                      | and above
                    option(value='3')
                      | Drops of
                    option(value='4')
                      | He must
                    option(value='5')
                      | One morning
                    option(value='6')
                      | His many
                    option(value='7')
                      | His room
                .fav_show_wrapper
                  label(for='437')
                    | Sort by
                  select#437(name='437' data-gel-auto-submit2='data-gel-auto-submit2')
                    option(value='0')
                      | and above
                    option(value='1')
                      | Drops of
                    option(value='2')
                      | He must
                    option(value='3')
                      | One morning
                    option(value='4')
                      | His many
                    option(value='5')
                      | His room
                input#sub01.btn.gel-button.gel-button-primary.gel-button-small(type='submit' name='sub01' value='Filter')
          nav.gel-vc-icons
            h3.show-on-sr Visual control icons
            button.gel-vc-btn.fa-th-icon.active(aria-label='View items in a grid' title='View items in a grid' data-gel-class-toggle='gel-flex-grid--columns' data-gel-class-toggle-target='.gel-flex-grid' data-gel-class-toggle-disable='disable')
              span.invisible grid view
            button.gel-vc-btn.fa-list-icon(aria-label='View items in a list' title='View items in a list' data-gel-class-toggle='gel-flex-grid--columns' data-gel-class-toggle-target='.gel-flex-grid' data-gel-class-toggle-disable='disable')
              span.invisible list view
          hr.mt-1.mb0
          div(aria-live='polite')
            ul.gel-flex-grid.gel-flex-grid--columns.gel-flex-grid--columns-2
              li.d-flex
                a.gel-featured-teaser-link.d-flex.flex-1.mb-3(href='#')
                  .card.gel-featured-teaser_variant(data-pseudo-link='data-pseudo-link')
                    img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                    .card-body.gel-featured-teaser__content_variant
                      h4.card-title
                        | and above it there hung.
                      p
                        | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                      p.gel-featured-teaser__price
                        | $XXX.XX 
                        span.gel-featured-teaser-font-normal
                          | (exc. GST)
                          span
                      .gel-featured-teaser__arrow
                        span.far.fa-long-arrow-right
              li.d-flex
                a.gel-featured-teaser-link.d-flex.flex-1.mb-3(href='#')
                  .card.gel-featured-teaser_variant(data-pseudo-link='data-pseudo-link')
                    img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                    .card-body.gel-featured-teaser__content_variant
                      h4.card-title
                        | He must have tried it.
                      p
                        | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                      p.gel-featured-teaser__price
                        | $XXX.XX 
                        span.gel-featured-teaser-font-normal
                          | (exc. GST)
                          span
                      .gel-featured-teaser__arrow
                        span.far.fa-long-arrow-right
              li.d-flex
                a.gel-featured-teaser-link.d-flex.flex-1.mb-3(href='#')
                  .card.gel-featured-teaser_variant(data-pseudo-link='data-pseudo-link')
                    img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                    .card-body.gel-featured-teaser__content_variant
                      h4.card-title
                        | His many legs, pitifully thin.
                      p
                        | His room, a proper human room although a little too small, lay peacefully between its.
                      p.gel-featured-teaser__price
                        | $XXX.XX 
                        span.gel-featured-teaser-font-normal
                          | (exc. GST)
                          span
                      .gel-featured-teaser__arrow
                        span.far.fa-long-arrow-right
              li.d-flex
                a.gel-featured-teaser-link.d-flex.flex-1.mb-3(href='#')
                  .card.gel-featured-teaser_variant(data-pseudo-link='data-pseudo-link')
                    img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                    .card-body.gel-featured-teaser__content_variant
                      h4.card-title
                        | and above it there hung.
                      p
                        | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                      p.gel-featured-teaser__price
                        | $XXX.XX 
                        span.gel-featured-teaser-font-normal
                          | (exc. GST)
                          span
                      .gel-featured-teaser__arrow
                        span.far.fa-long-arrow-right
              li.d-flex
                a.gel-featured-teaser-link.d-flex.flex-1.mb-3(href='#')
                  .card.gel-featured-teaser_variant(data-pseudo-link='data-pseudo-link')
                    img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                    .card-body.gel-featured-teaser__content_variant
                      h4.card-title
                        | He must have tried it.
                      p
                        | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                      p.gel-featured-teaser__price
                        | $XXX.XX 
                        span.gel-featured-teaser-font-normal
                          | (exc. GST)
                          span
                      .gel-featured-teaser__arrow
                        span.far.fa-long-arrow-right
          nav
            ul.gel-pagination
              li.gel-pagination__prev.gel-pagination__disabled
                a(href='#' title='Previous page' aria-label='Previous page')
                  span Previous
              li.gel-pagination__disabled.gel-pagination__active
                a(href='#' tabindex='0' aria-label='Current Page 1' role='link') 1
              li
                a(href='#' title='Page 2' aria-label='Page 2') 2
              li
                a(href='#' title='Page 3' aria-label='Page 3') 3
              li
                a(href='#' title='Page 4' aria-label='Page 4') 4
              li
                a(href='#' title='Page 5' aria-label='Page 5') 5
              li.gel-pagination__more.gel-pagination__disabled
                span(href='#') ...
              li.gel-pagination__next
                a(href='#' title='Next page' aria-label='Next page')
                  span Next


    div.gel-eg-stage
      +gel_education_drawer

  +gel_section_footer
  
  +global_footer(2, 8)


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/utilities/classToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/catalogueForm.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/catalogue.js' type='text/javascript')  

  </body>
