//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard Page"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  +gel_skiplink

  +global_header(false, true)

  header
    +gel_section_header(siteName, 'On')

  +gel_search_box('header')

  div.uk-container.uk-container-center

    div.uk-grid.uk-grid-collapse

      +gel_breadcrumbs(7, true)

  span#content(tabindex="-1")

  main.gel-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-width-large-1-1.gel-main-content.erm-icon-label-toggle(data-gel-anchor-box)

          +general_erm_content

        +gel_back_to_top


  footer
    //+gel_section_footer("Yammer, Twitter, Facebook, YouTube, Instagram, Google Plus", true)
    +edu_section_footer

  +education_global_footer

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
