//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Section Template"

//--- HTML
//---------------------------------------------------------



doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education edu-section">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education edu-section">
  <![endif]-->


      +gel_skiplink
      +global_header(false, false)
      +gel_meganav_mobile
      +gel_megamenu_component(7)
      +gel_section_header(siteName, 'On', 'On')
      +gel_search_box('header') 
      .container
        +gel_breadcrumbs(9)

      span#content(tabindex="-1")
    
      main.container.gel-main.pt-5
        <aside class="gel-banner-container" aria-label="banner">
          <div>
            <h2 class="show-on-sr">Featured page</h2>
            <div class="gel-banner fifty_fifty_warpper row">
              <div class="col-lg-6 order-lg-last order-md-first">
                <div class="media-container image_container">
                  img(src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2.jpg" alt="Primary boys tending on vegie garden with female teacher" class="img-fluid")
                </div>
              </div>
              <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
                <div class="banner__content-container">
                  <h3 class="gel-banner__content__title">About us</h3>
                  <p>In Communication and Engagement, we’re building a connected anddigital future between parents, students and teachers to improve education outcomes in NSW.
                  </p>
                  <div><a class="btn gel-button gel-button-small gel-button-primary" href="#" title="banner link">It wasnt </a></div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        
        section
          div.gel-block
            div.container
              h2.gel-block__header
                | In this section
              <div class="row gel-expanded-nav">
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Producs and services</a></h3>
                  <p>The product and services available incorporate hardware, software, infrastructure and support.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Guides and forms</a></h3>
                  <p>Understand how to get the most out of your technology and related support functions.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">Projects and initiatives</a></h3>
                  <p>ITS manages and supports multiple projects and improvement initiatives for the whole department.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h3><a href="#">About ITD</a></h3>
                  <p>We develop, source, implement and support a range of technology solutions for the department.</p>
                </div>
              </div>
              //- +gel_expanded_nav(4)

        section
          div.gel-block
            div.container
              h2.gel-block__header
                | Quick links
              <div class="row">
                <div class="col-md-3">
                  <h3>One morning when 
                  </h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <h3>He must have 
                  </h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <h3>Drops of rain 
                  </h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <h3>and above it 
                  </h3>
                  <div class="gel-link-columns">
                    <ul class="gel-link-list gel-link-columns__items gel-link-columns--undefinedcol">
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">He must have tried it a.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.</a>
                      </li>
                      <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

        section
          div
            div.container.pl-0.pr-0
              div.row
                .col-4
                  a.gel-featured-teaser-link(href="#")
                    .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
                      img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
                      .card-body.gel-featured-teaser__content_variant
                        h4.card-title
                          | Apply for a $45K teaching award today
                        p
                          | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      

                .col-4
                  a.gel-featured-teaser-link(href="#")
                    .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
                      img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
                      .card-body.gel-featured-teaser__content_variant
                        h4.card-title
                          | Apply for a $45K teaching award today
                        p
                          | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      

                .col-4
                  a.gel-featured-teaser-link(href="#")
                    .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
                      img.img-fluid.card-img-top(src="//placehold.it/1200x900/" alt="")
                      .card-body.gel-featured-teaser__content_variant
                        h4.card-title
                          | Apply for a $45K teaching award today
                        p
                          | The inaugural Premier’s Coding Challenge was launched yesterday at Doonside Technology High School to inspire students to get involved in STEAM more.      


                  
         
      +gel_section_footer
      
      +global_footer(2, 8)


  include assets/pug/_scripts.pug
  <!-- include any component specific scripts here //-->
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  </body>
