//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Article Template"

//--- HTML
//---------------------------------------------------------




doctype html
html(class="#{theme}", lang='en')

  +head
  
  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <![endif]-->

  +gel_skiplink
  +global_header(false, false)
  +gel_meganav_mobile
  +gel_megamenu_component(7)
  +gel_section_header(siteName, 'On', 'On')

  +gel_search_box('header')
  .container
    +gel_breadcrumbs(9)

  span#content(tabindex="-1")
    
    
  main.gel-main.container
    .row         
      nav.col-lg-4.gel_category_list_container.order-lg-1.order-md-2
        .social-media-list
          +gel_social_media_icons_list(6, ["facebook","linkedin","twitter","instagram","youtube","yammer"],"NSW DoE profile on ","")
        +gel_share_this("edu-design")  
         
      .col-lg-8.order-lg-2.order-md-1
        article.gel-article.gel-main-content.gel-news
          h1
            +lipsum(1, "sentences")

          time.gel-article__date.uk-margin-small-top(datetime="15/12/25")
            | 25 December 2015

          p.lead
              +lipsum(4, "sentences")

          +gel_image_with_caption
          
          section.category_select_mobile
            h1.show-on-sr
              | News articles ordered by most recent date
            //-- Mobile Category Select
            form
              div.gel-form.gel-form--inline.col-lg-10.no-gutters(id="frm01" action="" method="GET")
                fieldset
                  legend.show-on-sr Category Select
                  .fav_show_wrapper.d-lg-none
                    +gel_select("Select Category", 4, 1, 1)
          
          h2.header-bold
            +lipsum(3, "words")

          p
            +lipsum(5, "sentences")

          p
            +lipsum(1, "sentences")
          
          h2.header-bold
            +lipsum(3, "words")

          p
            +lipsum(5, "sentences")

          p
            +lipsum(1, "sentences")
            
          .row
            .col-md-6
              +gel_metadata
              +gel_category(3)
            .col-md-6
              +gel_share_this("edu-design")
          hr
        
    .row
      .col-12.col-lg-4
        +gel_featured_teaser(true)
      .col-12.col-lg-4
        +gel_featured_teaser(true)
      .col-12.col-lg-4
        +gel_featured_teaser(true)
      
      +gel_back_to_top          


  div.gel-eg-stage
    +gel_education_drawer

  +gel_section_footer
  
  +global_footer(2, 8)

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/anchorBox.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/keyCodes.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/ariaToggler.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/classManipulator.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/breadCrumbs.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/drawer.js'  type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/scrollToggle.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/sideNavigation.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/externalLinkTagger.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery-accessible-tabpanel-aria/jquery-accessible-tabs.js' type='text/javascript')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/mobileMegaNav.js' type='text/javascript')
  script(src='//dec-ce.bitbucket.io/gel/master/assets/js/components/skipForFirefox.js' type='text/javascript')
  

</body>
