// A-Z LIST

.gel-glossary {
  .a-z-list {
    background-color: $edu-brand-primary-3;
    padding: 25px 20px 205px 20px;
    border-top: 2px solid $edu-brand-primary-7;
    height: auto;
    @media screen and (min-width: 357px) and (max-width: 438px) {
      padding: 25px 20px 150px 20px;
    }
    @media screen and (min-width: 439px) and (max-width: 767px) {
      padding: 25px 20px 100px 20px;
    }
    @media screen and (min-width: 768px) {
      padding: 25px 20px;
    }

    .ac {
      .gel-a-z-anchors {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        justify-content: flex-start;
        @media #{$gel-mq-bs-xl} {
          justify-content: space-between;
        }

        li {
          width: 36px;
          height: 44px;
          line-height: 44px;
          max-width: 36px;
          &:last-child {
            margin-right: 0;
          }
          a {
            border: 1px solid $edu-primary-brand-1;
            border-radius: 4px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }

  .gel-a-z-list {
    .gel-a-z-list__letter {
      font-weight: 400;
      font-size: 1.875rem;
      color: $edu-primary-brand-1;
    }

    .gel-a-z-list__content {
      border-bottom: 2px solid $edu-brand-primary-4;
      .gel-a-z-list__content__heading {
        color: $edu-primary-brand-1;
        margin-bottom: 25px;
      }
      p {
        color: $edu-primary-brand-1;
      }
    }
    > li {
      border-top: 2px solid #9B9B9B;
    }
    &:nth-child(2) {
      > li {
        border-top: 0;
      }
    }
  }

  [data-scroll-passed="true"] {
    height: 230px;
    @media screen and (min-width: 389px) and (max-width: 552px) {
      height: 180px;
    }
    @media screen and (min-width: 553px) and (max-width: 1080px) {
      height: 125px;
    }
    @media screen and (min-width: 1081px) {
      height: 70px;
    }
  }
}
