//anchor-box
.gel-anchor-box {
  width: 100%;
  padding: 20px 60px 20px 30px;
  border-top: 2px solid $edu-brand-primary-7;
  background: $edu-brand-primary-3;
  h2.gel-anchor-box__title {
    margin-bottom: 1.575rem;
  }

  .gel-link-list {
    li {
      border-bottom: 1px solid #D9D9D9;
      line-height: 2.5rem;
      // margin-top: 0;
      padding-left: 0;
      &:last-child {
        border-bottom: 0;
      }
      &:before {
        color: $edu-brand-primary-1;
      }
      a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:after {
          color: $edu-brand-primary-7;
          content: "\f178";
          font-size: 1.25rem;
          font-family: 'FontAwesomeRegular';
          margin-left: 1.5rem;
        }
      }
      .gel-link-list-icon {
        &::before {
          content: none;
          // left: inherit;
          // right: 0;
          // color: $edu-brand-primary-7;
          // content: "\f178";
          // font-family: "FontAwesomeRegular";
          // font-size: 25px;
          // line-height: 2.5rem;
        }
      }
    }
  }
}
