/* Homepage Banner */

$banner-img-aspect-ratio-mobile: 320/300;
$banner-img-mask-aspect-ratio-diameter: 540/320;
$banner-img-mask-top-ratio: 207/300;

$banner-img-mask-diameter: 100vw * $banner-img-mask-aspect-ratio-diameter;
$banner-img-mask-radius: $banner-img-mask-diameter/2;
$banner-img-mask-left: ($banner-img-mask-diameter - 100vw) * -0.5;
$banner-img-mask-top: 100vw * $banner-img-mask-top-ratio;

.edu-banner-container {
  /* base styles */
  box-shadow: none;
  border-radius: 0;

  .edu-banner-image {
    transform: scale(1.1);
    transition: all 0.4s;
  }

  h1 {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  p {
    margin-bottom: 20px;
  }

  /* content */
  .edu-banner-textbox {
    font-weight: 300;
    color: $edu-primary-brand-1;

    > *:not(:last-child):not(hr) {
      margin-bottom: 20px;
    }

    p a.gel-button {
      margin-top: 26px;
    }

    h1.edu-banner-header {
      font-size: 1.437rem;
      line-height: 1.81rem;
      font-family: "montserrat";
      font-weight: 600;
      color: $edu-primary-brand-1;
    }

    hr {
      margin-top: 37px;
      margin-bottom: 15px;
    }
  }

  .edu-banner-search {
    font-size: 1rem;
    line-height: 1.5em;
    font-family: "montserrat";
    font-weight: 600;
  }
  
  .edu-banner-image-container {
    position: absolute;
    height: 100vw * $banner-img-aspect-ratio-mobile;
    width: 100vw;
    margin-left: calc(-50vw + 50% + 15px);
    overflow: hidden;
    z-index: -1;
    
    &:after {
      position: absolute;
      content: '';
      background: #FFF;
      height: $banner-img-mask-diameter;
      width: $banner-img-mask-diameter;
      left: $banner-img-mask-left;
      top: $banner-img-mask-top;
      border-radius: 100%;
    }
  }

  .edu-banner-image {
    max-width: none;
    height: 100%;
  }
  
  .edu-banner-background-image {
    background-image: url("../images/banner-hero.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw * 0.35;
    height: 100%;
    max-width: none;
  }

  .edu-banner-textbox-container {
    margin-top: -50px;
    padding-left: 30px;
    padding-right: 30px;

    background: #FFF;

    margin-top: calc((100vw * (320/300)) - 50px);
    box-sizing: border-box;
  }

  .edu-banner-textbox {
    position: relative;
    padding: 5px 25px;

    &:before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      border-left: 3px solid $edu-brand-primary-7;
    }
  }

  @media #{$gel-mq-md} {
    
    .edu-banner {
      width: 100%;
    }

    .edu-banner-image-container {
      position: absolute;
      width: auto;
    }

    .edu-banner-image-container {
      position: absolute;
      top: 0;
      left: 0;
      right: -160px;
      bottom: 0;
      z-index: -1;
      overflow: hidden;
      height: auto;
      margin-left: 0;
      max-width: calc(100% + ((100vw - 100%) / 2));
    }

    .edu-banner-textbox-container {
      margin-top: 0;

      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 19px;
        bottom: 19px;
        left: 0;
        border-left: 3px solid $edu-brand-primary-7;
      }
      
      position: relative;
      width: 100%;
      left: auto;
      top: auto;
      border-radius: 0 249px 249px 0;
      margin-left: 15px;
      padding: 0;
      background: rgba(255, 255, 255, 0.80);
      padding-right: 110px;
      padding-top: 45px;
      padding-bottom: 45px;
      max-width: 555px;
    }

    .edu-banner-textbox {
      font-weight: 300;
      color: $edu-primary-brand-1;
      padding-left: 25px;
      max-width: 100%;
      max-height: 480px;
      padding-left: 30px;
      max-width: 430px;

      h1.edu-banner-header {
        font-size: 1.625rem;
        line-height: 2rem;
        font-family: "montserrat";
        font-weight: 600;
        color: $edu-primary-brand-1;
      }
    }

    .edu-banner-background-image {
      background-image: url("../images/banner-hero.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      width: 100%;
      height: 100%;
      background-size: auto 100%;
      position: absolute;
      display: none;
      right: calc(50% + -120px);
      top: 0;
      transform: none;
      display: block;
      height: calc(100% + 1px);
    }

    .edu-banner-image {
      width: 100%;
      transition: all 0.3s;
      margin-left: 25px;
      transform: none;
      margin-left: auto;
      margin-right: 0;
      width: auto;
      height: 100%;
      position: absolute;
      left: calc(50% + -120px);
    }

    .edu-banner-search {
      font-size: 1.25rem;
      line-height: 1.5em;
      font-family: "montserrat";
      font-weight: 600;
    }
  }
}
