.gel-banner-container {
  box-shadow: 0 2px 13px -2px rgba(0,0,0,0.27);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
}

.gel-banner__content__title {
/*  font-family: Montserrat;
  font-size: 1.45rem;*/
  color: $color-white;
/*  font-weight: 600;*/
}

.gel-banner .large-overlay {
  /* TODO: Shouldn't have to use important! */
  background: rgba(4,30,66,0.81) !important;
  &, p {
    color: $color-white;
  }
}

.fifty_fifty_warpper {
  border-top: none;
  box-shadow: unset;

  .image_container .img-fluid {
    width: auto;
  }

  .media-container img {
    min-height: 100%;
  }
}

.gel-banner {
  background: $color-white;
  position: relative;
  border-top: 2px solid $color-red;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;

  .image_container {
    position: relative;
    height: 100%;
  }

  .img-fluid {
    position: absolute;

    max-width: none;
    max-height: none;

    min-width: 100%;
    min-height: 100%;

    height: auto;

    top: 50%;
    transform: translateY(-50%);
  }

  .gel-banner__content {
    position: relative;
    padding: 0 90px 20px 90px;
  }

  .banner__content-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding: none;

    display: flex;
    flex-direction: column;

    height: 100%;

    p {
      margin-top: 25px;
      margin-bottom: 35px;
/*      font-size: 16px !important;
      font-weight: normal;*/
      max-height: none;
      overflow: initial;
      flex-grow: 1;
      min-height: 3rem;
      max-height: 6rem;
      overflow: hidden;
    }
  }

  .gel-banner__content_fifty {
    padding: 0 90px 20px 90px;
  }

  .large-overlay {
    .banner__content-container {
      position: relative;
      transform: none;
      left: 0;
      top: 0;

      p {
        margin-bottom: 35px;
      }

      a.gel-button {
        color: unset;
      }

      .gel-button-secondary:not(hover) {
        color: #041E42;
      }

      .gel-button-secondary:hover {
        color: #FFF;
      }
    }
  }

  .gel-button {
    width: 100%;
    max-width: 240px;
  }

  .video_container {
    height: 100%;
    display: flex;
  }
}

/* TODO: Temporary fix until buttons can be placed inside the same div */
.banner__content-container {
  div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.fifty_fifty_warpper .media-container img {
  max-height: none;
}

@media screen and (max-width: 768px) {
  .gel-banner {
    .gel-banner__content {
      padding: 0 20px 20px 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  .gel-banner {
    .img-fluid {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transform: none;
      object-fit: cover;
    }
  }

  .gel-banner .large-overlay .banner__content-container p {
    max-height: none;
    padding-bottom: 33px;
  }

  .gel-banner {
    .gel-button {
      width: 100%;
      max-width: 100%;
    }
  }

  .fifty_fifty_warpper .media-container {
    min-height: 375px;
  }
}

.gel-banner-container--small .gel-banner .img-fluid {
  transform: translateY(0);
}

.gel-banner:not(.fifty_fifty_warpper) {
  .gel-banner__content:not(.large-overlay) {
    margin-left: 0;
    margin-bottom: 150px;
    width: 60%;
    padding: 0 65px;
    
    .banner__content-container {
      padding: 30px 0;
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 0;
      width: 100%;
      background: #FFF;
    }

    @media screen and (max-width: 786px) {
      padding: 0 15px;
      .banner__content-container {
        padding: 15px 0;
      }
    }
  }
}