.gel-block {
  background: #FFF;
  border-top: 2px solid #CE0037;
  margin-top: 40px;
  margin-bottom: 40px;

/*  & .gel-block__header {
    font-size: 1.56rem;
    line-height: 2.18rem;
    font-weight: 500;
  }*/
}

.gel-block {
  margin-left: 0;
  margin-right: 0;

  @media #{$gel-mq-lg} {
    margin-left: 0;
    margin-right: 0;
  }

  padding: 23px 20px;
}
