
// Blockquote

blockquote {
    border-left: 2px solid $edu-brand-primary-7;
    p {
      font-size: 22px;
    }
}
.gel-blockquote--with-quotes {
  blockquote {
    p::before, p::after {
      background-color: $edu-brand-primary-6;
    }
  }
}
