.light-grey-bg {
  background-color: #F2F2F2;
}

body main .container {
  background-color: transparent;
}

/* Grey background styles on Page body */
.edu-landing, .edu-section, .edu-level-1, .edu-level-2 {
  background: $edu-brand-primary-3;
  .gel-breadcrumbs .breadcrumb, .breadcrumb, .breadcrumb .gel-breadcrumbs {
    background: $edu-brand-primary-3;
  }
}
