// BREADCRUMB
.gel-breadcrumbs {
  .gel-breadcrumbs__link {
    color: $edu-primary-brand-1;
  }
  .gel-breadcrumbs__link-icon::before {
    display: inline-block;
  }
  .gel-breadcrumbs__item:before {
    content: "\f054";
  }
  .gel-breadcrumbs__item {
    &:before, a.gel-breadcrumbs__item-link,
    span.gel-breadcrumbs__item-active {
      color: $edu-navy;
      @media screen and (max-width: $gel-md-max) {
        z-index: 2;
      }
    }
    span.gel-breadcrumbs__item-active {
      z-index: 10;
    }
  }
  .gel-breadcrumbs__item-home-icon,
  .gel-breadcrumbs__dropdown:after {
    color: $edu-navy;
  }
  .gel-breadcrumbs__dropdown {
    &:after {
      font-size: 20px;
    }
    &:hover:after,
    &.active-clicked:after,
    &.active-hovered:after,
    &.active-focused:after,
    div  {
      color: $edu-navy;
      background-color: $edu-tertiary-brand-5;
    }
    p {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
    a.gel-breadcrumbs__item-link {
      color: $edu-navy;
      padding-left: 10px;
      text-decoration: none;
      &:after {
        color: $edu-primary-brand-2;
        content: "\f178";
        font-size: 1.25rem;
        font-family: 'FontAwesomeRegular';
        margin-left: 10px;
      }
    }
    .gel-breadcrumbs__dropdown-icon {
      &::before {
       content: "";
       padding-left: 10px;
      }
    }
  }
  .gel-breadcrumbs__truncate:after {
    background-color: $gel-white;
    color: $edu-navy;
  }
}
