$gel-text-foreground: $color-navy;
$gel-text-background: $color-white;

$gel-primary-foreground: $color-white;
$gel-primary-background: $color-red;

$gel-secondary-foreground: $color-navy;
$gel-secondary-background: $color-grey-5;


@mixin gel-button-base {
  font-family: Montserrat;
  font-weight: 600;

  color: $gel-text-foreground; 
  background: none;
  border: none;

  transition: all cubic-bezier(0.4, 0.0, 0.2, 1) 0.3s;
  transition-property: box-shadow, background, color;

  &:focus {
    box-shadow: 0px 0px 0px 3px $color-blue-tertiary;
    outline: none !important; /* TODO: remove important */
    // outline-offset: 2px !important; /* TODO: remove important */
  }

  &:hover, &:focus {
    background: $gel-text-foreground;
    color: $gel-text-background;
  }
}

@mixin gel-button-primary {
  border: 2px solid $gel-primary-background;
  background: $gel-primary-background;
  color: $gel-primary-foreground;

  &:hover, &:focus {
    border: 2px solid $gel-primary-background;
    background: $gel-primary-foreground;
    color: $gel-primary-background !important;
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px $color-peach;
  }
}

@mixin gel-button-secondary {
  border: 2px solid $gel-secondary-foreground;
  background: $gel-secondary-background;
  color: $gel-secondary-foreground;

  &:hover, &:focus {
    border: 2px solid $gel-secondary-foreground;
    background: $gel-secondary-foreground;
    color: $color-white;
  }
}


.gel-button, .gel-button:visited {
  @include gel-button-base;

  &.gel-button-primary {
    @include gel-button-primary;
  }

  &.gel-button-secondary {
    @include gel-button-secondary;
  }
}
