.gel-home-calendar {
  display: block;
}
.gel-calendar.gel-highlight-panels__panel {
  margin-top: 0;
  box-shadow: none;
  border-top: 0;
  display: block;
  img {
    max-width: none;
    width: 100%;
  }
  h2 {
    font-size: 1.56rem;
    line-height: 2.18rem;
    font-weight: 500;
  }
  .gel-block__header {
    margin: 0px 0 0;
    h2 {
      margin: 30px 25px 15px;
    }
  }
  .gel-highlight-panels__image {
    border-bottom: 2px solid $edu-brand-primary-7;
  }
  .gel-highlight-panels__content span {
    color: inherit;
  }
  .gel-highlight-panels__content ul>li::before {
    transform: none;
  }
}

.edu-landing .smallcalender {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.27);
}
