// Call out box

.gel-call-out-box {
  border-top: 2px solid $edu-brand-primary-7;
  border-bottom: none;
  padding: 20px;
  background: $edu-brand-primary-3;
  h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
  }
}
