//CATEGORY LIST
article {
  margin-bottom: 40px;
  @media #{$gel-mq-lg} {
    margin-bottom: 0px;
  }
}
.gel_category_list_container {
  h3 {
    color: $edu-brand-primary-1;
    padding-bottom: 15px;
  }
}
.gel-main {
  .col-lg-4 {
    .black {
      font-weight: 500;
      color: $edu-brand-primary-1;
    }
  }
}
.gel-category-list {
  border-bottom: 2px solid $edu-brand-primary-7;
  padding-top: 40px;
  padding-bottom: 40px;
  li {
    a {
      color: $edu-brand-primary-1;
    }
  }
}

.gel-category {
  .badge-default {
    border: 1px solid $edu-primary-brand-1;
    line-height: 20px;
    padding: 10px;
    color: $edu-tertiary-brand-1;
    background-color: transparent;
    font-weight: 300;
    border-radius: 4px;
    &:hover {
      background-color: $edu-tertiary-brand-5;
      color: #000000;
    }
  }
  .gel-category__title {
    color: $edu-primary-brand-1;
    // font-family: "Montserrat script=all rev=1", "Adobe Blank";
    font-weight: 600;
  }
  .gel-category__list {
    li {
      .badge {
        font-size: 1rem;
      }
    }
    display: block;
  }
}
