//Catalogue
.gel-catalogue {
  nav {
    h2 {
/*      color: $edu-brand-primary-1;
      font-weight: 600;*/
      border-bottom: 2px solid $edu-brand-primary-7;
      padding-bottom: 15px;
    }
  }
  fieldset {
    .gel-button {
      background-color: $edu-brand-primary-7;
      color: #FFFFFF;
      &:hover, &:focus {
        background: transparent;
        color: $edu-brand-primary-7;
        border: 1px solid $edu-brand-primary-7;
      }
    }
  }

  .card {
    
  }
}
