// Brand Colors - Primary
$color-navy: #041E42;
$color-red: #CE0037;
$color-baby-blue: #C8DCF0;
$color-white: #FFFFFF;

// Brand Colors - Secondary
$color-blue-default: #1D428A;
$color-blue-mid: #407EC9;
$color-blue-tertiary: #6CACE4;
$color-highlight-pink: #EE3C48;
$color-peach: #F3B8B5;
$color-grey: #E6E7E9;

// Shades of grey
$color-grey-60: #666666; 
$color-grey-30: #B3B3B3; 
$color-grey-15: #D9D9D9; 
$color-grey-10: #E5E5E5; 
$color-grey-5: #F2F2F2; 
$color-grey-2: #FAFAFA; 

// Text colors
// - Navy
// - White
// - Grey 60
$color-black: #000000;

// System messages and alerts
$color-error: #FF635C;
$color-warning: #F69900;
$color-success: #0CAC78;
$color-info: #00BFE9;


.brand-color {
  height: 148px;
  width: 100%;
  max-width: 264px;
  border-radius: 4px;

  &.navy {
    background-color: $color-navy;
  }

  &.red {
    background-color: $color-red;
  }

  &.baby-blue {
    background-color: $color-baby-blue;
  }

  &.white {
    background-color: $color-white;
    border: 1px solid #979797;
  }

  &.blue-default {
    background-color: $color-blue-default;
  }

  &.blue-mid {
    background-color: $color-blue-mid;
  }

  &.blue-tertiary {
    background-color: $color-blue-tertiary;
  }

  &.highlight-pink {
    background-color: $color-highlight-pink;
  }

  &.peach {
    background-color: $color-peach;
  }

  &.grey {
    background-color: $color-grey;
  }

  &.grey-60 {
    background-color: $color-grey-60; 
  }

  &.grey-30 {
    background-color: $color-grey-30; 
  }

  &.grey-15 {
    background-color: $color-grey-15; 
  }

  &.grey-10 {
    background-color: $color-grey-10; 
  }

  &.grey-5 {
    background-color: $color-grey-5; 
  }

  &.grey-2 {
    background-color: $color-grey-2; 
  }


  &.black {
    background-color: $color-black;
  }


  &.error {
    background-color: $color-error;
  }

  &.warning {
    background-color: $color-warning;
  }

  &.success {
    background-color: $color-success;
  }

  &.info {
    background-color: $color-info;
  }
}