//CONTENT CONTAINER

.background-alt1 {
  background: $edu-brand-primary-3 !important;
  margin-bottom: 30px;
  // padding: 0 15px;
}

.background-alt1-stretched {
  background: $edu-brand-primary-3 !important;
  max-width: none;
  padding: 50px calc((100vw - 100%)/2) !important;
  width: 100vw !important;
  margin-left: calc((-100vw + 100%)/2);
  margin-bottom: 30px;
}

.edu-border-alt1 {
  border-top: 3px solid $edu-primary-brand-2;
  margin-bottom: 30px;
  padding: 0 30px;

  &.container {
    background: $edu-primary-brand-4;
  }
}
