.gel-teaser-block {
  .gel_teaser_default_container {
    background-color: transparent;
    .gel-teaser {
      background-color: #fff;
      border-top: 2px solid $edu-primary-brand-2;
      margin-bottom: 20px;
      border-radius: 4px;
      box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.27);
      transition: border-color 0.2s, box-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      .gel-teaser__category {
        color: #fff;
   /*     font-size: 1rem;*/
        padding: 5px 10px;
        line-height: 1.4;
        display: inline-block;
        margin: 0;
        margin-bottom: 0px;
        position: relative;
        left: 30px;
        top: 20px;
        background: $edu-primary-brand-2;
        border-bottom: 0;
        font-weight: 300;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        .gel-teaser__heading {
          height: 10.81rem;
          overflow: hidden;
/*          font-size: 1.56rem;
          line-height: 2.18rem;
          font-weight: 600;
          color: $edu-brand-primary-1;
          */
          padding: 30px;
          margin-bottom: 20px;
        }
      }
      img {
        margin-top: 0;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
      }
      .desc {
        color: $edu-grey;
        font-weight: 300;
        height: 135px;
        overflow: hidden;
        margin: 0 30px 20px 30px;
        display: inline-block;
        line-height: 27px;
      }
      img ~ .desc {
        margin-top: 30px;
      }
    }
  }
}

.gel-featured-teaser__content_variant {
  h4 {
    max-height: 5.54rem;
  }

  .gel-featured-teaser_highlight {
    color: $gel-white;
  
  }
}
