.gel-content-aggregator {
  background-color: transparent;
  margin-left: 15px;
  margin-right: 15px;

  &__main-content {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;

    .result-title {
      margin-bottom: 40px;
    }

    .results-summary {
      position: relative;
      margin: 0 15px 40px 15px;
      p {
        margin-bottom: 40px;
      }

      .modal-filter-btn {
        width: 100%;
        @media (min-width: $gel-md-min) {
          width: auto;
          position: absolute;
          margin-bottom: 24px;
          right: 0;
          top: 0;
        }
      }
    }

    .gel-search-results {
      background-color: $color-white;
      padding: 15px;
      padding-top: 40px;

      @media (min-width: $gel-lg-min) {
        background-color: transparent;
        padding-top: initial;
      }
    }
  }

  &__filter {
    background-color: $color-white;
    border-radius: 4px;
    margin-top: 40px;
    padding: 20px 10px;

    @media (min-width: $gel-lg-min) {
      max-width: 350px;
      padding: 40px 30px;
    }

    .filter-list-title {
      margin-bottom: 40px;
    }

    .filter-title {
      text-decoration: none;
      h4 {
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid $color-grey-30;

        &::after {
          @extend .fas;
          content: '\f054';
          position: absolute;
          right: 0;
          transition: transform 0.2s;
        }
      }
    }

    &.expanded .gel-filter-title h4::after {
      transform: rotate(90deg);
    }

    .filter-options{
      .option {
        margin-bottom: 8px;
      }
      &.expanded {
        & + .expand-controls {
          .more-options {
            display: none;
          }
          .less-options {
            display: block;
          }
        }
      }
    }

    .more-options {
      display: block;
    }
    .less-options {
      display: none;
    }

    .expand-controls {
      margin-top: 20px;
      a {
        font-weight: 600;
        color: $color-red;
        &:focus {
          outline: none;
        }
      }
    }

  }

  &__collapsible-wrapper {
    overflow: hidden;
    transition: max-height 0.2s;

    &.filter-content {
      max-height: 0px;
    }
  }

  .filter-content {
    margin-top: 20px;
  }

  .form-check {
    position: relative;
    line-height: 32px;
    margin-bottom: 4px;
    margin-left: 4px;

    input[type='checkbox'] {
      opacity: 0;

      & + label::after {
        content: none;
      }

      &:checked + label::after {
        content: '\f00c';
      }
      &:focus + label::before {
        outline: $color-blue-tertiary auto 5px;
      }
    }
    label {
      padding-left: 10px;
      &::before, &::after {
        position: absolute;
      }
      &::before {
        content: '';
        display: inline-block;
        height: 24px;
        width: 24px;
        top: 4px;
        left: 0px;
        border: 1.5px solid $color-navy;
        border-radius: 5px;
      }
      &::after {
        @extend .fas;
        position: absolute;
        left: 4px;
        top: 0;
      }
    }
  }

  .modal-filter {
    z-index: 12000;
    background-color: rgba(0, 0, 0, 0.3);

    .modal-dialog {
      margin: 0;
      max-width: inherit;
      height: 100%;

      @media screen and (min-width: $gel-md-min) {
        margin: 10px;
        background-color: $color-white;
        border: 1px solid $color-grey-60;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .close {
        font-size: 1rem;
        font-weight: 400;
        color: $color-navy;
        opacity: 1;
      }

      .modal-content {
        border-radius: 0;
        border: none;
        background-color: $color-grey-5;
        @media screen and (min-width: $gel-md-min) {
          background-color: $color-white;
        }

        .gel-filter {
          margin-bottom: 40px;

          .gel-filter-title {
            margin-bottom: 20px;
            @media screen and (min-width: $gel-md-min) {
              border-bottom: 1px solid $color-grey-30;
            }
          }

          .gel-filter-options {
            border: 1px solid $color-grey-60;
            @media screen and (min-width: $gel-md-min) {
              border: none;
            }

            .option {
              background-color: $color-white;
              border-bottom: 1px solid $color-grey-60;
              margin: 0;
              padding: 5px;
              &:last-child {
                border: none;
              }
              .form-check{
                margin: 0;
              }
              .form-check-label {
                display: block;
              }

              @media screen and (min-width: $gel-md-min) {
                border: none;
                .form-check-label {
                  display: inline;
                }
              }
            }
          }
        }

        .modal-header {
          border: none;
          @media screen and (min-width: $gel-md-min) {
            h2 {
              border-left: 2px solid $color-red;
              padding-left: 0.5rem;
            }
          }
        }
        .modal-footer {
          display: block;
          border: none;
        }
      }
    }

  }

  .gel-columns--2col {
    @media all and (min-width: $gel-md-min) {
      column-count: 2;
    }
  }

  .gel-columns--3col {
    @media all and (min-width: $gel-md-min) {
      column-count: 3;
    }
  }

  .gel-pagination {
    a {
      background-color: transparent;
      &:hover, &:focus {
        background-color: transparent;
      }
    }

    .gel-pagination__next, .gel-pagination__prev {
      & > a {
        background-color: transparent;
      }
    }
  }

  .card > .card-body {
    .card-body-content {
      padding: 20px 30px;
      min-height: 180px;

      .card-label {
        color: $color-red;
        margin-bottom: 10px;
        font-weight: 600;
      }

      .card-type {
        position: absolute;
        bottom: 30px;
        right: 30px;
        .fas {
          color: $color-red;
          margin-right: 0.3rem;
        }
      }
    }

    &.gel-featured-teaser__inline_image_variant {
      padding: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
