// EDCONNECT DRAWER

.gel-eg-stage {
  box-sizing: none;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  height: auto;
  border: 0;
  padding: 0;
}

.gel-drawer {
  /*top: 114.25%;*/
  min-width: 300px;
  z-index: 10000;
 /* @media #{$gel-mq-md} {
    top: 100%;

  }*/

  h2 {
    color: $edu-brand-primary-2;
    font-size: 22px;
    letter-spacing: 0.2px;
    line-height: 27px;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 20px;
  }

  a, a:focus, [role="tab"]:focus {
    text-decoration: none;
  }

  [role="tabpanel"] {

    background-color: $edu-brand-primary-3;
    border: 1px solid #B3B3B3;
  }

  p {
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 8px;
    padding-top: 5px;
  }

  .contactPhone {

    &:after {
      float: right;
      color: $edu-brand-primary-7;
      content: "\f178";
      font-family: "FontAwesomeRegular";
      font-size: 25px;
      line-height: 25px;
      margin-right: 0;
    }
  }

  .gel-external-link::before{
    float: right;
    color: $edu-brand-primary-7;
  }

  .drawer-close {
    border:0;

    &:hover,
    &:focus {
      border: 0;
    }

  }

  &.active[data-scroll-passed=true] {
    margin-top: 40px;
  }

  &[data-scroll-passed=true] {
    margin-top: -10px;
/*    @media #{$gel-mq-lg} {
      left: 25%;

    }*/
  }

}

.col-md-8 .gel-drawer[data-scroll-passed=true] {
 @media #{$gel-mq-lg} {
   left: 25%;
 }
}

.edu-landing, .edu-level-1, .edu-section, .landing {

  .gel-drawer {

    &[data-scroll-passed=true] {

      @media #{$gel-mq-lg} {
        left: 50%;

      }
    }
  }
}
