// -------------------
// TILE LIST
//
// Provides a container for multiple tiles.
// The width control is set on the container not tile wrappers for CMS integration.
//
//  .gel-expanded-nav                        - The list item container
//  .gel-expanded-nav__item                  - The separate items within the list
//  .gel-expanded-nav__item--alt1            - Item without the description on mobile
//
// -------------------

.gel-expanded-nav {
  .gel-expanded-nav__item {
    padding-top: 10px;
    padding-bottom: 10px;
    .fa, .fas {
      display: none;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    h3 a {
      display: block;
      font-weight: 600;
      color: $gel-content-header;
/*      font-size: $base-body-font-size;*/
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin-bottom: 0;
      font-size: $base-body-font-size;
      color: $gel-dark-grey;
    }

    &.gel-expanded-nav__item--alt1 {
      display: inherit;
      .fa, .fas {
        font-family: 'FontAwesomeSolid';
        display: inline-block;
        color: $gel-decoration;
        font-size: 1.5rem;
        line-height: 1.5rem;
        vertical-align: middle;
        font-weight: 400;
        padding-right: 5px;
      }

      h3 {
        @media screen and (max-width: $gel-sm-max) {
          margin-top: -2px;
        }
        margin-bottom: 0;
/*        line-height: 1.5;*/
        display: inline-block;
      }

/*      h3 a {
        font-weight: 600;
        font-size: 1rem;
      }*/

      p {
        display: none;
      }
    }

    @media #{$gel-mq-md} {

      &.gel-expanded-nav__item--alt1 {
        display: block;
        .fa, .fas {
          display: none;
        }

      /*  h3 a {
          font-weight: 600;
          font-size: $base-body-font-size;
        }*/

        p {
          display: block;
          margin-top: 12px;
        }
      }

    }

    @media #{$gel-mq-lg} {

    /*  h3 a {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }*/

      &.gel-expanded-nav__item--alt1 {

        h3 a {
          margin-top: 0;
/*          font-size: 1rem;*/
        }
/*
        p {
          font-size: 1rem;
        }*/
      }
    }
  }
}
.expandedNav_default {
  @extend .edu-component-border__alt1;
}

//START-- To be cleaned up once we point to new GEL version (1.0.16)
//Grid Layout - 66%
.col-md-8 .gel-expanded-nav {
  @media #{$gel-mq-md} {
    .col-md-3.gel-expanded-nav__item--alt1 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
//END-- To be cleaned up once we point to new GEL version (1.0.16)
