//Form
.gel-form {
  padding-left: 0;
  padding-right: 0;
  .fav_show_wrapper {
    display: block;
    position: relative;
    &:after {
      content:"\f078";
      font-family: "FontAwesomeRegular";
      color: $edu-primary-brand-1;
      position: absolute;
      right: 10px;
      top: 66px;
      z-index: 1;
      text-align: center;
      width: 20px;
      pointer-events: none;
      box-sizing: border-box;
      font-size: 1rem;
    }
    @media #{$gel-mq-desktop} {
      display: inline;
      &:after {
        right: 20px;
        top: -1px;
      }
    }
  }
  label {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  select {
    height: 46px;
    outline: 0;
    font-weight: 300;
    padding-left: 9px;
    border: 1px solid $edu-primary-brand-1;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
    &:before {
      content: '\f078';
      font-family: 'FontAwesomeRegular'
    }
  }
}

.gel_featured_teaser_container .gel-form select {
  margin-top: 0px;
  @media #{$gel-mq-desktop} {
    margin-top: 45px;
  }
}
.gel_featured_teaser_container .gel-form label {
  position: relative;
  width: 100%;
  @media #{$gel-mq-desktop} {
    position: absolute;
  }
}
.gel-catalogue {
  .gel-vc-icons {
    top: 65px;
    right: 15px;
  }
  .gel-form label {
    display: block;
  }
}
.gel-form.gel-form--inline label {
  margin-bottom: 15px;
}
