// GLOBAL FOOTER
.gel-global-footer {
  background: $edu-primary-brand-1;
  color: $gel-white;
  .gel-global-footer__links {
    padding: 7px 15px 20px 0;
  }
  .gel-global-footer__logo {
    margin: 7px 0;
  }
  .edu-footerimage-wrapper {
    background: $edu-primary-brand-1;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;

    .edu-footer-bkgimage {
      background-image: url("../images/footer-bottom-mobile.png");
      background-size: cover;
      @media #{$gel-mq-bs-md} {
        background-image: url("../images/footer-bottom.png");
        background-size: cover;
      }
      background-repeat: no-repeat;
      background-position: center bottom;
      position: relative;
      width: 100%;
      height: 18rem;
    }
    /* Retina-specific stuff here */
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
      .edu-footer-bkgimage {
        background: url(../images/footer-bottom-mobile.png) no-repeat center;
        background-size: auto 18rem;

        @media #{$gel-mq-bs-md} {
          background: url(../images/footer-bottom.png) no-repeat center;
          background-size: auto 18rem;
        }
        width: 100%;
        height: 18rem;
      }
    }
  }
}
