// GLOBAL HEADER
.gel-global-header {
  border-bottom: 0;
  background: $edu-primary-brand-4;
  .gel-global-header__header,
  div#google_translate_element.gel_google_translate .goog-te-gadget-simple .goog-te-menu-value span:nth-child(1),
  .global-link-button-txt {
    color: $edu-navy;
    font-weight: $edu-primary-font-weight;
    font-size: $edu-primary-font-size;
    line-height: 19px;
  }
  .gel-global-links-dropdown.show {
    min-width: 270px;
    li ul li .gel-link-list-icon:before {
      line-height: normal;
    }
    li a {
      font-weight: 300;
      font-size: $edu-primary-font-size;
      padding: 0px 20px;
    }
  }
  .gel-global-link-button {
    background-color: $edu-primary-brand-4;
    @media #{$gel-mq-bs-md}
    {
      padding: 0 0 0 5px;
    }
  }
  .gel-link-icon {
    &:before {
      font-size: 1.2rem;
      padding-left: 10px;
      color: $edu-primary-brand-1;
    }
  }
  .gel-visible-small {
    @media #{$gel-mq-bs-md}
    {
      display: inline-block;
    }
  }
  .global-header-links-right {
    @media #{$gel-mq-bs-xl} {
      padding-left: 80px;
    }
  }
  div#google_translate_element.gel_google_translate {
    display: none;
    @media #{$gel-mq-bs-xl} {
      display: inline-block;
    }
  }
}

.gel-global-header-container {
  z-index: auto;
}
