
$side-nav-guided-journey-padding: 4px;
$side-nav-guided-journey-padding-left: 10px;
$side-nav-guided-journey-diameter: 40px;
$side-nav-guided-journey-border-width: 2px;
$side-nav-guided-journey-border-color: #041E42;

$side-nav-guided-journey-background-color: #F2F2F2;

$side-nav-guided-journey-active-background-color: #041E42;
$side-nav-guided-journey-hover-background-color: #041E42;

$side-nav-guided-journey-item-left: ($side-nav-guided-journey-padding-left / 2) + $side-nav-guided-journey-diameter;

$side-nav-guided-journey-number-color: #041E42;
$side-nav-guided-journey-item-color: #666666;
$side-nav-guided-journey-item-active-color: #000A12;
.gel-GJ-container {
  .gel-side-navigation {
    .gel-side-navigation-upper {
      display: none;
    }

    .sn__guided-journey {
      & {
        list-style: none;
        // padding-top: 10px;
        // padding-bottom: 10px;
        margin: 0;
      }

      .sn_parent {
        counter-increment: journey-step-counter;


        padding: $side-nav-guided-journey-padding 0 $side-nav-guided-journey-padding $side-nav-guided-journey-item-left;
        min-height: $side-nav-guided-journey-diameter;
        box-sizing: content-box;

        border: none;

        &:before {
          border-left: $side-nav-guided-journey-border-width solid $side-nav-guided-journey-border-color;
        }
        &:first-child:before { top: 50%; }
        &:last-child:before { bottom: 50%; }

        font-family: "Montserrat Light";
        font-size: 1rem;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .sn_parent a {
        position: relative;
        display: inline-block;
        overflow-wrap: anywhere;

        color: $side-nav-guided-journey-item-color;

        padding: 15px;

        &:hover {
          background: none;
        }


        &:before {
          content: counter(journey-step-counter);
          position: absolute;
          width: $side-nav-guided-journey-diameter;
          height: $side-nav-guided-journey-diameter;
          display: block;

          border-radius: 50%;
          top: 50%;
          margin-top: $side-nav-guided-journey-diameter * -0.5;
          border: $side-nav-guided-journey-border-width solid $side-nav-guided-journey-border-color;
          left: ($side-nav-guided-journey-diameter * -0.5) + ($side-nav-guided-journey-item-left * -1);
          background-color: $side-nav-guided-journey-background-color;
          text-align: center;
          line-height: $side-nav-guided-journey-diameter - (2 * $side-nav-guided-journey-border-width);

          font-family: "Montserrat SemiBold";
          font-size: 1.25rem;
          text-decoration: none;
          color: $side-nav-guided-journey-number-color;
        }

        &.active {
          color: $side-nav-guided-journey-item-active-color;

          &:before {
            background: $side-nav-guided-journey-active-background-color;
            color: #FFF;
          }
        }

        &:hover {
          color: $side-nav-guided-journey-item-active-color;

          &:before {
            background: $side-nav-guided-journey-hover-background-color;
            color: #FFF;
          }
        }
      }
    }
  }
}

.gel-GJ-container {
  padding-bottom: 80px;

  @media #{$gel-mq-md} {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
  }

  .gel-skiplink__link {
    position: absolute;
    left: -9999em;
    margin: 0 0 5px 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    background: transparent;
    font-weight: normal;

    &:focus {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
    }
  }

  .gel-guided-journey__page:focus {
    outline: none;
  }
}

.gel-GJ-index {
  .fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 17px 0 0 15px !important;
    transform: rotate(-90deg) scaleX(-1);

    &:before {
      content: "\f112";
    }
  }
}

.gel_guided-journey__mobile-nav {
  @media screen and (max-width: $gel-md) {

    padding: 15px 0 25px;

    .gel-select-wrap {
      position: relative;

      select { 
        padding-left: 10px;
      }

      &:after {
        right: 10px;
        top: -11px;
        
      }
    }

  }
}

.gel-GJ-main {
  margin-top: 30px;

  @media #{$gel-mq-md} {
    margin-top: 60px;
    padding-bottom: 30px;
  }

  *:first-child[tabindex="0"] {
    outline: none;
  }

  .gel-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media #{$gel-mq-md} {
      display: block;
      margin-top: 60px;
    }

    &__prev {
      padding-left: 38px;

      @media #{$gel-mq-md} {
        padding-left: 45px;
      }

      i { left: 20px; }
    }

    &__next {
      padding-right: 38px;

      @media #{$gel-mq-md} {
        padding-right: 45px;
      }

      i { right: 20px; }
    }

    .button {
      position: relative;
      margin-top: 0;
      text-transform: none;
      width: calc(50% - (45px / 2)) !important;
      font-size: 1.125rem;
      font-weight: $button-font-weight;

      @media #{$gel-mq-md} {
        width: auto !important;
      }
    }

    i {
      position: absolute;
      top: 50%;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .lead {
    margin-bottom: 45px;
    padding-bottom: 0;

    @media #{$gel-mq-md} {
      margin-bottom: 60px;
    }
  }

  h3 {
    margin-top: 1.875rem;

    @media #{$gel-mq-md} {
      margin-top: 2.81rem;
    }
  }

  h4 {
    margin: 1.875rem 0 1.25rem;

    @media #{$gel-mq-md} {
      margin: 2.81rem 0 1.875rem;
    }
  }

  *+p {
    margin-top: 1.25rem;

    @media #{$gel-mq-md} {
      margin-top: 1.875rem;
    }
  }
}

.gel-GJ-title {
  margin: 45px 0 30px;

  .gel-main article & {
    @media #{$gel-mq-md} {
      margin-top: 74px;
    }
  }
}
