.label-tag {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  background-color: $edu-brand-primary-1;
  pointer-events: none;
  text-decoration: none;
  padding: 3px 10px;
}
