//LANDING HEADER
.gel-landing-header {
  padding: 10px 0;
/*  h1 {
    font-size: 24px;
    font-weight: 400;
  }
  .gel-landing-header__lead {
    font-size: 1rem;
    font-weight: 300;
    color: $edu-brand-primary-1;
  }*/
}
