.gel-link-columns-desc {
  border-bottom: none;
  @extend .edu-component-border__alt1;

  @media (max-width: 991px) { 
    margin-left: 0;
    margin-right: 0;
  }

  .gel-link-columns-desc-header {
    padding-top: 0;

    a {
      display: inline;
      padding-right: 0;

      &:before {
        content: "";
        -ms-transform: translateY(0);
        transform: translateY(0);
        display: none;
      }
    }

    &, h2, a {
      color: $edu-primary-brand-1;
    }
  
    /*h2 {
      font-size: 1.5rem;
      font-weight: 300;
    }*/
  }

  .gel-link-columns-desc-main {
    display: flex;

    &, .gel-description, h3 {
      color: $edu-primary-brand-1;
    }
  
/*    .gel-description {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 300;
    }*/
  
/*    h3 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 49px;
    }*/

    @media (min-width: 768px) and (max-width: 991px) {
      .gel-link-columns--3col {
        column-count: 2;
      }
    }
    
    @media (max-width: 991px) { 
      flex-direction: column;
      & > * {
        max-width: 100%; /* TODO: not happy with this fix; as it breaks/overides bootstrap columns default behaviour */
      }

      .gel-description {
        max-width: 460px;
        padding-right: 15px;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      .gel-link-columns--3col {
        column-count: 1;
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .gel-link-columns-desc-alltopics {
    font-weight: 600;

    &, a {
      color: $edu-primary-brand-1;
    }
  }

  .gel-link-columns .gel-link-columns__items li {
      padding-right: 0px;
  }
}
