$link-column__item__divider: 1px solid $color-grey-15;

.gel-link-columns {
  &--standalone {
    @extend .edu-component-border__alt1;
  }
  .gel-link-columns__items li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;

    .gel-link-columns-icon {
      display: inline-block;
      justify-self: flex-end;
      order: 5;
    }

    .gel-link-columns-icon:before {
      content: "";
    }

    .gel-link-columns-icon:after {
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
      color: $color-red;
      content: "\f178";
      font-size: 1.5rem;
      position: relative;
    }

    a {
      flex-grow: 1;
      padding-right: 20px;
    }
  }
}

$link-column__item__divider__width: 1px;
$link-column__item__divider: $link-column__item__divider__width solid $color-grey-15;

.gel-link-columns__items li {
  border-top: $link-column__item__divider;
  border-bottom: $link-column__item__divider;
}

.gel-link-columns .gel-link-columns__items li:not(:first-child) {
  margin-top: -$link-column__item__divider__width;
}

// Footer Link Columns
.gel-section-footer, .gel-global-footer {
  .gel-link-columns {
    .gel-link-columns__items li {
      @media #{$gel-mq-bs-md} {
        max-width: 250px;
      }
      border: none;

      .gel-link-columns-icon:after {
        color: $color-blue-tertiary;
      }
    }
  }
}
