ul > li {
  &::before {
    font-size: 62px;
    transform: translateY(-40px);
  }
  >ul >li {
    &::before {
      font-size: 32px;
      transform: translateY(-12px);
    }
    >ul >li {
      &::before {
        font-size: 30px;
        transform: translateY(-14px);
        content: "\2022";
      }
      >ul >li {
        &::before {
          font-size: 12px;
          transform: translateY(6px);
          content: "\203E";
        }
      }
    }
  }
}
