.gel-livefyre-mosaic {
  margin-left: -25px;
  margin-right: -7.5px;
  @media #{$gel-mq-bs-xl} {
    margin-left: -25px;
    margin-right: -25px;
  }
  .gel-sm-item {
    .gel-sm-wording {
      padding: 56px 15px 80px 15px;
    }
    .gel-sm-item-inter-container {
      box-shadow: 0 1px 8px -1px rgba(0,0,0,0.27);
    }
    .gel-sm-twitter::before {
      color: $edu-brand-primary-1;
    }
    .gel-sm-share {
      text-align: right;
      &::before {
        color: $edu-brand-primary-7;
      }
    }
    @media screen and (max-width: 767px){
      &:nth-child(n+4) {
        display: none;
      }
      .gel-sm-item-inter-container {
        margin: 25px 7.5px 0 25px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px){
      &:nth-child(n+7) {
        display: none;
      }
      &:nth-child(2n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 25px;
        }
      }
      &:nth-child(2n) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 7.5px;
        }
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      &:nth-child(n+7) {
        display: none;
      }
      &:nth-child(3n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 25px;
        }
      }
      &:nth-child(3n+2) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 7.5px;
        }
      }
      &:nth-child(3n) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 7.5px;
        }
      }
    }

    @media screen and (min-width: 1200px){
      &:nth-child(n+9) {
        display: none;
      }
      &:nth-child(4n+1) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 25px;
        }
      }
      &:nth-child(4n+2), &:nth-child(4n+3) {
        .gel-sm-item-inter-container {
          margin: 25px 7.5px 0 7.5px;
        }
      }
      &:nth-child(4n) {
        .gel-sm-item-inter-container {
          margin: 25px 25px 0 7.5px;
        }
      }
    }
  }

}
