// MEGANAV
.gel-meganav {
  background-color: $gel-white;
  color: $edu-primary-brand-1;
  border-top: 2px solid $edu-tertiary-brand-2;
  border-bottom: 2px solid $edu-tertiary-brand-2;
  .gel-meganav__main-menu {
    padding-left: 0;
    .gel-meganav-menulinks {
      padding-right: 0;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      &:after {
        text-decoration: underline;
      }
      &:after {
        text-decoration: none;
      }
    }
  }
  a.nav-link {
    color: $edu-primary-brand-1;
    font-weight: $edu-primary-font-weight;
    &:after {
      text-decoration: underline;
    }
    &:after {
      text-decoration: none;
    }
  }
  .show .nav-link,
  .gel-meganav_dropdown.show,
  .gel-meganav_dropdown__subnav.show {
    background-color: $edu-tertiary-brand-5;
    color: $gel-black;
  }
  .gel-meganav-logo {
    padding-top: 10px;
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      padding-top: 25px;
    }
  }
  .gel-meganav_dropdown {
    &:last-child {
      padding-right: 0;
      a {
        padding-right: 0;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    margin-top: 0;
    @media #{$gel-mq-lg} {
      padding-top: 18px;
    }
    .dropdown-toggle::after {
      border: 0;
      content: '\f078';
      font-family: 'FontAwesomeRegular';
      vertical-align: inherit;
      font-size: 12px;
      color: $edu-primary-brand-1;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  .gel-meganav_dropdown__subnav {
    z-index: 9000;
    .gel-meganav_dropdown__subnav-title .gel-meganav_dropdown__subnav-title-link {
      color: $edu-primary-brand-1;
    }
    .gel-meganav_dropdown__subnav-design {
      border-bottom: 1px solid $edu-primary-brand-2;
    }
    .gel-meganav-mega-link_title {
      font-weight: 300;
    }
    .gel-meganav-mega-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:after {
        color: $edu-primary-brand-2;
        content: "\f178";
        font-size: 1.5rem;
        font-family: 'FontAwesomeRegular';
        margin-left: 10px;
      }
    }
    .gel-meganav-mega-link_title-icon:before {
      display: none;
    }
  }
}

.gel-mobile-nav {
  .gel-mobile-nav_header {
    p, h1 {
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
    }
  }
  .gel-mobile-nav_icon-close {
    background: transparent;
  }
  .mm-panel, .mm-panels {
    background: $gel-white;
  }
  .mm-listitem {
    color: $edu-primary-brand-1;
    border-color: $edu-tertiary-brand-2;
  }
  .mm-listitem__btn:not(.mm-listitem__text) {
    border-left: 0;
  }
  .gel-mobile-nav_list-links .mm-btn_next:after {
    border-color: $edu-primary-brand-1;
  }
  .mm-btn:after, .mm-btn:before {
    border-width: 4px;
  }
  .mm-btn_next:after, .mm-btn_prev:before {
    width: 10px;
    height: 10px;
  }
  li.gel-mobile-nav_list-childless {
    display: flex;
    justify-content: space-between;
    a {
      padding-right: 25px;
      &::after {
        color: $edu-primary-brand-2;
        content: "\f178";
        font-size: 1.5rem;
        font-family: 'FontAwesomeRegular';
        float: right;
        margin-right: 8px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }
  }
}
