//NEW ARTICLE
.gel-article {
  color: $edu-brand-primary-1;
/*  h1 {
    font-weight: 400;
    @media #{$gel-mq-bs-lg} {
      font-weight: 300;
    }
  }*/
  .gel-article__date {
    font-weight: 400;
    padding: 20px 0 20px 0;
    display: block;
  }
  .category_select_mobile {
    margin: 30px 0;
  }
  .lead {
    padding-bottom: 35px;
    border-bottom: 2px solid $edu-brand-primary-7;
  }
  .gel-image-with-caption, .gel-image-with-caption--rounded {
    padding-right: 0;
  }
  .gel-page-metadata {
    margin-top: 1rem;
  }
}
