// NEWS TEASER

.news-index-teaser {
  li {
    margin-top: 0;
    &:first-child {
      .gel-news-teaser {
        border-top: 0;
        padding: 0 0 25px 0;
      }
    }
    &:last-child {
      .gel-news-teaser {
        border-bottom: 2px solid $edu-brand-primary-7;
      }
    }
  }
}
.gel-news-teaser {
  color: $edu-brand-primary-1;
  padding: 25px 0;
  @media #{$gel-mq-lg} {
    li:first-child & {
      margin-top: 0px;
    }
  }
}

.gel-news-teaser__date {
  font-weight: 300;
  color: $edu-brand-primary-1;
}

.gel-news-teaser__content {

  h2 {
    font-size: 1.625rem;
    font-weight: 600;
    padding-bottom: 30px;
  }
}
