// News LIST

.gel-news-list {
  background-color: $edu-brand-primary-12;
  border-top: 2px solid $edu-brand-primary-7;
  padding: 20px 35px 50px 30px;
 

  h6 {
/*    font-size: 1rem;
    font-weight: 600;*/
    padding-bottom: 10px;
    padding-top: 0;
  }
 
  a {
    padding: 10px 0;
    text-decoration: none;
    color: $edu-brand-primary-2;
    font-weight: 400;

    &:hover, 
    &:focus {
      text-decoration: underline;
    }
  }

  .gel-news-list-date {
    color: #666666;
    font-weight: 300;
  }

}
