// SKIP LINK
.gel-notice-ribbon {
  background-color: #f2f2f2;
  .noticeRibbon-tab {
    .gel-notice-ribbon__icon {
      background-image: none;
      &:hover {
        background-image: none;
      }
      &::after {
        content: "\f078";
        font-family: "FontAwesomeRegular";
        color: #041E42;
        bottom: 0px;
        position: absolute;
      }
    }
    &[aria-expanded=true] {
      .gel-notice-ribbon__icon {
        background-image: none;
        &::after {
          content: "\f077";
          font-family: "FontAwesomeRegular";
          color: #041E42;
          bottom: 0px;
          position: absolute;
        }
      }
    }
  }
  .noticeRibbon-tab {
    border-bottom: 0;
  }
  .noticeRibbon-content.show {
    border-top: 0;
  }
}
