// PAGINATION
.gel-pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  .gel-pagination__active {
    a {
      background: transparent;
      color: #000;
      font-weight: 600;
      text-decoration: none;
      position: relative;
      &:hover,
      &:focus {
        background: transparent;
        color: #000;
      }
    }

    a:after {
      content: '';
      position: absolute;
      width: 50%;
      left: 25%;
      bottom: 0px;
      border-bottom: 4px solid $edu-brand-primary-7;
    }
  }
  .gel-pagination__more {
    > a, > span {
      font-weight: 300;
    }
  }
  li {
    > a, > span {
      border: 0;
      font-weight: 300;
      &:hover,
      &:focus {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 50%;
          left: 25%;
          bottom: 0px;
          border-bottom: 2px solid $edu-brand-primary-7;
        }
      }
    }

  }
  .gel-pagination__prev {
    > a, > span {
      border: 0;
    }
    a {
      &:hover,
      &:focus {
        &:after {
          border-bottom: 0;
        }
      }
    }
    span {
      &:before {
        color: $edu-brand-primary-1;
        content: "\f060";
        font-family: "FontAwesomeRegular";
        font-size: 1.25rem;
        padding-right: 10px;
        line-height: 1.25rem;
        font-weight: 600;
      }
      &:hover,
      &:focus {
        &:before {
          color: $edu-secondary-brand-3;
        }
      }
    }
  }
  .gel-pagination__next {
    > a, > span {
      border: 0;
    }
    a {
      &:hover,
      &:focus {
        &:after {
          border-bottom: 0;
        }
      }
    }
    span {
      &:after {
        color: $edu-brand-primary-1;
        content: "\f061";
        font-family: "FontAwesomeRegular";
        font-size: 1.25rem;
        padding-left: 10px;
        line-height: 1.25rem;
        font-weight: 600;
      }
      &:hover,
      &:focus {
        &:after {
          color: $edu-secondary-brand-3;
        }
      }
    }
  }
  .gel-pagination__disabled {
    > a,
    > span {
      border: 0;
      color: $edu-grey;
    }
  }
  .gel-pagination__prev.gel-pagination__disabled {
    span {
      &:before {
        color: $edu-grey;
      }
    }
  }
  .gel-pagination__next.gel-pagination__disabled {
    span {
      &:after {
        color: $edu-grey;
      }
    }
  }
}
