.gel-form-validate {
  max-width: 600px;
  .gel-form-group {
    font-weight: 700;
    margin: 10px 0;
    padding-bottom: 10px;
    display: block;

    label {
      margin-bottom: 0;
    }

    .form-control {
      margin: 5px 0;
      background: #FAFAFA;
      border-color: #666;
      color: $gel-black;
    }

    max-width: 98%;

    //Salesforce form --start
    abbr.sq-form-required-field {
      text-decoration: none;
      border-bottom: none;
    }

    .gel-form-validate .gel-form-group textarea,
    .gel-form-validate .gel-form-group input[type],
    .gel-form-validate .gel-form-group select {
      font-size: 1rem;
      // font-family:montserrat;
    }

    // select {
    //   border: 1px solid #cccccc !important;
    //   outline: none;
    //   background: #f8f8f8;
    //   height: 40px;
    // }

    .gel-form-validate .gel-form-group ul li {
      padding-left: 30px;
      font-weight: normal;
    }

    .gel-form-validate .gel-form-group ul li:before {
      content: "\25CF";
    }
    //Salesforce form --end
  }

  .error {
    display: block;
    color: #a20000;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 10px 10px 10px 0;
  }
  margin-bottom: 30px;
}
