$gel-search-background: #FAFAFA;
$gel-search-background-focus: #FFF;
$gel-search-background-alt: #FFF;
$gel-search-focus-ring-color: #F3B8B5;
$gel-search-primary-color: #CE0037;
$gel-search-border-color: #666666;


.gel-searchbox {
  .form-control {
    background: $gel-search-background;
  }

  .gel-button {
    background: $gel-search-primary-color;
    color: $gel-search-background;

    &:hover {
      background: $gel-search-background-focus;
      color: $gel-search-primary-color;
      box-shadow: inset 1px 0 0 $gel-search-primary-color;
    }
  }

  &:hover { /* hover animations for all children */
    .form-control {
      box-shadow: 0 0 0 1px $gel-search-primary-color;
      background: $gel-search-background-focus;
    }
  }

  &:focus-within {
    .form-control {
      box-shadow: 0 0 0 3px $gel-search-focus-ring-color;
      background: $gel-search-background-focus;
    }
  }

  .gel-button:focus {
    color: $gel-search-primary-color;
    background: $gel-search-background-focus;
    box-shadow: inset 1px 0 0 $gel-search-primary-color;
  }
}

.gel-border {
  .form-control {
    background: $gel-search-background-alt;
    box-shadow: inset 0px 0px 0px 1px $gel-search-border-color;
  }

  &:hover {
    .form-control {
      box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color, 0 0 0 1px $gel-search-primary-color;
    }
  }

  .gel-button:hover {
    box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color, inset 2px 0px 0px 0px $gel-search-primary-color;
  }

  &:focus-within {
    .form-control {
      box-shadow: 0 0 0 3px $gel-search-focus-ring-color, inset 0px 0px 0px 1px $gel-search-border-color;
    }

    .gel-button:hover {
      box-shadow: inset 0px 0px 0px 1px $gel-search-primary-color;
    }
  }

  .gel-button:focus {
    color: $gel-search-primary-color;
    background: $gel-search-background-alt;
    box-shadow: inset 0 0 0 1px $gel-search-primary-color;
  }
}
