.gel-main {
  .secretary-content-container {
    padding-left: 0;
    padding-right: 0;
    .gel-content-container {
      padding: 0;
    }
  }
}

.edu-secretarys-update {
  margin-bottom: 40px;
  box-shadow: 0 2px 13px -2px rgba(0,0,0,0.27);
  &.edu-block {
    background: #f2f2f2;
  }
  .gel-container {
    border-top: 2px solid $edu-primary-brand-2;
    padding: 25px 30px;
    background-color: #ffffff;
  }
/*  h2.edu-block__header {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
  }*/
  li {
    padding-left: 0;
    &:before {
      content: none;
    }
  }
  .social-icons {
    font-size: 20px;
    font-style: normal;
    color: $edu-navy;
    display: inline-block;
    width: 1.4em;
  }

  .gel-social-icons-panel_links {
    @media screen and (max-width: 767px) {
      text-align: left;
    }
    .gel-social-icons-panel_links-list {
      .gel-social-icons-panel_links-list-icon {

        background-color: #ffffff;
        color: #ce0037;
        border: 1px solid #ce0037;
        height: 50px;
        width: 50px;
        margin-right: 12px;
        position: relative;

        margin-bottom: 0;

        &:hover {
          background-color: #ce0037;
          color: #ffffff !important;
          border: 1px solid #ce0037;
          .gel-social-icons-panel_links-list-twitter,
          .gel-social-icons-panel_links-list-facebook {
            color: #ffffff;
          }
          -moz-transform: translateY(-4px);
          -ms-transform: translateY(-4px);
          -o-transform: translateY(-4px);
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
          transition: all .2s ease-in-out;
        }

        .gel-social-icons-panel_links-list-twitter:before,
        .gel-social-icons-panel_links-list-facebook:before {
          font-family: 'FontAwesomeBrands';
        }
        .gel-social-icons-panel_links-list-twitter:before {
          content: "\f099";
          left: 10px;
          top: 2px;
        }
        .gel-social-icons-panel_links-list-facebook:before {
          content: "\f39e";
          left: 14px;
          top: 0px;
          font-size: 1.875rem;
        }
      }
    }
  }
}

.gel-external-link:before {
  color: $edu-navy;
}
