
// SECTION HEADER
.gel-section-header + .gel-search {
  input[type="text"] {
    border-radius: 5px;
    border-color: $gel-white;
    background: $edu-tertiary-brand-6;
    color: $gel-black;
    &::placeholder {
      color: $edu-primary-brand-1;
    }
    &:hover {
      background: $gel-white;
      border-color: $edu-primary-brand-2;
    }
    &:focus {
      border: 1px solid $edu-primary-brand-2;
      background: $edu-tertiary-brand-4;
      color: $edu-primary-brand-1;
      outline: none;
    }
  }

  button[type="submit"] {
    border-radius: 1px 5px 5px 1px;
    border: 0px;
    border-color: $edu-primary-brand-2;
    background: $edu-brand-primary-7;
    color: $gel-white;
    .gel-search-icon {
      color: $gel-white;
    }
    &:hover {
      border: 1px solid $edu-primary-brand-2;
      background: $gel-white;
      .gel-search-icon {
        color: $edu-primary-brand-2;
      }
    }
    &:focus {
      color: $edu-primary-brand-2;
      border-color: $gel-white;
      background: $gel-white;
      border-left: none;
      .gel-search-icon {
        color: $gel-white;
      }
    }
  }
  @media #{$gel-mq-bs-lg} {

    input[type="text"] {
      color: $edu-primary-brand-1;
      border-color: $gel-white;
      background: $edu-tertiary-brand-6;
      &::placeholder {
        color: $edu-primary-brand-1;
      }
      &:focus {
        border-color: $gel-white;
        background: $edu-tertiary-brand-4;
      }
    }

    button[type="submit"] {

      border-color: $edu-primary-brand-2;
      background: $edu-primary-brand-2;
      color: $gel-white;
      .gel-search-icon {
        color: $gel-white;
      }

      &:focus,
      &:hover {
        color: $edu-primary-brand-2;
        border: 1px solid $edu-primary-brand-2;
        background: $gel-white;
        .gel-search-icon {
          color: $edu-primary-brand-2;
        }
      }
    }
  }
  fieldset {
    top: -84px;
    height: auto;
  }
}
.gel-section-header {
  .gel-section-header__logo {
    border-left: 2px solid $edu-brand-primary-7;
    padding-left: 20px;
    margin-bottom: 3px;
    a {
      font-weight: 300;
      line-height: 30px;
    }
  }
  .gel-mobile-search-indicator {
    margin-top: 6px;
  }
  .gel-mobile-nav-indicator {
    margin-top: -1px;
  }
  .gel-header-container {
    min-height: 40px;
  }
}

.home .sectionheader {
  @media #{$gel-mq-bs-md} {
    display: none;
  }
}
.home .gel-search {
  @media #{$gel-mq-bs-md} {
    display: none;
  }
}
.home .edu-banner-search-form .gel-search {
  @media #{$gel-mq-bs-md} {
    display: block;
  }
}
