
// SECTION FOOTER
.gel-section-footer {
  border-top: 5px solid $edu-primary-brand-2;
  background: $edu-primary-brand-1;
  margin-top: 40px;
  .gel-section-footer__variation-1 {
    padding-top: 20px;
    @media #{$gel-mq-bs-lg} {
      padding-top: 5px;
    }
    color: $gel-white;
    background: $edu-brand-primary-1;
    .row {
      @media #{$gel-mq-bs-lg} {
        padding-bottom: 15px;
      }
      padding-bottom: 5px;
      border-bottom: 1px solid $gel-white;
      h3 {
        font-weight: 400;
        @media #{$gel-mq-bs-lg} {
          border-top: 1px solid $gel-white;
          margin-top: 20px;
          padding-top:35px;
        }
        padding-top:5px;
        padding-bottom:20px;
        margin-bottom: 5px;
        color: $gel-white;
      }
      .gel-social-icons-panel_links {
        @media screen and (max-width: 767px) {
          text-align: left;
        }
      }
      .gel-social-icons-panel_links-list-icon {
        height: 50px;
        width: 50px;
        margin-right: 12px;
        background-color: $gel-white;
        color: $edu-primary-brand-1;
        &:hover {
          color: $edu-primary-brand-2;
          border: 1px solid $edu-primary-brand-2;
        }
        span:hover {
          color: $edu-primary-brand-2;
        }
        .gel-social-icons-panel_links-list-facebook {
          &::before {
            font-size: 2rem;
            @media screen and (max-width: 991px) {
              left: 14px;
              top: 0;
            }
            @media screen and (max-width: 767px) {
              left: 13px;
              top: 0;
            }
          }
        }
        .gel-social-icons-panel_links-list-linkedin, .gel-social-icons-panel_links-list-twitter, .gel-social-icons-panel_links-list-instagram {
          &::before {
            font-size: 2rem;
            left: 10px;
            top: 0px;
          }
        }

      }
    }
  }
  .section-footer-panel-header {
    border-top: 1px solid #ffffff;
    .gel-social-icons-panel {
        h3 {
          border-top: 0;
          padding-top: 0;
          padding-bottom: 0;
          @media #{$gel-mq-bs-lg} {
            border-top: 1px solid $gel-white;
            margin-top: 20px;
            padding-top:35px;
            padding-bottom:20px;
          }
        }
    }
    .gel-acknowledgement {
      padding-top: 35px;
    }
  }
  @media #{$gel-mq-bs-lg} {
    .section-footer-panel-header.row {
      border-top: 0;
      border-bottom: 0;
    }
    .gel-acknowledgement {
      padding-top: 10px;
    }
  }


}
