$form-control-border: $color-grey-60;
$form-control-hover-border: $color-navy;
$form-control-focus-border: $color-navy;
$form-control-background: $color-grey-2;

.gel-select {
  select {
    border: 1px solid $form-control-border;
    background-color: $form-control-background;
    padding: 11px 9px;
    height: 46px;

    &:hover, &:focus {
      border-color: $form-control-hover-border;
      outline: none;
      box-shadow: 0 0 0 1px #041e42;
      -webkit-box-shadow: 0 0 0 1px #041e42;
    }

    // &:focus {
    //   border-color: $form-control-focus-border;
    //   box-shadow: 0 0 0 1px #041e42, 0 0 0 4px #6cace4;
    //   -webkit-box-shadow: 0 0 0 1px #041e42, 0 0 0 4px #6cace4;
    // }
  }

  &:after {
    color: $color-navy;
    background-color: $form-control-background;
  }
}
