.gel-share-this {
  padding: 10px;
  overflow: hidden;
  border: 0;
  margin: 1rem 0;

  a,
  a:hover {
    text-decoration: none;

    .gel-external-link {
      @extend .show-on-sr;
    }
  }
  @media #{$gel-mq-md} {
    padding: 15px;
  }

  .gel-share-this__title {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 35px;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .gel-share-this__toolbox {
    height: auto;
    float: none;
  }

//!important are used here to override addThis inline styles
  &.edu-share-this {
    .at-resp-share-element .at-share-btn {
      background-color: $gel-white !important;
      border: 1px solid $edu-primary-brand-2 !important;
      height: 50px;
      width: 50px;
      position: relative;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      svg.at-icon {
        fill: $edu-primary-brand-2 !important;
        position: absolute;
        left: 2px;
        top: 0px;
        width: 45px !important;
        height: 45px !important;
        &.at-icon-email {
          display: none;
        }
      }
      &:hover {
        background-color: $edu-primary-brand-2 !important;
        color: $gel-white !important;
        svg.at-icon {
          fill: $gel-white !important;
        }
      }
    }
    .at-svc-email {
      position: relative;
      color: $edu-primary-brand-2 !important;
      span.at-icon-wrapper:before {
        font-family: FontAwesomeRegular;
        content: "\f0e0";
        position: absolute;
        font-size: 1.875rem;
        left: 9px;
        top: 7px;
      }
    }
  }
}
