// SHOW HIDE

.gel-show-hide:not(.gel-show-hide--alt1) {
  .card-body {
    background-color: #fff;
    border: 1px solid #B3B3B3;
    border-top: 0;
  }

  .gel-show-hide_title {
    margin: 0;
    background-color: $edu-brand-primary-3;
    button {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        &::after {
          text-decoration: underline;
        }
        &::after {
          text-decoration: none;
        }
      }
    }


    button.gel-show-hide_link {
      padding: 10px 15px;
      line-height: 25px;
      border: 1px solid #B3B3B3;
      position: relative;
      margin-bottom: 0px;
      color: $edu-brand-primary-1;
      i {
        display: none;
      }
      &::after {
        content: "\f107";
        display: inline-block;
        position: absolute;
        font-family: FontAwesomeRegular;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
        font-size: 2rem;
        text-decoration: underline;
      }
      &::after {
        text-decoration: none;
      }

      &[aria-expanded=true] {
        background-color:  #fff;
        border-bottom: 2px solid $edu-brand-primary-7;
        color: $edu-navy;
        text-decoration: underline;
        &::after {
          -webkit-transform: translateY(-40%) rotate(180deg);
          -ms-transform: translateY(-40%) rotate(180deg);
          transform: translateY(-40%) rotate(180deg);
        }
      }
      &[aria-expanded=true] {
        text-decoration: none;
      }
      &:hover {
        background-color: $edu-brand-primary-3;;
        border-bottom: 2px solid $edu-brand-primary-7;
        color: $edu-brand-primary-1;
      }
      &:focus {
        outline: 1px solid black;
        outline-offset: 2px;
      }
    }
  }
}
