// SIDE NAV

.gel-lhs {
  .spacer {
    display: none;
  }
  #sideNavigation {
    display: none;
  }
}
.gel-side-navigation {
  ul {
    margin-top: 0;
  }
  li {
    padding: 0px;
    border-bottom: 1px solid $side-nav-border;
    a {
      width: 100%;
      display: block;
      line-height: 1.55em;
      padding: 16px 30px 13px 20px;
      &:hover {
        background-color: $edu-brand-primary-3;
      }
    }
  }
  > ul {
    > li {
      &.sn_parent {
        position: relative;
        li {
          padding: 0px;
          padding-left: 15px;
          border-bottom: 1px solid $side-nav-border;
        }
        &.gel-side-navigation-upper {
          background-color: #fff;
          border-bottom: 2px solid $edu-brand-primary-7;
          > a {
            cursor: auto;
            font-weight: 600;
            padding: 16px 15px 13px 0;
            .gel-icon-chevron-left {
              &::before {
                margin: 0;
                content: '';
              }
            }
            &:hover {
              background-color: inherit;
              text-decoration: none;
            }
          }
        }
      }
      a, a:visited {
        padding: 16px 30px 13px 20px;
      }
    }
    .sn_parent {
      > a,
      > a:visited {
        border-right: none;
        padding:16px 30px 13px 20px;
      }
    }
    .active.sn_parent {
      > a,
      > a:visited {
        border-right: none;
        padding:16px 30px 13px 20px;
        &:focus {
          border-color: $edu-brand-primary-7;
        }
      }
      .current-active {
        border-left: 4px solid $edu-brand-primary-7;
        background-color: $edu-brand-primary-3;
        font-weight: 800;
      }
    }
  }
  .li-parent {
    > a {
      position: relative;
      border-bottom: 1px solid $side-nav-border;
      &::after {
        content: "\f107";
        display: block;
        position: absolute;
        font-family: FontAwesomeRegular;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
        font-size: 1.5rem;
        color: $edu-brand-primary-7;
      }
    }
  }
  .li-parent.active {
    > a {
      &::after {
        -webkit-transform: translateY(-40%) rotate(180deg);
        -ms-transform: translateY(-40%) rotate(180deg);
        transform: translateY(-40%) rotate(180deg);
      }
    }
  }

  ul >li >ul >li, ul >li >ul >li >ul >li, ul >li >ul >li >ul >li >ul >li{
    padding-left: 10px;
  }
}
