// SKIP LINK
.gel-skiplink {
  .gel-skiplink__link {
    font-weight: 300;
    color: $edu-navy;
    &::after {
      color: $edu-brand-primary-7;
      content: "\f178";
      font-family: "FontAwesomeRegular";
      padding-left: 10px;
    }
  }
}
