// social media list
.gel-social-icons-panel_links {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  .gel-social-icons-panel_links-list {
    .gel-social-icons-panel_links-list-icon {
      height: 50px;
      width: 50px;
      margin-right: 3px;
      position: relative;
      background-color: $edu-primary-brand-1;
      color: #FFFFFF;
      &:hover {
        background-color: #FFFFFF;
        color: $edu-primary-brand-1;
      }
      @media screen and (max-width: 991px) {
        height: 42px;
        width: 42px;
        margin-right: 6px;
        // margin-left: 6px;
      }
    }

    &-facebook {
      &:before {
        content: "\f39e";
        position: absolute;
        font-size: 2rem;
        left: 13px;
        top: 0px;
        @media screen and (max-width: 991px) {
          left: 10px;
          font-size: 1.825rem;
        }
        @media screen and (max-width: 767px) {
          left: 10px;
          top: -1px;
        }
      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }

    &-instagram {
      &:before {
        position: absolute;
        font-size: 2rem;
        left: 10px;
        top: 0px;
        @media screen and (max-width: 991px) {
          left: 7px;
          top: -1px;
          font-size: 1.825rem;
        }

      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }

    &-twitter {
      &:before {
        position: absolute;
        font-size: 2rem;
        left: 9px;
        top: 0px;
        @media screen and (max-width: 991px) {
          left: 6px;
          font-size: 1.825rem;
        }
      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }

    &-linkedin {
      &:before {
        position: absolute;
        font-size: 2rem;
        left: 10px;
        top: 0px;
        @media screen and (max-width: 991px) {
          left: 8px;
          font-size: 1.825rem;
        }
      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }

    &-youtube {
      &:before {
        position: absolute;
        font-size: 2rem;
        left: 6px;
        top: 0px;
        @media screen and (max-width: 991px) {
          left: 4px;
          top: -1px;
          font-size: 1.825rem;
        }
      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }

    &-yammer {
      &:before {
        position: absolute;
        font-size: 2rem;
        left: 10px;
        top: 1px;
        @media screen and (max-width: 991px) {
          left: 8px;
          top: -1px;
          font-size: 1.825rem;
        }
      }

      &:hover {
        color: $edu-primary-brand-1;
      }
    }
  }
}
