// TABS
// TABS
.gel-tabs {
  .gel-tabs__panel-group .gel-external-link {
    display: inline;
    &:before {
      content: "\f35d";
    }
  }
  .gel-tabs__panel-group .gel-remove-external-link .gel-external-link {
    display: none;
  }
  .gel-tabs__group {
    [role="tab"] {
      background-color: $edu-brand-primary-11;
      color: $edu-brand-primary-1;
      border-bottom: 2px solid transparent;
      border-top: 1px solid transparent;
      padding: 10px 30px 10px 15px;
      font-weight: 600;
     /* @media #{$gel-mq-md} {
        font-weight: 700;
      }*/

      &:after {
        font-size: 1.25rem;
        content: "\f107";
        display: block;
        position: absolute;
        font-family: FontAwesomeRegular;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
      }
      &:hover {
        background-color: $edu-brand-primary-12;
        cursor: pointer;
        text-decoration: none;
      }
      &:focus {
        background-color: $edu-brand-primary-12;
        cursor: pointer;
        text-decoration: none;
        outline: 0;
      }
    }
    [role="tab"][aria-expanded=true],[role="tab"][aria-selected=true] {
      background-color: $tab-active-color;
      color: $edu-brand-primary-1;
      border-top: none;
      border-bottom: 2px solid $edu-brand-primary-7;
    }
  }
  .gel-tabs__panel-group {
    border: 1px solid $edu-brand-primary-1;
    border-top: 0;
    [role="tabpanel"] {
      border: none;
      border-bottom: none;
    }
  }
}
