//TABLE

table {
  thead {
    th {
      border-bottom: 2px solid $edu-brand-primary-7;
      background: transparent;
    }
  }
  td{
    font-weight: 300;
    padding: 3px 10px;
  }
}

table.more-than-five-rows {
  tbody {
    tr {
      td {
        border-bottom: 0;
      }
    }
    tr:nth-child(even) {
      background-color: $edu-brand-primary-3;
    }
  }
}
