//table of contents

.gel-toc {
  margin: 0 0 20px 0;
  &.top-border:before {
    content: '';
    display: block;
    width: 100%;
    margin: 5px auto 20px;
    height: 3px;
    background-color: #f7f8f9;
  }
  >li {
    padding: 10px 0;
  }
  @media #{$gel-mq-bs-sm} {
    display: inline-block;
    min-width: 100%;
  }
}

.gel-toc_item {
  margin: 0 30px;
  border-bottom: 1px solid #D9D9D9;
  width: calc(100% - 60px);
  .gel-toc-list-icon {

    &:before {
      font-family: 'FontAwesomeRegular';
      display: inline-block;
      color: $edu-brand-primary-7;
      content: "\f178";
      float: right;

      @media #{$gel-mq-lg} {
        font-size: 1.25rem;
      }
    }
  }

  a,
  a:visited {
    color: $edu-primary-brand-1;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    white-space: nowrap;

    &:hover,
    &:focus {
     outline: 0;
     text-decoration: none;
     outline-offset: 1px;
    }

    i {
      position: absolute;
      left: -40px;
      top: 5px;
      color: $gel-decoration;
    }
  }
  @media #{$gel-mq-bs-sm} {
    &:nth-child(-n+2) {
      border-top: 1px solid #D9D9D9;
    }
    width: calc(50% - 60px);
    float: left;
  }

  @media #{$gel-mq-md} {
    width: calc(33.33% - 60px);
    float: left;
    &:nth-child(-n+3) {
      border-top: 1px solid #D9D9D9;
    }
  }
}

#tableOfContents_auto {
  @extend .edu-component-border__alt1;
}
