//TAG

.gel-tags {
  .badge-default {
    border: 1px solid $edu-primary-brand-1;
    line-height: 20px;
    padding: 10px;
    color: $edu-tertiary-brand-1;
    background-color: transparent;
    font-weight: 300;
    border-radius: 4px;
    &:hover {
      background-color: $edu-tertiary-brand-5;
      color: #000000;
    }
  }
  .gel-tags__title {
    color: $edu-primary-brand-1;
    font-weight: 600;
  }
  .gel-tags__list {
    display: block;
  }
}
