$fonts: (
  "montserrat-light": 400,
  // used as regular
  "montserrat-regular": 600,
  // used as bold
  "montserrat-bold": 800 // used as black
) !default;

$font-name: montserrat !default;
$font-path: "../fonts/" !default;

@each $font-file-name, $weight in $fonts {
  @font-face {
    font-family: $font-name;
    src: url("#{$font-path}#{$font-file-name}.eot");
    src: url("#{$font-path}#{$font-file-name}.eot?#iefix") format("embedded-opentype"),
      url("#{$font-path}#{$font-file-name}.woff") format("woff"),
      url("#{$font-path}#{$font-file-name}.ttf") format("truetype"),
      url("#{$font-path}#{$font-file-name}.svg") format("svg");
    font-weight: $weight;
    font-style: normal;
  }
}

* {
  font-family: $font-name, Arial, sans-serif;
}

@font-face {
  font-family: "FontAwesomeBrands";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}webfonts/fa-brands-400.eot");
  src: url("#{$font-path}webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}webfonts/fa-brands-400.woff2") format("woff2"),
    url("#{$font-path}webfonts/fa-brands-400.woff") format("woff"),
    url("#{$font-path}webfonts/fa-brands-400.ttf") format("truetype"),
    url("#{$font-path}webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "FontAwesomeRegular";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}webfonts/fa-regular-400.eot");
  src: url("#{$font-path}webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}webfonts/fa-regular-400.woff2") format("woff2"),
    url("#{$font-path}webfonts/fa-regular-400.woff") format("woff"),
    url("#{$font-path}webfonts/fa-regular-400.ttf") format("truetype"),
    url("#{$font-path}webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "FontAwesomeSolid";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}webfonts/fa-solid-900.eot");
  src: url("#{$font-path}webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}webfonts/fa-solid-900.woff2") format("woff2"),
    url("#{$font-path}webfonts/fa-solid-900.woff") format("woff"),
    url("#{$font-path}webfonts/fa-solid-900.ttf") format("truetype"),
    url("#{$font-path}webfonts/fa-solid-900.svg#fontawesome") format("svg");
}


$font-awesome-name: "Font Awesome 5 Pro";
$font-awesome-fonts: (
  "fa-light-300": 300,
  "fa-regular-400": 400,
  "fa-solid-900": 900,
  "fa-brands-400": normal,
) !default;
$font-awesome-path: "../fonts/webfonts/";

@each $font-file-name, $weight in $font-awesome-fonts {
  @font-face {
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: $weight;
    font-display: auto;
    src: url("#{$font-awesome-path}#{$font-file-name}.eot");
    src: url("#{$font-awesome-path}#{$font-file-name}.eot?#iefix") format("embedded-opentype"),
      url("#{$font-awesome-path}#{$font-file-name}.woff2") format("woff2"), url("#{$font-awesome-path}#{$font-file-name}.woff") format("woff"),
      url("#{$font-awesome-path}#{$font-file-name}.ttf") format("truetype"),
      url("#{$font-awesome-path}#{$font-file-name}.svg#fontawesome") format("svg");
  }
}

.fal, .far, .fa, .fas, .fab {
  font-family: "Font Awesome 5 Pro";
}

.fal {
  font-weight: 300;
}

.far {
  font-weight: 400;
}

.fa, .fas {
  font-weight: 900;
}