// FONTS

.education,
//override boostrap default styles
h1, h2, h3, h4, h5, h6 {
 // font-family: $edu-primary-font-family;
  //font-weight: $edu-primary-font-weight;
  color: $edu-brand-primary-1;
}

a {
  color: $edu-navy;

  // p &,
  // .link &, .gel-link &,
  // .gel-download-box &,
  // .gel-call-out-box &,
  // .gel-anchor-box &,
  // .gel-expanded-nav .gel-expanded-nav__item h3 &,
  // .gel-block &,
  .gel-maintenance-ribbon .gel-maintenance-ribbon__message &,
  .gel-notice-ribbon__additional & {
    color: $edu-navy;
  }
}

.gel-notice-ribbon__title {
  color: $edu-navy;
}

#typography_auto {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}
/*.header-bold {
  font-weight: 600;
}*/
strong {
  font-weight: 600;
}
/*h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 28px;
  line-height: 32px;
}
h3 {
  font-size: 26px;
  line-height: 32px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
}
h5 {
  font-size: 20px;
  line-height: 26px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
}

@media #{$gel-mq-bs-md} {
  h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;

  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
.gel-link-list a {
  font-weight: $edu-primary-font-weight;
}*/

//FOCUS STATE
.gel-skiplink a.gel-skiplink__link,
.gel-global-header *,
.gel-meganav .gel-meganav-logo__link,
.gel-meganav .gel-meganav_dropdown__subnav .gel-meganav_dropdown__subnav-title .gel-meganav_dropdown__subnav-title-link,
.gel-meganav .gel-meganav-mega-link a,
.gel-meganav .nav-link,
.gel-breadcrumbs *,
.gel-breadcrumbs .gel-breadcrumbs__item a.gel-breadcrumbs__item-link,
.gel-breadcrumbs .gel-breadcrumbs__item span.gel-breadcrumbs__item-active {
  &:focus {
    outline: 3px solid $gel-black;
  }
}

.gel-mobile-nav *,
.gel-section-header *,
.gel-breadcrumbs .gel-breadcrumbs__dropdown a.gel-breadcrumbs__item-link,
.gel-section-footer *,
.gel-global-footer *
 {
  &:focus {
    outline: 3px solid $gel-white;
  }
}

.gel-meganav .gel-meganav-mega-link a  {
  margin: 3px;
  &:focus {
    outline-offset: -1px;
  }
}

.gel-breadcrumbs__dropdown * {
  &:focus {
    outline-offset: -2px;
  }
}

// Anchor and button states not within certain DIVs
a, button {

  &:active,
  &:hover {
    outline: 0 !important;
  }
}
.edu-maintenance-ribbon {
  background-color: $edu-brand-primary-8;
}
.edu-notice-ribbon {
  background-color: $edu-brand-primary-4;
}
.edu-highlight-features-viewall {
  margin: 0 0 45px 0;
  display: inline-block;
  width: 100%;
  text-align: right;
  .gel-button.gel-button-secondary {
    padding: 11.5px 29px 12.5px 29px;
  }
}

.edu-tools-panel {
  background-color: $edu-brand-primary-3;
  padding: 45px 0 55px 0;
  .row {
    padding-left: -15px;
    padding-right: -15px;
  }
  .container > h3 {
    border-bottom: 2px solid $edu-brand-primary-1;
    font-weight: 600;
    margin-bottom: 30px;
  }
  @media #{$gel-mq-bs-md} {
    .card {
      margin-bottom: 0;
    }
  }
  .edu-home-quicklinks {
    display: block;
    .gel-link-columns {
      margin-bottom: 170px;
    }
  }
}

.edu-social-panel {
  margin-top: 60px;
  margin-bottom: 75px;
  .container > h3 {
    border-bottom: 2px solid $edu-brand-primary-1;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

/* alt background styles */
.background__alt1 {
  background: #f2f2f2 !important;
}
.background__alt2 {
  background: #041e42 !important;
}

.background__alt1, .background__alt2 {
  max-width: none;
  padding: 50px calc((100vw - 100%)/2) !important;
  width: 100vw !important;
  margin-left: calc((-100vw + 100%)/2);
}

.edu-component-border__alt1 {
  border-top: 3px solid $edu-primary-brand-2;
  background: $edu-primary-brand-4;
  padding: 25px 30px 0 30px;
  margin-bottom: 20px;
}

.gel-main {
  z-index: auto;
}
