.policy a.gel-breadcrumbs__link {
  color: rgb(5,63,81);
}

.policy li.gel-breadcrumbs__item {

  &:before, &.gel-breadcrumbs__dropdown:after {
    color: rgb(5,63,81);
  }

  &.gel-breadcrumbs__dropdown {
    &:hover:after, &.active-hovered:after, &.active-focused:after {
      color: $gel-white;
    }
  }

  &.gel-breadcrumbs__truncate {

    & a, & span {
      color: rgb(5,63,81);
    }
  }
}

.policy .gel-main {
  overflow: hidden;

  padding-bottom: 60px;
  margin-top: -15px;

  @media #{$gel-mq-lg} {
    margin-top: 0;
    padding-bottom: 50px;
  }
}

.policy-main-content {
  position: relative;
  padding: 10px 25px;
  background: $gel-white;

  @media #{$gel-mq-md} {
    padding: 2px 25px 10px 25px;
  }

  @media #{$gel-mq-lg} {
    padding: 2px 40px;
  }

  h1 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(5,63,81);
    line-height: 1.38;
    margin-bottom: -5px;
    margin-top: 20px;

    @media #{$gel-mq-md} {
      line-height: 1.23;
      margin-bottom: 17px;
      font-size: 1.375rem;
    }

    @media #{$gel-mq-lg} {
      margin-bottom: 27px;
      font-size: 1.75rem;
    }
  }

  //Radio button active state

  select:focus, select:active {
    outline: 1px solid rgb(5,63,81) !important;
    box-shadow: 0px 0px 3px 1px rgb(5,63,81);
    animation: inputFocus 1s infinite;
  }

  @keyframes inputFocus {
    0% {
      box-shadow: 0px 0px 2px 0px rgb(5,63,81);
    }
    50% {
      box-shadow: 0px 0px 6px 0px rgb(5,63,81);
    }
    100% {
      box-shadow: 0px 0px 2px 0px rgb(5,63,81);
    }
  }
}

.lead {
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  padding-bottom: 10px;

  @media #{$gel-mq-md} {
    margin-bottom: 27px;
    font-size: 0.9375rem;
  }

  @media #{$gel-mq-lg} {
    font-size: 1.25rem;
  }
}

.policy-list-items {
  font-size: 0.875rem;

  @media #{$gel-mq-md} {
    font-size: 0.875rem;
  }

  @media #{$gel-mq-lg} {
    font-size: 1rem;
  }

  ol {
    counter-reset: section;
  }

  & > ol > li, & > div > ol > li {
    margin-bottom: 20px;
    padding-left: 25px;

    font-weight: bold;
    margin-left: 0;

    @media #{$gel-mq-lg} {
      margin-bottom: 25px;
      padding-left: 30px;
    }
  }

  & > div > ol > li {

    &:before {

      font-size: 1rem;
      font-weight: 700;

      @media #{$gel-mq-md} {
        font-size: 1.125rem;
        line-height: 1.33;

      }

      @media #{$gel-mq-lg} {
        font-size: 1.375rem;

      }

    }

    & h2 {
      font-size: 1rem;
      font-weight: 700;
      margin-left: -5px;
      margin-bottom: 0;

      @media #{$gel-mq-md} {
        margin-left: 0;
        margin-bottom: 14px;
        font-size: 1.125rem;

      }

      @media #{$gel-mq-lg} {
        font-size: 1.375rem;

      }

    }
  }

  ol li {
    display: block;
    position: relative;
    padding-left: 40px;

    a {
      font-weight: normal;
    }

    &:before {
      counter-increment: section;
      content: counters(section, ".")".";
      position: absolute;
    }


    & ol li {
      font-weight: normal;
      margin-left: -15px;
      padding-left: 35px;

      @media #{$gel-mq-md} {
        margin-left: 0;
        padding-left: 40px;
      }

      @media #{$gel-mq-lg} {
        padding-left: 50px;
      }

      &:before {
      content: counters(section, ".")" ";
      }

      & ol li {
        padding-left: 65px; /* space between number and text */
        margin-left: -30px;

        @media #{$gel-mq-lg} {
          padding-left: 65px;
        }

        & ol li {
          padding-left: 80px; /* space between number and text */
          margin-left: -45px;

          @media #{$gel-mq-lg} {
            padding-left: 100px;
          }
        }
      }
    }
  }

  ul li {
    padding-left: 20px!important;
    margin-left: 0!important;
    font-weight: normal;

    &:before {
      counter-increment: none;
      font-family: 'FontAwesomeRegular';
      content: "\25CF"!important;
    }
  }
}

.policy-rhs {
  position: relative;
  padding: 0 25px;
  background: $gel-white;
  margin-top: 0;

  @media #{$gel-mq-md} {
    padding: 10px 25px 20px 0;
  }
}

.policy-nav {
  margin-top: 0;
  padding-top: 25px;
}

.policy-nav-topline {
  width: 15%;
  border: solid 2px $edu-brand-primary-7;
  margin: 0 0 20px 0;
  height: 0;

  @media #{$gel-mq-md} {
    width: 25%;
  }

  @media #{$gel-mq-lg} {
    width: 30%;
  }
}

.policy-doc-details {
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  line-height: 1.67;
  font-size: 0.875rem;

  @media #{$gel-mq-lg} {
    font-size: 1rem;
  }

  h3 {
    color: $gel-bright-grey;
    font-size: 0.75rem;
    //text-transform: uppercase;
    font-weight: 600;

    margin-top: 1rem;
    margin-bottom: 0;
  }

  span, a {
    color: $edu-brand-primary-1;
    font-weight: bold;
  }

  p {

    @media #{$gel-mq-md} {
      margin-top: 0.8rem;
    }
  }
}


.policy-rhs-box {
  margin-top: 20px;
  border: 1px solid $gel-lighter-grey;
  border-radius: 2px;
  padding: 15px 10px 0 15px;
  font-size: 0.875rem;
  line-height: 1.43;
  color: $gel-bright-grey;

  @media #{$gel-mq-md} {
    margin-bottom: 5px;
  }

  @media #{$gel-mq-lg} {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;
  }


  h3 {
    font-size: 0.875rem;
    color: $edu-brand-primary-1;
    font-weight: bold;

    letter-spacing: 0rem;
    margin-bottom: 5px;

    @media #{$gel-mq-md} {
      margin-bottom: -2px;
    }

    @media #{$gel-mq-lg} {
      font-size: 1rem;
      line-height: 1.38;
      margin-bottom: 10px;
    }
  }

  p {
    margin-top: 2px;

    @media #{$gel-mq-md} {
      margin-top: 5px;
    }
  }


  ul.gel-link-list {
    padding-left: 0;
    margin-bottom: 14px;

    & > li {
      margin-bottom: -5px;
    }

    li a {
      color: $gel-bright-grey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    & li:before {
      content: "\f105";
      color: $edu-brand-primary-1;
      font-size: 1rem;
      margin-top: 1px;

      @media #{$gel-mq-lg} {
       font-size: 1.25rem;
       margin-top: -2px;
     }
   }
 }

}

.policy-bg-block {
  position: absolute;
  background-color: $gel-white;
  width: 100vw;
  height: 100%;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.policy-secure-button {
  width: 63px;
  height: 20px;
  border-radius: 4px;
  background-color: $edu-brand-primary-1;
  color: $gel-white;
  font-size: 0.8125rem;
  font-weight: normal;
  padding: 3px;
  vertical-align: middle;
}

.policy-callout-box {
  background-color: $gel-off-white;
  font-size: 1rem;
  line-height: 1.38;
  padding: 15px;
  border-radius: 2px;

  h3 {
    font-size: 1rem;
    color: $edu-brand-primary-1;
    font-weight: bold;
    letter-spacing: 0rem;
    margin-bottom: 5px;
  }
}

//GXF-1238

.policy-document-history {

  h2 {
    font-family: $gel-font-family;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    text-align: left;
    color: $gel-bright-grey;
    //text-transform: uppercase;
  }

  h3 {
    @extend h2;
    color: $edu-brand-primary-1;
    margin-bottom: 0px;
  }

  .standard {
    font-family: $gel-font-family;
    font-size: 0.875rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    text-align: left;
    color: $gel-bright-grey;
    @media #{ $gel-mq-lg} {
      font-size: 1rem;
    }
  }

  .bold {
    font-family: $gel-font-family;
    font-size: 0.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    text-align: left;
    color: $edu-brand-primary-1;

    @media #{ $gel-mq-lg} {
      font-size: 1rem;
    }
  }

  .mixed_contentarea{
    padding-left: 25px;
    margin-top: 5px;

    @media #{$gel-mq-md , $gel-mq-lg} {
      margin-top: 0px;
      padding-left: 0px;
    }
  }

}

/* GXF-1240 */

.policy-landing-main-heading{
  hr {
    margin-bottom: 0 ;
    margin-top: 0px ;
    width: 72px;
    height: 2px;
    border: solid 1px $edu-brand-primary-1;
    background-color: $edu-brand-primary-1;

    /* ie fix */
    text-align: left;


  }

  h1{
    margin-top: 0px !important;
    font-family: $gel-font-family;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    text-align: left;
    color: $edu-brand-primary-1;
    padding-top: 15px;

    @media #{$gel-mq-md} {
      margin-bottom: 33px;
      font-size: 1.375rem;
    }

    @media #{$gel-mq-lg} {
      margin-bottom: 33px;
      font-size: 1.75rem;
    }
  }
}

.policy-landing-header-left{
 @media #{$gel-mq-md}{
      width: 70% !important;
    }
}

.policy-landing-header-right{

  width: 100%;
  margin: 0;

  a{
    letter-spacing: 0.01em;


    @media #{$gel-mq-lg}{
      display: inline-block !important;
    }
  }
  p{
    margin-top: 0;

    @media #{$gel-mq-lg}{
      display: block !important;
    }
  }

  span{

    @media #{$gel-mq-lg}{
      margin: 20px 0 20px 0;
      display: inline !important;
    }
  }

  .close-popup{
    @media #{$gel-mq-md}{
      display: none !important;
    }
    @media #{$gel-mq-lg}{
      display: none !important;
    }

  }

  @media #{$gel-mq-md}{
    //width: 30%;
    margin-top: 20px;
  }

}

.policy-landing-header-text {
  font-family: $gel-font-family;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  color: $gel-dark-grey;
}

.policy-landing-header-text--bold {

  @extend .policy-landing-header-text;

  font-weight: bold;
  line-height: 1.5;
}

.policy-landing-header-text--small {

  @extend .policy-landing-header-text;

  font-size: 0.875rem;
  line-height: 1.43;

  a{
    text-decoration: underline;
    font-weight: 300;

    &:hover{
      text-decoration: none;
    }
  }
}

a.policy-landing-header-text--small {


  &:focus{
    outline-offset: -1px !important;
  }
}

.policy-landing-content{

  padding-top: 27px;
  color: $gel-bright-grey;

  a,p{
    color: $gel-bright-grey;
  }

  h2{
    font-family: $gel-font-family;
    font-size: 1.75rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    text-align: left;
    color: $edu-brand-primary-1;
    margin-bottom: 27px;
  }

  .link-tag{
    background-color: $edu-brand-primary-1;
    white-space: nowrap;
  }

  [data-scroll-passed=true]{
    height: 130px;
    top: 0;
    position: fixed;
    background-color: $gel-white;
    z-index: 20000;
    transform: translateY(0);
    transition: all 0.2s;
    text-decoration: none;
    margin: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px $edu-brand-primary-1;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.1);

    @media #{$gel-mq-md}{
      height: 90px;

      ol{
        width: 475px;
      }
    }

    @media #{$gel-mq-lg}{
      margin-left: auto;
      height: 50px;
      width: 100%;
      padding: 10px 0 13px;

      ol{
        width: 945px;
      }
    }

    .gel-linkgroup-list li{

      padding-left: 18px !important;

      &:before{
        margin-top: 0;
      }
    }
  }

  [data-gel-a-z-anchors-scroll]{
      height:130px;
      margin-bottom: 20px;

    @media #{$gel-mq-md}{
      height:90px;
      margin-bottom: 0;
    }

    @media #{$gel-mq-lg}{
      height:90px;
    }
  }
}

.policy-landing-heading{
  margin-top: 27px !important;
}

.policy-landing-subheading-container{
  border-bottom: solid 2px $gel-lighter-grey;
  margin: 0 0 10px 0;

  @media #{$gel-mq-lg}{
    margin: 10px 0 10px 0;
  }

  h2{
    font-size: 1rem !important;

    @media #{$gel-mq-md}{
      font-size: 1.375rem !important;
      margin-bottom: 27px !important;
    }

    @media #{$gel-mq-lg}{
      font-size: 1.75rem !important;
    }
  }
}

.policy-landing-subheading {
  display: inline-block;
}

.policy-landing-subheading-selected {
  border-bottom: solid 2px $edu-brand-primary-1;
}

.policy-view-toggle{
  width: 228px;
  height: 35px;
  border-radius: 4px;
  border: solid 1px $gel-lighter-grey;
  display: block;
  margin-bottom: 19px;

  @media #{$gel-mq-md}{
    float: right;
    display: inline-block;
  }

   a {
    color: $gel-dark-grey;
    display:inline-block;
    height: 100%;
    width: 50%;
    font-weight: 600;
    font-size: 0.75rem;
    //text-transform: uppercase;
    box-sizing: border-box;
    line-height: 35px;
    font-family: $gel-font-family;
    text-align: center;
    text-decoration: none;
  }
}

.policy-view-toggle-selected{
  background-color: $gel-off-white;
  box-sizing: border-box;
}

.policy-landing--h3 {
  font-family: $gel-font-family;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  text-align: left;
  color: $edu-brand-primary-1;
  padding-bottom: 10px;
  display: inline-block;
}

.policy-radios{

  display: none;

  @media #{$gel-mq-md}{
    margin-bottom: 10px;
    display: block;
  }

  input[type="radio"]{
    margin-right: 0;
  }

  div{
    display: inline-block;
  }

  input[type="radio"] + label{
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.2;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.policy-dropdown-container{
  display: block;
  position: relative;

  @media #{$gel-mq-md}{
    margin-bottom: 10px;
    display: none;
  }

  .dropdown-chevron{
    right: 2%;
    top: 43%;
    position: absolute;
    &:before {
      content: "\f078";
      font-family: FontAwesomeRegular;
      font-style: normal;
      color: $gel-dark-grey;
    }
  }

  label{
    color: $gel-dark-grey;
  }

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 10px;
  }
}

/* GEL search form override GXF-1240 */

.policy-search{

  > div{
    width: 90% !important;
  }

  a{
    &:focus{
      outline-offset: -1px !important;
    }
  }

  .gel-search--body button[type="submit"] {
    top: 0px;
    right: 0;
    height: 53px;
    color: $edu-brand-primary-1;
    border: 0;
    border-radius: 0px;
    background: transparent;

    i {
      color: $edu-brand-primary-1;
    }

    &:hover{
      background: none !important;
      outline: 0 !important;

      i:before {
        color: $edu-brand-primary-1;
      }
    }

    &:focus{
      color: $gel-black;
      background: transparent;
      border-color: $gel-black;
      border: solid 1px;

      i:before {
        color: $edu-brand-primary-1;
      }
    }
  }

  .gel-search--body input[type="text"]{
    background-color: $gel-white;
    border: solid 1px $gel-white;
    height: 54px;

    &:focus{
      border-color: $gel-black;
      background: transparent;
      color: $gel-black;
    }

     /* Hide Placeholder text on mobile*/
    &::placeholder {
      font-size: 0;

      @media #{$gel-mq-md}{
        font-size: 1rem;
      }
    }
  }

  .gel-search{

    width: 100% !important;
    margin-top: 0px !important;

    input#txtSearch6{
      width: 100% !important;
    }
  }

  .gel-search__helper{

    font-size: 0.875rem;
    font-weight: bold;
    color: $gel-dark-grey;
    margin-top: 30px;

    a{
      font-weight: 300;
      color: $gel-bright-grey;
    }
  }
}

/* A to Z View GXF-1240 */

.gel-a-z-anchors li a{
  border: solid 1px rgb(5,63,81);
  color: rgb(5,63,81);

  &:hover{
    background-color: $edu-brand-primary-1;
  }
}

.gel-a-z-anchors li.active a{
  background-color: $edu-brand-primary-1;
}

/* A to Z View Results Table override GXF-1240 */
.gel-results-table{

  margin-bottom: 20px;

  @media #{$gel-mq-md} {
    margin-bottom: 21px;
  }

  @media #{$gel-mq-lg} {
    margin-bottom: 30px;
  }

  span.gel-results-table__download-text {
    display: block;
  }


  a.gel-results-table__download-text {
    display: inline;
  }

  .gel-results-table-link-container{
    padding-bottom: 9.5px;

    @media #{$gel-mq-md} {
      padding-bottom: 24.5px;
    }
    @media #{$gel-mq-lg} {
      padding-bottom: 30px;
    }
  }

  .gel-results-table__heading{
    display: none;
    background-color: $edu-brand-primary-1;

    @media #{$gel-mq-md} {
      display: flex;
    }

    @media #{$gel-mq-lg} {
      padding: 9px;
      display: flex;
    }
  }

  .gel-results-table-main-content{

    padding-left: 0 !important;

      @media #{$gel-mq-md} {
        padding-left: 12px !important;
      }

      @media #{$gel-mq-lg} {
        padding-left: 12px !important;
      }
  }


  .gel-results-table-secondary-content{

    @media #{$gel-mq-md} {

      div:first-child{
        width: 27% !important;
      }

      div:nth-child(2){
        width: 30% !important;
      }

      div:nth-child(3){
        width: 31% !important;
      }
    }
  }

  .gel-results-table__link-text{
    color: $edu-brand-primary-1;
    display: inline;
  }

  .gel-results-table__code-text{
    color: $edu-brand-primary-1;
  }

  .link-tag{
    background-color: $edu-brand-primary-1;
    white-space: nowrap;
  }

  ul li:before {
    color: $edu-brand-primary-1;
    left: 0;

    @media #{$gel-mq-md} {
      left: 12px;
    }

    @media #{$gel-mq-lg} {
      left: 12px;
    }
  }

  ol:not(:first-child){

    li{
      padding-top: 4px;

      @media #{$gel-mq-md} {
        padding-bottom: 0px;
        padding-top: 12px;
      }

      @media #{$gel-mq-lg} {
        padding-bottom: 0px;
        padding-top: 20px;
      }
    }


    li:not(:first-child){
      margin-top: 30px;
      padding-top: 0;

      @media #{$gel-mq-md} {
      }

      @media #{$gel-mq-lg} {
      }
    }

    ul li{
      margin-top: 10px !important;
      padding-top: 0 !important;
    }
  }
}

.gel-results-table__AtoZ{
  display: block;
}

.gel-results-table__AtoZ h3{
  color: $edu-brand-primary-1;
  padding-top: 30vh;
  margin-top: -30vh;
  margin-bottom: 0;
  border-bottom: solid 1px #053f51;

  @media #{$gel-mq-md} {
    padding-top: 25vh;
    margin-top: -25vh;
    margin-bottom: -20px;
    border-bottom: none;
  }

  @media #{$gel-mq-lg} {
    padding-top: 10vh;
    margin-top: -10vh;
    margin-bottom: -20px;
    border-bottom: none;
  }
}

.gel-a-z-anchors {
  padding-bottom: 20px;

  position: relative;
  width: 310px;
  margin: 0 auto;
  height: 80px;

  [data-scroll-passed="true"] & {
    transform: translateX(-8px);
  }

  @media #{$gel-mq-md}{
    position: relative;
    width: 475px;
    margin: 0 auto;
    height: 42px;

    [data-scroll-passed="true"] & {
      transform: translateX(-8px);
    }
  }

  @media #{$gel-mq-lg}{
    width: 945px;
    margin: 0 auto;
    height: 62px;
    margin-bottom: 40px;

    [data-scroll-passed="true"] & {
      transform: translateX(1px);
    }
  }

  li{
    @media #{$gel-mq-lg}{
      height: 34px;
      width: 29px;
      line-height: 34px;
    }
  }

  li a.active{
    background-color: $edu-brand-primary-1;
  }

  li span.inactive {
    border: 0;
  }

  li a:hover {
    background-color: $gel-lighter-grey;
    color: $gel-dark-grey;
  }

  li a:focus {
    background-color: $edu-brand-primary-1;
    color: #fff;
  }
}

.anchor-container{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 20000;
  background-color: white;
}

/* GXF-1236 */
.subheading{
  color: $gel-dark-grey;
}

/*GXF-1242 */

.policy-heading {

  overflow: hidden;

  @media #{$gel-mq-md} {
    margin: 0 0 33px 0;
  }

  hr{
    margin-bottom: 15px;
    width: 72px;
    height: 2px;
    border: solid 1px $edu-brand-primary-1;
    background-color: $edu-brand-primary-1;
    /* ie fix */
    text-align: left;
  }

  h1{
    margin-top: 0px !important;
    font-family: $gel-font-family;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    text-align: left;
    color: $edu-brand-primary-1;
    padding-top: 15px;

    @media #{$gel-mq-md} {
      margin-bottom: 33px;
      font-size: 1.375rem;
    }

    @media #{$gel-mq-lg} {
      margin-bottom: 33px;
      font-size: 1.75rem;
    }
  }
}

.gel-results-table{

  margin-top: 20px;

  .gel-results-table__heading{
    background-color: $edu-brand-primary-1;
    min-height: 35px;
    height: auto;
  }

  .gel-results-table__link-text{
    color: $edu-brand-primary-1;
  }

  .gel-results-table__code-text{
    color: $edu-brand-primary-1;
  }

  .link-tag{
    background-color: $edu-brand-primary-1;
  }
}

.gel-results-table > ol:not(:first-child) > li {
  padding-bottom: 10px !important;
}

.gel-results-table-link-container{
  padding-bottom:20px !important;
}

//POL-78

nav.policy-manual-fix { //Fix because template structure doesn't match parse file
  position: absolute;
  top: -50px;
  left: 25px;
  width: 90%;
  @media #{$gel-mq-lg} {
    left: 40px;
  }
}

main.policy-manual-fix {
  background: #fff;
}

.close-popup-icon{
  float: right;
  clear: both;
  top: 0;
  right: 0;
  position: absolute;
  padding: 3px;
  border: none;
  background: none;
  display: none;

  &:hover{
  cursor: pointer;
  };

  &:before {
     font-family: 'FontAwesomeRegular';
     content: '\f00d';
     color: #333333;
    @media #{$gel-mq-lg} {
      display: none ;
    }
  }
}

.policy-enquires-main-content{
  display: none;

  @media #{$gel-mq-lg} {
    display: block;
  }
}

.policy-enquires-popup {
  width: 80%; /* Set your desired with */
  top: 100px;
  left: 50%;
  margin-top: 100; /* Changes with height. */
  margin-left: -45%; /* Your width divided by 2. */
  position: fixed;
  background: rgb(255, 255, 255);
  z-index: 20000;
  border: solid 1px $gel-light-grey;
  padding: 15px;
  border-radius: 2px;

  .close-popup-icon{
    display: block;
  }

  .policy-enquires-main-content{
    display: block;
  }

  .policy-enquires-popup-heading{
    display: none !important;
  }

  @media #{$gel-mq-md} {
    width: 50%; /* Set your desired with */
    top: 100;
    left: 50%;
    margin-top: 100; /* Changes with height. */
    margin-left: -25%; /* Your width divided by 2. */
  }

  @media #{$gel-mq-lg} {
    .policy-enquires-main-content{
      display: block;
    }
  }
}

.policy-enquires-popup-heading{

  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  display: block !important;

  @media #{$gel-mq-lg} {
    display: none !important;
  }

  &:hover{
    cursor: pointer;
  };
}

.gel-download-box{
  border-radius: 2px;
}

.policy-print {
  display: none;
}

.policy .link-tag-icon , .policy .link-tag{
  background-color: $edu-brand-primary-1;
  color: $gel-white;
  white-space: nowrap;
  vertical-align: initial;
  position: relative;
}

.policy .gel-section-header .link-tag-icon , .gel-section-header .link-tag {
  background-color: rgb(255,255,255);
  color: rgb(5,63,81);
}

.gel-link-tag-basic{

  .link-tag{
    font-size: 0.875rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
    background-color: transparent;
    padding-left: 0;

    @media #{$gel-mq-lg} {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .link-tag-icon {
    background-color: transparent;
    text-decoration: none;

    &:before{
      font-family: FontAwesomeRegular;
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      line-height: 1.2;
      color: #333333;
      padding-left: 0;
    }
  }

  a{
    text-decoration: underline;
    display: inline-block;
  }
}

.policy-rhs-box .gel-link-tag-basic{

  margin-bottom: 11px;

  .link-tag{
    white-space: normal;
    display: inline-block;
    width: auto;
    text-indent: -12px;
    margin-left: 12px;;
    padding-left: 15px;
    color: #003e52;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;

    @media #{$gel-mq-lg} {
      font-size: 1rem;
    }
  }

   .link-tag-icon:before{
      padding-right: 12px;
      color: #003e52;
   }
}

.policy-heading .gel-link-tag-basic{

   margin: 10px 0 20px 0;

   @media #{$gel-mq-md} {
      float: right;
      margin: 0;
   }
}

.policy-results-header .gel-link-tag-basic{

  margin-bottom: 20px !important;

  @media #{$gel-mq-lg} {
    margin-top: 25px;
  }
}

.policy-heading h1{
  display: inline;
}
