.policy {
  h1 {
    &.gef-section-header__logo {
      border-bottom: none;
    }
  }
}

.policy-print {
  display:block;
  margin:20px 0;
  font-weight:bold;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

.policy-secure-button,
.policy-landing-main-heading hr,
.policy-landing-header-left hr,
.policy-results-header hr,
.policy-heading hr {
  display:none;
}

.policy-list-items {

  font-size: 1rem;

  ol {
    margin-left: 45px!important;
    counter-reset: section;
  }

  & > ol > li, & > div > ol > li {
    margin-bottom: 20px;
    padding-left: 25px;
    font-weight: bold;
    margin-left: -40px;
  }

  & > div > ol > li {

    &:before {   
     
      font-size: 1.125rem;   

    }

    & h2 {
     
      margin-left: 0;
      
      font-size: 1.125rem;  
      line-height: 1.2; 

    }
  }

  ol li {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-top: 3px;

    a {
      font-weight: normal;
    }

    &:before {
      counter-increment: section;
      content: counters(section, ".")".";
      position: absolute;
      left: 0;
    }

    & ol li {
      font-weight: normal;
      margin-left: -40px;
      padding-left: 45px;

      &:before {
        content: counters(section, ".")" ";
      }

      & ol li {
        margin-left: -40px;
        padding-left: 60px;

        & ol li {
          margin-left: -40px;
          padding-left: 80px;
        }
      }
    }
  }

  ul li {
    margin-left: -20px!important;
    padding-left: 25px!important;
    font-weight: normal;


    &:before {
      counter-increment: none;
      font-family: 'FontAwesome';
      content: "\25CF"!important;
    }
  }
}

.policy-callout-box  ul {
    list-style: none;

  li:before {

    content: "\f105";
    font-size: 1.25rem;
    margin-top: 2px;
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
  }
}
