$fonts: (
	"montserrat-light" : 400,     // used as regular
	"montserrat-regular": 600,    // used as bold

	) !default;


// ----------------------
// CUSTOM VARIABLES
// ----------------------

$edu-brand-primary-1:       rgb(4,30,66); //#041E42  OLD: rgb(,62,82);
$edu-brand-primary-2:      	rgb(4,30,66);                 //#041E42
$edu-brand-primary-3:       rgb(242,242,242);             //#F2F2F2
$edu-brand-primary-4:       rgb(224,224,224);             //#E0E0E0
$edu-brand-primary-5:       rgb(29,108,126);              // dark cyan

$edu-brand-primary-6:       rgb(4,30,66);                 //#041E42
$edu-brand-primary-7:       rgb(206,0,55);                //#CE0037


//----- HR colour -----//
$edu-brand-primary-8:       rgb(180,180,180);  //(#b4b4b4)
//---------------------//
$edu-brand-primary-9:       #407EC9;
$edu-brand-primary-10:      #1D428A;
$edu-brand-primary-11:      #E5E5E5;
$edu-brand-primary-12:      #FAFAFA;

$edu-brand-action-1:     $edu-brand-primary-5;  // action colour for primary-1
$edu-brand-action-2:     $edu-brand-primary-4;   // action colour for primary-2


$edu-policy-bg:              rgb(230, 235, 237);
$edu-section-footer-bg:      #E9E9E9;


//----------------------//
// FEATURE PANEL COLOURS//
//-----------------------//



// ----------------------
// OVERRIDE gel VARIABLES
// ----------------------

$gel-primary-bg:                                            $edu-brand-primary-1;                   // primary colour background
$gel-primary-bg-action:                                     $edu-brand-action-1;                    // primary colour background on action (hover/focus)

$gel-secondary-bg:                                          $edu-brand-primary-2;                   // seconday colour background
$gel-secondary-bg-action:                                   $edu-brand-action-2;                    // seconday colour background on action (hover/focus)

$gel-highlight-panel-bg:                                    $edu-brand-primary-4;                        //old $edu-brand-primary-3;                   // Background on panels that stand out from the body

$gel-decoration:                                            $edu-brand-primary-2;                   // decorative colour

$gel-content-header:                                        $edu-brand-primary-1;                    // header colour for content areas


$gel-focus-outline:                                         1px solid $edu-brand-primary-1;
$gel-focus-inverse:                                         1px solid #fff;
$gel-focus-blocks-outline-offset:                           -6px;
$gel-focus-text-outline-offset:                             2px;

$tab-active-background:                                     $edu-brand-primary-1;
$tab-active-color:                                          #fff;

$search-box-body-button-bg:                                 $edu-brand-primary-1;
$search-box-body-input-border:                              $edu-brand-primary-1;

$drawer-tab-bg:                                             $edu-brand-primary-1;
$drawer-tab-bg-action:                                      $edu-brand-primary-1;
$drawer-panel-border:                                       2px solid $edu-brand-primary-1;
$gel-section-footer-bg:                                     $edu-section-footer-bg;

// BUTTONS
$button-hover-background:                                   #000;

// BACK TO
$gel-back-to-icon-color:                                    $edu-brand-primary-1;

// EDUCATION BANNER
$gel-edu-banner-bg:                                         $edu-brand-primary-1;

// NOTICE RIBBON
$gel-notice-ribbon-cta-color:                               $edu-brand-primary-1;

//GLobal header login hover bg from SWS
$gel-global-header-login-hover:     rgba(0, 0, 0, 0.1);

$sws-meganav-bg: $edu-brand-primary-6;
$sws-uk-dropdown-navbar:#f5f5f5;
$sws-light-accent: #efefef;
// MEDIA QUERIES FOR EVENTS COMPONENT
$sws-mq-md: "screen and (max-width: 768px)" !default;
$sws-hero: $edu-brand-primary-1;
$sws-screen-width: 1440px;
$sws-theme-font-color:black;
$sws-uk-dropdown-navbar:#f5f5f5;
$sws-black :#000;
$sws-white :#fff;
$sws-light-accent: #eaeaea;
$sws-dark-accent: #5f5f5f;
//----------------------------------

//BASE FONT
$edu-primary-font-family : 'Montserrat', sans-serif;
$edu-primary-font-weight : 300; //Montserrat Light
$edu-primary-font-size : 16px;
$edu-primary-line-height : 24px;

//SECONDARY FONT
$edu-secondary-font-weight : 600; //Montserrat Semibold

//SMALL TEXT
$edu-sm-font-size : 14px;
$edu-sm-line-height : 20px;

//TEXT COLOUR
$edu-navy : #041E42;
$edu-grey : #666666;
$edu-link-color : #003E52; //Text Link

//COLOUR PALETTE
$edu-primary-brand-1: #041E42; //Navy
$edu-primary-brand-2: #CE0037; //Red
$edu-primary-brand-3: #C8DCF0; //Baby blue
$edu-primary-brand-4: #FFFFFF; //White

$edu-secondary-brand-1: #1D428A; //Blue default
$edu-secondary-brand-2: #407EC9; //Blue mid
$edu-secondary-brand-3: #6CACE4; //Blue tertiary
$edu-secondary-brand-4: #EE3C48; //Highlight pink
$edu-secondary-brand-5: #F3B8B5; //Peach
$edu-secondary-brand-6: #E6E7E9; //Grey

$edu-tertiary-brand-1: #666666; //Grey 60
$edu-tertiary-brand-2: #B3B3B3; //Grey 30
$edu-tertiary-brand-3: #D9D9D9; //Grey 15
$edu-tertiary-brand-4: #E5E5E5; //Grey 10
$edu-tertiary-brand-5: #F2F2F2; //Grey 5
$edu-tertiary-brand-6: #FAFAFA; //Grey 2

//SYSTEM ALERTS
$edu-alert-color-1: #FF635C; //Error
$edu-alert-color-2: #F69900; //Warning
$edu-alert-color-3: #0CAC78; //Success
$edu-alert-color-4: #00BFE9; //Info


$search-color-primary: #CE0037; // #CE0037
$search-heading-color: #222;
$search-panel-background: #F2F2F2;
$search-pagination-border-color: #E6E7E9;
$search-result-type-text: #666;
$search-link-color: #999;

// Catalogue
$catalogue-divider: $color-grey-60;

// Card
$card-background-color: rgba(255, 255, 255, 0.8);
$card-background-color-hover: #fff;
$card-border-color: $color-red;
$card-action-color: $color-red;
$card-text-title: #041E42;
$card-text-body: #666;
$card-text-info: #041E42 !important;
$card-highlight-background-color: #1D428A;
$card-overlay-background-color: rgba(4, 30, 66, 0.85);
$card-overlay-background-color-hover: rgba(4, 30, 66, 1);

// SHOW HIDE
// SHOW HIDE - Alternative Styles
$showhide-alt1-border: 1px solid #B3B3B3;
$showhide-alt1-title-background: #FFF;
$showhide-alt1-title-color: #041E42 ;
$showhide-alt1-focus-outline: 2px solid #000;