// FROM GEL
$gel-max-width:                                             1024px !default;


// MEDIA QUERIES
$gel-mq-md:                                                 "screen and (min-width: 768px)" !default;        // tablet and up
$gel-mq-lg:                                                 "screen and (min-width: #{$gel-max-width})" !default;  // small laptops and up
$gel-mq-xl:                                                 "screen and (min-width: 1220px)" !default;       // larger desktops


// BOOTSTRAP MEDIA QUERIES
$gel-mq-bs-xs:                                              "screen and (min-width: 320px)" !default;        // Extra small screen/phone and up
$gel-mq-bs-sm:                                              "screen and (min-width: 576px)" !default;        // Small screen/phone and up
$gel-mq-bs-md:                                              "screen and (min-width: 768px)" !default;        // Medium screen/tablet and up
$gel-mq-bs-lg:                                              "screen and (min-width: 992px)" !default;        // Large screen/desktop and up
$gel-mq-desktop:                                            "screen and (min-width: 1024px)" !default;       // Desktop mode
$gel-mq-bs-xl:                                              "screen and (min-width: 1200px)" !default;       // Extra large screen/wide desktop and up
$gel-xs-min:                                                320px !default;
$gel-xs-max:                                                575px !default;
$gel-sm-min:                                                576px !default;
$gel-sm-max:                                                767px !default;
$gel-md-min:                                                768px !default;
$gel-md-max:                                                991px !default;
$gel-lg-min:                                                992px !default;
$gel-touch-max:                                             1023px !default;
$gel-desktop-min:                                           1024px !default;
$gel-lg-max:                                                1199px !default;
$gel-xl-min:                                                1200px !default;


@import './overides/colors';
@import './variables';
@import './hacks/home';
